
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

                
        



<html xmlns:esi='http://www.edge-delivery.org/esi/1.0' xmlns='http://www.w3.org/1999/xhtml'>
<head>
<title>
CRAZINESS!  | TheSlap | Hollywood Arts' Victorious
</title>
<meta content='CRAZINESS! ' name='description' />
<meta content='CRAZINESS! ' name='keywords' />

<link href='/images/favicon.ico' rel='shortcut icon' type='image/x-icon' />
<script src="/javascripts/bundled/theslap.js?1298056343" type="text/javascript"></script>
<link href="/stylesheets/bundled/theslap.css?1299552016" media="screen" rel="stylesheet" type="text/css" />
<script src="/javascripts/support/vplayer.js?1290459952" type="text/javascript"></script>
<script src="/javascripts/bundled/assets.js?1299515469" type="text/javascript"></script>
<script src="/javascripts/videos_and_photos.js?1269378793" type="text/javascript"></script>
<script src="/javascripts/video_and_photo_lists.js?1276628144" type="text/javascript"></script>


<!--[if lt IE 7]>
<link href="/stylesheets/compiled/ie.css?1299552014" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if lt IE 8]>
<link href="/stylesheets/compiled/ie7.css?1299552016" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->

</head>
<body class='bp video_page videos'>

<div id='body_container'>
<div id='header_container'>
<div id='header'>
<div id='nav_adornment'></div>
<script type='text/javascript'>
  //<![CDATA[
    var user_menu_template = "    <ul>\n      <% try { %>\n        <li class=\"first\">Hello: <span class=\"user_name\"><%= user.username %><\/span><\/li>\n        <li><a href=\"/my/profile\">My profile<\/a><\/li>\n\n        <% if(user.admin) { %>\n          <li><a href=\"/admin/dashboard\">Admin dashboard<\/a><\/li>\n          <li><a href=\"/\">View site<\/a><\/li>\n        <% } %>\n        <li class=\"last\"><a href=\"/users/logout?return_to_after_logged_out=%2Fclips%2Fcraziness\">Logout<\/a><\/li>\n      <% } catch(err) { %>\n        <li><a href=\"/register\">Register<\/a><\/li>\n        <li class=\"last\"><a href=\"/users/login?return_to_if_logged_out=%2Fclips%2Fcraziness\" id=\"login_link\">Login<\/a><\/li>\n      <% } %>\n    <\/ul>\n";
  //]]>
</script>

<div id='user_menu'>
<noscript>
<h3 class='no_javascript_warning'>
Javascript is required to use TheSlap. Please enable Javascript and reload this page.
</h3>
</noscript>
</div>

<div id='logo'>
<a href='/'>
<object data='/swf/slap_logo.swf' height='103' id='slap_animation' type='application/x-shockwave-flash' width='327'>
<param name='wmode' value='transparent' />
<param name='movie' value='/swf/slap_logo.swf' />
<img alt='The Slap' src='/images/themes/default/home_logo.png' />
</object>
</a>
</div>
<div id='nav'>
<ul>
<li class='home first'><a href="/">Home</a></li>
<li class='characters'><a href="/profiles">Profiles</a></li>
<li class='videos'><a href="/clips?newest=true">Clips</a></li>
<li class='photos'><a href="/pix?newest=true">Pix</a></li>
<li class='songs'><a href="/tunes">Tunes</a></li>
<li class='games'><a href="/games">Games</a></li>
<li class='search last'><div id='search'>
<form action="/search" method="get">

<input class="search_field" id="q" name="q" placeholder="enter text here" size="15" type="text" />
<button id='search_button' type='submit'>
Search
</button>
</form>
</div>
</li>
</ul>
<div id='nav_bar_right_cap'></div>
</div>

</div>
</div>
<div id='main_container'>
<div id='body_shadow_top'></div>
<div id='body_shadow_left'></div>
<div id='main'>
<div id='content_container'>
<div id='content_callout_container'>
<div id='content_callout_tab'></div>
<div id='content_callout'>
<div id='banner_ad'>
<script type='text/javascript'>
  //<![CDATA[
    mtvn.btg.Controller.placeAd({size:'728x90',contentType:"adi",keyValues:"!category=expand;!category=vic",sections:zone});
  //]]>
</script>
</div>
</div>
</div>
<div id='content_header'>
<h1>The Clips</h1>
<div id='header_controls'><div class='also_see_container'><a href="/clips?newest=true">See All Clips</a></div>
</div>

</div>
<div class='video' id='content'>

<div id='content_top'><div class='fancy_info_block info_header'>
<div class='row title'>
<h2 class='label'>You're Watching:</h2>
<h2 class='value'>CRAZINESS! </h2>
</div>
<div class='row description'>
<h2 class='label'>In This Video:</h2>
<h2 class='value'>Fighting! Car smashing! A flirtatious Tori! This weekend's new Victorious is so scandalous!
See what's going down! </h2>
</div>
<div class='row playlist'>
<h2 class='label'>Category:</h2>
<h2 class='value'><a href="/clips?playlist=2">TheSlap Videos</a></h2>
</div>
<div class='row'>
<div class='asset_actions' id='video_349_asset_actions'>

<span id='video_349_favorite'>
<a href="/clips/craziness/favorites.js" class="add_favorite" title="Add to my page">Add to my page</a>

</span>

<span id='video_349_send_to_friend'>
<a href="/clips/craziness/send_to_friend/new" class="send_to_friend" title="Send to friend">Send to friend</a>
</span>

<span id='video_349_embed'>
<a href="/clips/craziness/embed/new" class="embed" title="Embed on your webpage">Embed on your webpage</a>
</span>

</div>

</div>
</div>
<div class='player_container'>
<div class='videoContainer' id='video_player'>
<div class='videoInfo'>
src=http://staticassets.www.theslap.com/videos/craziness/original.mp4?1296870498,config=/clips/craziness/playlist.xml,poster=http://staticassets.www.theslap.com/video_thumbnail_images/2173904/large.png?1296867371,slug=craziness,resource_id=349

</div>
<div class='videoOverlay' id='clickToPlay'>
<img alt="CRAZINESS! " height="321" src="http://staticassets.www.theslap.com/video_thumbnail_images/2173904/large.png?1296867371" width="570" />
<div class='playIcon'>
<img alt="Play" height="60" src="/images/play_icon.png?1269571366" width="60" />
</div>
<div class='videoLoadingIndicator'>
<img alt="Loading" height="32" src="/images/loading_video.gif?1269571366" width="32" />
</div>
</div>
<div class='videoOverlay' id='moreClips'>
<h3>
Play Another Clip?
</h3>
<ol>
<li>
<a href='/clips/craziness'>
<img src='http://staticassets.www.theslap.com/video_thumbnail_images/2173904/small.png?1296867371' />
<strong>CRAZINESS! </strong>
<span>Fighting! Car smashing! A flirtatious Tori! This weekend's new Victorious is so scandalous!
See what's going down! </span>
</a>
</li>
<li>
<a href='/clips/big-news'>
<img src='http://staticassets.www.theslap.com/video_thumbnail_images/2174291/small.png?1296869591' />
<strong>BIG NEWS!</strong>
<span>SATURDAY, FEB. 5 at 8 PM on Nick!!!!
Our friends at Hollywood Arts get their own reality show! And, what happens next is NOT pretty!
Get a sneak peek!</span>
</a>
</li>
<li>
<a href='/clips/andre-sings-song-to-you'>
<img src='http://staticassets.www.theslap.com/video_thumbnail_images/2037409/small.png?1295306999' />
<strong>Andre Sings: Song2You</strong>
<span>Andre rocks out with his NEW HIT: Song2You! It's so good it almost makes us forget about The Diddly Bops! ...almost.</span>
</a>
</li>
</ol>

</div>
</div>
</div>
</div>
<div id='content_bottom'>
<div id='col_secondary'><div id='block_ad_container'>
<div id='block_ad_tab'>
<div class='title'>
advertisement
</div>
</div>
<div id='block_ad'>
<script type='text/javascript'>
  //<![CDATA[
    mtvn.btg.Controller.placeAd({size:'300x250',contentType:"adi",keyValues:"!category=expand;!category=vic",sections:zone})
  //]]>
</script>
</div>
</div>

</div>
<div id='col_primary'><div class='fancy_info_block info_footer'>
<div class='row uploaded_by'>
<h2 class='label'>Video Uploaded By:</h2>
<h2 class='value'><a href="/profiles/tori-vega">Tori Vega</a></h2>
</div>
<div class='row slapped'>
<h2 class='label'>Who is Slapped In This Video:</h2>
<div class='value slapped_container slapped_thumbnails'>
<div>
<a href="/clips?slapped=1"><img alt="Andre Harris" src="http://staticassets.www.theslap.com/square_profile_images/33/medium.png?1295478655" /></a>
<br />
<strong>
<a href="/clips?slapped=1" title="Andre Harris">Andre</a>
</strong>
</div>
<div>
<a href="/clips?slapped=4"><img alt="Beck Oliver" src="http://staticassets.www.theslap.com/square_profile_images/48/medium.jpg?1269736634" /></a>
<br />
<strong>
<a href="/clips?slapped=4" title="Beck Oliver">Beck</a>
</strong>
</div>
<div>
<a href="/clips?slapped=8"><img alt="Jade West" src="http://staticassets.www.theslap.com/square_profile_images/68/medium.png?1295476910" /></a>
<br />
<strong>
<a href="/clips?slapped=8" title="Jade West">Jade</a>
</strong>
</div>
<div>
<a href="/clips?slapped=3"><img alt="Tori Vega" src="http://staticassets.www.theslap.com/square_profile_images/43/medium.jpg?1269736632" /></a>
<br />
<strong>
<a href="/clips?slapped=3" title="Tori Vega">Tori</a>
</strong>
</div>

</div>
</div>
</div>
<div class='comments_container list_section'>
<div class='subheader'>
<div class='comment_title'>
Comments
</div>
</div>
<div class='list_and_footer_container'>
<div class='list_container' id='video_349_comments_list_container'>
<div class='comments' id='comments_video_349'>
<div class='comment_action' id='comment_action_video_349'>
<a href="/clips/craziness/comments/new" class="new_comment" target="#form_container_video_349">Comment</a>
</div>

<div class='comment' id='comment_2791518'>
<div class='photo'></div>
<div class='comment_body'>
<span class='commenter_name'>badlittle1</span>
thats funny
</div>

</div>
<div class='comment' id='comment_2791816'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/2192991/tiny.png?1297030328" /></div>
<div class='comment_body'>
<span class='commenter_name'>puggirl101</span>
that is confusing... i like it!
</div>

</div>
<div class='comment' id='comment_2791823'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/2192998/tiny.png?1297030343" /></div>
<div class='comment_body'>
<span class='commenter_name'>qazxcv</span>
so much  craziness
</div>

</div>
<div class='comment' id='comment_2792186'>
<div class='photo'></div>
<div class='comment_body'>
<span class='commenter_name'>dylan132</span>
that was soooooooooo amazing
</div>

</div>
<div class='comment' id='comment_2793303'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/2191321/tiny.png?1297022354" /></div>
<div class='comment_body'>
<span class='commenter_name'>babyseal10</span>
Lol it was!
</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/clips/craziness/comments?comments_page=2&amp;id=craziness" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_video_349'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_video_349'>
<a href="/clips/craziness/likes" class="like" target="#likes_video_349">I like this</a>
</div>

<div class='comment_action_icon'></div>
<div class='comment_action' id='comment_action_video_349'>
<a href="/clips/craziness/comments/new" class="new_comment" target="#form_container_video_349">Comment</a>
</div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_video_349'>
4,629 people like this
</div>

</div>
</div>
</div>

</div>

</div>
<script type='text/javascript'>
  //<![CDATA[
                          
    $(document).bind('make-vplayer', function() {
        $('#video_player').vplayer({
            videoInfo: '.videoInfo', 
            width: 570,
            height: 321,
            support: ['mtvn', 'html', 'link'],
            overlay: {start: '#clickToPlay', end: '#moreClips'},
            videoLoadingIndicator: '.videoLoadingIndicator',   
            playIcon: '.playIcon',
            center: ['.playIcon', '.videoLoadingIndicator'],
            onLinkHoverOn: function() {
                $(this).stop().animate({'left': '-=8px'}, 'fast');  
            },
            onLinkHoverOff: function() {
                $(this).animate({'left': 0}, 'fast'); 
            }
        });
    });
    $(function() {
        $(document).trigger('make-vplayer');
        $($.vplayer).bind('end', function(){
            swfobject.removeSWF($.vplayer.player.id);
        });
    });
    $('#moreClips a').click(function() {
        $('#clickToPlay, .videoLoadingIndicator').fadeIn('fast');
    });
  //]]>
</script>

</div>

</div>
<div id='content_footer'></div>
</div>
<div id='sidebar_container'>
<div id='sidebar_header'>
<div class='title'></div>
</div>
<div id='sidebar_content'>
<div class='module_container the_games'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='list_container' id='sidebar_game_container'>
<div class='game_of_months_title_container'></div>
<ul class='list game_of_months jcarousel-skin-tango'>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/2291773/small.png?1298511142')">
<div class='link default_link'><a href="/games/toris-mustache-bash" title="Tori's Mustache Bash"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/2173457/small.png?1296864453')">
<div class='link default_link'><a href="/games/diddly-bops-food-drop" title="Diddly Bops Game Promo"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/1857142/small.png?1293523083')">
<div class='link default_link'><a href="/games/cookie-wrap" title="TheSlap Cookie Wrap"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/1696694/small.png?1291426056')">
<div class='link default_link'><a href="/games/freak-the-freak-out-confused-karaoke" title="Freak the Freak Out Confused Karaoke!"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/1442585/small.png?1287435653')">
<div class='link default_link'><a href="/games/ditch-the-fish" title="Ditch the Fish Promo"></a></div>
</li>
</ul>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

<div class='module_container the_tunes'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='sidebar_songs_container'>
<a href="/tunes#song-to-you" style="background-image: url(http://staticassets.www.theslap.com/images/2038304/sidebar.png?1295312876)">Song2You</a>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

<div class='hottest_pages module_container'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='hottest_pages_links_container'>
<a href="/profiles/tori-vega" title="Tori's Profile"><img alt="Tori's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146931/original.jpg?1273857395" /></a>
<a href="/profiles/andre-harris" title="Andre's Profile"><img alt="Andre's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146930/original.jpg?1273857393" /></a>
<a href="/profiles/trina-vega" title="Trina's Profile"><img alt="Trina's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146929/original.jpg?1273857392" /></a>
<a href="/profiles/robbie-shapiro" title="Robbie's Profile"><img alt="Robbie's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146928/original.jpg?1273857391" /></a>
<a href="/profiles/cat-valentine" title="Cat's Profile"><img alt="Cat's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146927/original.jpg?1273857390" /></a>
<a href="/profiles/beck-oliver" title="Beck's Profile"><img alt="Beck's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146926/original.jpg?1273857389" /></a>
<a href="/profiles/jade-west" title="Jade's Profile"><img alt="Jade's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146925/original.jpg?1273857387" /></a>
<a href="/profiles/rex-powers" title="Rex's Profile"><img alt="Rex's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146924/original.jpg?1273857386" /></a>
<a href="/profiles/sinjin-van-cleef" title="Sinjin's Profile Page"><img alt="Sinjin's Profile Page" src="http://staticassets.www.theslap.com/unprocessed_images/948376/original.jpg?1281388313" /></a>
<a href="/profiles/erwin-sikowitz" title="Sikowitz Hot Pages"><img alt="Sikowitz Hot Pages" src="http://staticassets.www.theslap.com/unprocessed_images/1219697/original.jpg?1284055516" /></a>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

</div>
<div id='sidebar_footer'></div>

</div>
</div>
<div id='body_shadow_right'></div>
</div>
<div id='body_shadow_bottom'></div>
<div id='footer_container'>
<div id='footer'>
<div id='footer_nav'>
<div class='link_block top_links'>
<a href="/">THE SLAP HOME</a>
<a href="/faq">FAQ/ABOUT US</a>
</div>
<div class='link_block'>
<a href="/">HOME</a>
<a href="/profiles">PROFILES</a>
<a href="/clips">CLIPS</a>
<a href="/pix">PIX</a>
<a href="/tunes">TUNES</a>
<a href="/games">GAMES</a>
</div>
<div class='link_block'>
<a href="http://www.nick.com/info/privacy-policy.html" rel="external">Privacy Policy/Your California Privacy Rights</a>
<a href="http://www.nick.com/info/terms-of-use.html" rel="external">Terms of Use</a>
</div>
<div class='link_block'>
<a href="http://www.nick.com/info/copyright.html" rel="external">Copyright Compliance Policy</a>
<a href="http://www.nick.com/info/safety-guide.html" rel="external">Safety Guide</a>
</div>
<div class='link_block'>
<a href="http://srp.mtvn.com/sitefaq.html" class="viacom" rel="external">Ad Choices</a>
</div>
<div class='link_block'>
&copy; Copyright 2011 Viacom International Inc. All Rights Reserved
</div>
<div class='link_block'>
<div class='friends_title'>
Friends of Victorious
</div>
<div class='friends_container'>
<a href="http://www.icarly.com"><img alt="SplashFace" src="/images/friends/logo_splashface.gif?1269720656" /></a>
<a href="http://www.icarly.com"><img alt="iCarly" src="/images/friends/logo_icarly.png?1269720656" /></a>
<a href="http://www.nick.com"><img alt="Nick" src="/images/friends/logo_nick_com.png?1269720656" /></a>
<a href="http://www.nick.com"><img alt="Nickelodean Kids &amp; Teens" src="/images/friends/logo_nick_kids_teens.gif?1269720656" /></a>
<a href="http://www.icarly.com"><img alt="SplashFace" src="/images/friends/logo_zaplook.gif?1269720656" /></a>
</div>
</div>
</div>

</div>
</div>
</div>
</body>
</html>


