<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

                
        



<html xmlns:esi='http://www.edge-delivery.org/esi/1.0' xmlns='http://www.w3.org/1999/xhtml'>
<head>
<title>
Rex | TheSlap | Hollywood Arts' Victorious
</title>
<meta content='The Slap' property='og:site_name' />
<meta content='http://www.theslap.com/profiles/rex-powers' property='og:url' />
<meta content='Rex Powers, Hollywood Arts High - Victorious ' property='og:title' />
<meta content='http://staticassets.www.theslap.com/profile_images/52/original.jpg?1311383235' property='og:image' />
<meta content='' property='og:description' />

<link href='/images/favicon.ico' rel='shortcut icon' type='image/x-icon' />
<script src="/javascripts/bundled/theslap.js?1451922776" type="text/javascript"></script>
<link href="/stylesheets/bundled/theslap.css?1451924671" media="screen" rel="stylesheet" type="text/css" />
<script src="/javascripts/custom/fans/init.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/fontjazz/fontjazz.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/custom/characters/init.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/fontjazz/charnames.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/character.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/flowplayer-3.1.4.min.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/support/swfobject.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/support/vplayer.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/custom/video/init.js?1451922776" type="text/javascript"></script>


<!--[if lt IE 7]>
<link href="/stylesheets/compiled/ie.css?1451924669" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if lt IE 8]>
<link href="/stylesheets/compiled/ie7.css?1451924671" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->

</head>
<body class='bp character_page characters'>
<script src="/javascripts/support/adunit.js?1451922776" type="text/javascript"></script>
<script src="http://btg.mtvnservices.com/aria/coda.html?site=theslap.com" type="text/javascript"></script>
<script src="/javascripts/support/coda_config.js?1451922776" type="text/javascript"></script>

<div id='body_container'>
<div id='header_container'>
<div id='header'>
<div id='nav_adornment'></div>
<div id='logo_bg'></div>
<script type='text/javascript'>
  //<![CDATA[
    var user_menu_template = "    <ul>\n      <% try { %>\n        <li class=\"first\">Hello: <span class=\"user_name\"><%= user.username %><\/span><\/li>\n        <li><a href=\"/my/profile\">My profile<\/a><\/li>\n\n        <% if(user.admin) { %>\n          <li><a href=\"/admin/dashboard\">Admin dashboard<\/a><\/li>\n          <li><a href=\"/\">View site<\/a><\/li>\n        <% } %>\n        <li class=\"last\"><a href=\"/users/logout?return_to_after_logged_out=%2Fprofiles%2Frex-powers\">Logout<\/a><\/li>\n      <% } catch(err) { %>\n        <li><a href=\"/register\">Register<\/a><\/li>\n        <li class=\"last\"><a href=\"/users/pickles?return_to_if_logged_out=%2Fprofiles%2Frex-powers\" id=\"login_link\">Login<\/a><\/li>\n      <% } %>\n    <\/ul>\n";
  //]]>
</script>

<a href='http://www.theslap.com/users/pickles' id='admin_login_link'></a>
<div id='deprecated_user_menu'>
<noscript>
<h3 class='no_javascript_warning'>
Javascript is required to use TheSlap. Please enable Javascript and reload this page.
</h3>
</noscript>
</div>

<div id='logo'>
<a href='/'>
<object data='/swf/slap_logo.swf' height='103' id='slap_animation' type='application/x-shockwave-flash' width='327'>
<param name='wmode' value='transparent' />
<param name='movie' value='/swf/slap_logo.swf' />
<img alt='The Slap' src='/images/themes/default/home_logo.png' />
</object>
</a>
</div>
<div id='nav'>
<ul>
<li class='home first'><a href="/">Home</a></li>
<li class='characters'><a href="/profiles">Profiles</a></li>
<li class='videos'><a href="/clips?newest=true">Clips</a></li>
<li class='photos'><a href="/pix?newest=true">Pix</a></li>
<li class='songs'><a href="/tunes">Tunes</a></li>
<li class='games'><a href="/games">Games</a></li>
<li class='search last'><div id='search'>
<form action="/search" method="get">

<input class="search_field" id="q" name="q" placeholder="enter text here" size="15" type="text" />
<button id='search_button' type='submit'>
Search
</button>
</form>
</div>
</li>
</ul>
<div id='nav_bar_right_cap'></div>
</div>

</div>
</div>
<div id='main_container'>
<div id='body_shadow_top'></div>
<div id='body_shadow_left'></div>
<div id='main'>
<div id='content_container'>
<div id='content_callout_container'>
<div id='content_callout_tab'>
<div id='content_callout'>
<div id='banner_ad'>
<script type='text/javascript'>
  //<![CDATA[
    mtvn.btg.Controller.placeAd({size:'728x90',contentType:"adi",keyValues:"!category=expand;!category=vic",sections:zone});
  //]]>
</script>
</div>
</div>
</div>
</div>

<div id='content_header'>
<h1>Rex Powers, Hollywood Arts High - Victorious </h1>
<div id='header_controls'></div>

</div>
<div class='character' id='content'>

<div id='content_top'><div class='character' id='character_5'>
<div class='profile_header' style="background-image: url('http://staticassets.www.theslap.com/unprocessed_images/55/original.jpg?1269736638')">
<div class='photo_container'>
<div class='photo'>
<img alt="Rex" src="http://staticassets.www.theslap.com/profile_images/52/medium.jpg?1311383235" />
</div>
<a href="/pix?slapped=5"><div class='photo_frame'></div>
</a></div>

<div class='info'>
<div class='name'>
<h2 style="background-image: url('http://staticassets.www.theslap.com/unprocessed_images/54/original.png?1269736638')">
Rex's Page
</h2>
</div>
<div class='current_status'>
<div class='title'>
<span class='first_letter'>N</span>ewest <span class='first_letter'>U</span>pdate:
</div>
<div class='mood_container'>
<div class='mood_title'>
Mood
</div>
<div class='icon'><img alt="" src="http://staticassets.www.theslap.com/unprocessed_images/908820/original.gif?1281036863" /></div>
<div class='mood_word'>
offended
</div>
</div>

<div id='current_status_pulse'></div>
<div class='message'>How come I never get cast in any Hollywood Arts plays? They're overlooking pure leading man material here! </div>
</div>
<div class='fans_and_relationship_container'>
<div class='fans'>
<div class='fan_container'>
<div class='become_fan hidden'>
<a href="/profiles/rex-powers/become_fan" target=".fan_container">Become a fan</a>
</div>
<div class='fan_status'>
Rex has <span class='count'>655,926</span> Fans!
</div>
</div>

</div>

<div class='relationship'>

</div>
</div>
</div>
</div>
</div>
</div>
<div id='content_bottom'>
<div id='col_secondary'><div class='character_favorite_videos'>
<div class='module_container'>
<div class='module_header'>
<div class='module_title'>
<div class='character_name'>
<h1>Rex's</h1>
</div>
<h2 class='module_type'>Video</h2>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='list_backdrop'>
<div class='list_container video_favorite_list_container'>
<ul class='jcarousel-skin-tango list video_favorite_list'>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/new-song-five-fingaz-to-the-face">New Song: Five Fingaz (To the Face)</a></div>
<div class='cell image'><a href="/clips/new-song-five-fingaz-to-the-face"><img alt="New Song: Five Fingaz (To the Face)" src="http://staticassets.www.theslap.com/video_thumbnail_images/5606866/medium.png?1334366588" /></a></div>
<div class='cell cover'><a href="/clips/new-song-five-fingaz-to-the-face"></a></div>
<div class='cell description'><a href="/clips/new-song-five-fingaz-to-the-face">Taking the bus to school is awesome when it's a party bus driven by a famous rapper. It's really gonna be hard to top this ride!</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/tori-vega">created by Tori</a>
</div>
</li>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/christopher-cane-interviews-beverly-jones">Christopher Cane Interviews Beverly Jones</a></div>
<div class='cell image'><a href="/clips/christopher-cane-interviews-beverly-jones"><img alt="Christopher Cane Interviews Beverly Jones" src="http://staticassets.www.theslap.com/video_thumbnail_images/5027395/medium.jpg?1327108388" /></a></div>
<div class='cell cover'><a href="/clips/christopher-cane-interviews-beverly-jones"></a></div>
<div class='cell description'><a href="/clips/christopher-cane-interviews-beverly-jones">I love interviewing actors but I LOVE to terrify them even more. Watch as I freak out Andre's grandmother!</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/rex-powers">created by Rex</a>
</div>
</li>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/christopher-cane-interviews-matt-bennett">Christopher Cane Interviews Matt Bennett</a></div>
<div class='cell image'><a href="/clips/christopher-cane-interviews-matt-bennett"><img alt="Christopher Cane Interviews Matt Bennett" src="http://staticassets.www.theslap.com/video_thumbnail_images/4984355/medium.png?1326506879" /></a></div>
<div class='cell cover'><a href="/clips/christopher-cane-interviews-matt-bennett"></a></div>
<div class='cell description'><a href="/clips/christopher-cane-interviews-matt-bennett">Today I interview the boy who I helped make famous… Matthew Bennett. (He'd be nowhere if I could walk on my own.)</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/rex-powers">created by Rex</a>
</div>
</li>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/christopher-cane-interviews-victoria-justice">Christopher Cane Interviews Victoria Justice</a></div>
<div class='cell image'><a href="/clips/christopher-cane-interviews-victoria-justice"><img alt="Christopher Cane Interviews Victoria Justice" src="http://staticassets.www.theslap.com/video_thumbnail_images/4896331/medium.png?1325273010" /></a></div>
<div class='cell cover'><a href="/clips/christopher-cane-interviews-victoria-justice"></a></div>
<div class='cell description'><a href="/clips/christopher-cane-interviews-victoria-justice">I invited the lovely and talented Victoria Justice over for a chat. It's only a good video because I'm in it. </a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/rex-powers">created by Rex</a>
</div>
</li>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/rex-sings-freak-the-freak-out">Rex Sings: Freak the Freak Out</a></div>
<div class='cell image'><a href="/clips/rex-sings-freak-the-freak-out"><img alt="Rex Sings: Freak the Freak Out" src="http://staticassets.www.theslap.com/video_thumbnail_images/4542561/medium.png?1320451635" /></a></div>
<div class='cell cover'><a href="/clips/rex-sings-freak-the-freak-out"></a></div>
<div class='cell description'><a href="/clips/rex-sings-freak-the-freak-out">As you know, I like to take songs made famous by other Hollywood Arts students and make them even better! This time I improve Freak the Freak Out! </a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/rex-powers">created by Rex</a>
</div>
</li>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/robbies-audition">Robbie's Audition: Stand Up Comedy</a></div>
<div class='cell image'><a href="/clips/robbies-audition"><img alt="Robbie's Audition: Stand Up Comedy" src="http://staticassets.www.theslap.com/video_thumbnail_images/4185838/medium.png?1315532307" /></a></div>
<div class='cell cover'><a href="/clips/robbies-audition"></a></div>
<div class='cell description'><a href="/clips/robbies-audition">Even though Rex ruined my stand up comedy routine, I still passed my audition. Weird. Not sure what happened there. </a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/robbie-shapiro">created by Robbie</a>
</div>
</li>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/rex-sings-make-it-shine">Rex Sings Make It Shine!</a></div>
<div class='cell image'><a href="/clips/rex-sings-make-it-shine"><img alt="Rex Sings Make It Shine!" src="http://staticassets.www.theslap.com/video_thumbnail_images/2065103/medium.png?1295657541" /></a></div>
<div class='cell cover'><a href="/clips/rex-sings-make-it-shine"></a></div>
<div class='cell description'><a href="/clips/rex-sings-make-it-shine">I, Rex, am an AMAZING singer. Need proof? Watch me rock "Make It Shine." Tori's got nothing on me!</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/rex-powers">created by Rex</a>
</div>
</li>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/beck-and-jade-s-relationship-advice-2">Beck and Jade's Relationship Advice #2</a></div>
<div class='cell image'><a href="/clips/beck-and-jade-s-relationship-advice-2"><img alt="Beck and Jade's Relationship Advice #2" src="http://staticassets.www.theslap.com/video_thumbnail_images/2562667/medium.png?1302308477" /></a></div>
<div class='cell cover'><a href="/clips/beck-and-jade-s-relationship-advice-2"></a></div>
<div class='cell description'><a href="/clips/beck-and-jade-s-relationship-advice-2">Today, you'll discover what NOT to do in a relationship… LIKE FORGETTING YOUR GIRLFRIEND'S BIRTHDAY!</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/jade-west">created by Jade</a>
</div>
</li>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/rex-sings-tell-me-that-you-love-me">Rex Sings: Tell Me That You Love Me</a></div>
<div class='cell image'><a href="/clips/rex-sings-tell-me-that-you-love-me"><img alt="Rex Sings: Tell Me That You Love Me" src="http://staticassets.www.theslap.com/video_thumbnail_images/2426794/medium.png?1300492431" /></a></div>
<div class='cell cover'><a href="/clips/rex-sings-tell-me-that-you-love-me"></a></div>
<div class='cell description'><a href="/clips/rex-sings-tell-me-that-you-love-me">Wanna know how to turn a GOOD song into a GREAT song? Let me, Rex Powers, take a crack at it. Here I go…</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/rex-powers">created by Rex</a>
</div>
</li>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/rex-sings-make-it-shine">Rex Sings Make It Shine!</a></div>
<div class='cell image'><a href="/clips/rex-sings-make-it-shine"><img alt="Rex Sings Make It Shine!" src="http://staticassets.www.theslap.com/video_thumbnail_images/2065103/medium.png?1295657541" /></a></div>
<div class='cell cover'><a href="/clips/rex-sings-make-it-shine"></a></div>
<div class='cell description'><a href="/clips/rex-sings-make-it-shine">I, Rex, am an AMAZING singer. Need proof? Watch me rock "Make It Shine." Tori's got nothing on me!</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/rex-powers">created by Rex</a>
</div>
</li>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/rex-sings-song2you">Rex Sings: Song2You</a></div>
<div class='cell image'><a href="/clips/rex-sings-song2you"><img alt="Rex Sings: Song2You" src="http://staticassets.www.theslap.com/video_thumbnail_images/2254414/medium.png?1298076250" /></a></div>
<div class='cell cover'><a href="/clips/rex-sings-song2you"></a></div>
<div class='cell description'><a href="/clips/rex-sings-song2you">Watch me take Andre's "Song2You" and bring it to the next level. Andre Harris, Who? </a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/rex-powers">created by Rex</a>
</div>
</li>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/rex-s-video-profile">Rex's Video Profile</a></div>
<div class='cell image'><a href="/clips/rex-s-video-profile"><img alt="Rex's Video Profile" src="http://staticassets.www.theslap.com/video_thumbnail_images/24522/medium.jpg?1270169690" /></a></div>
<div class='cell cover'><a href="/clips/rex-s-video-profile"></a></div>
<div class='cell description'><a href="/clips/rex-s-video-profile">Hey, it's me, Rex. Watch my video or you're stupid.</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/rex-powers">created by Rex</a>
</div>
</li>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/what-is-theslap-com">What Is TheSlap.com?</a></div>
<div class='cell image'><a href="/clips/what-is-theslap-com"><img alt="What Is TheSlap.com?" src="http://staticassets.www.theslap.com/video_thumbnail_images/75/medium.jpg?1269736672" /></a></div>
<div class='cell cover'><a href="/clips/what-is-theslap-com"></a></div>
<div class='cell description'><a href="/clips/what-is-theslap-com">Find out why everyone is on TheSlap. </a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/robbie-shapiro">created by Robbie</a>
</div>
</li>
</ul>
</div>

</div>

</div>
<div class='module_body_footer'>
<a href="/clips?newest=true">See All</a>

</div>
</div>
<div class='module_footer'></div>
</div>

</div>
<div class='character_favorite_photo_playlists'>
<div class='module_container'>
<div class='module_header'>
<div class='module_title'>
<div class='character_name'>
<h1>Rex's</h1>
</div>
<h2 class='module_type'>Photo Playlist</h2>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='list_backdrop'>
<div class='list_container photo_playlist_favorite_list_container'>
<ul class='jcarousel-skin-tango list photo_playlist_favorite_list'>
<li class='item photo_playlist_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/pix?playlist=102">7 Things That Are Guaranteed to Ruin Your Day</a></div>
<div class='cell image'><a href="/pix?playlist=102"><img alt="7 Things That Are Guaranteed to Ruin Your Day" src="http://staticassets.www.theslap.com/images/6301158/medium.jpg?1342227814" /></a></div>
<div class='cell cover'><a href="/pix?playlist=102"></a></div>
<div class='cell description'><a href="/pix?playlist=102">Our new Pix gallery is called "7 Things That Will Ruin Your Day." And ironically, checking out this gallery will make your day awesome!</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/beck-oliver">created by Beck</a>
</div>
</li>
<li class='item photo_playlist_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/pix?playlist=40">Rex "Dies"</a></div>
<div class='cell image'><a href="/pix?playlist=40"><img alt="Rex &quot;Dies&quot;" src="http://staticassets.www.theslap.com/images/1945769/medium.jpg?1294450362" /></a></div>
<div class='cell cover'><a href="/pix?playlist=40"></a></div>
<div class='cell description'><a href="/pix?playlist=40">Rex is back from the hospital and just uploaded a bunch of pics to TheSlap! See his photo gallery now! And don't worry, he's feeling much better. </a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/rex-powers">created by Rex</a>
</div>
</li>
<li class='item photo_playlist_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/pix?playlist=21">Rex Poses</a></div>
<div class='cell image'><a href="/pix?playlist=21"><img alt="Rex Poses" src="http://staticassets.www.theslap.com/images/394711/medium.jpg?1276290285" /></a></div>
<div class='cell cover'><a href="/pix?playlist=21"></a></div>
<div class='cell description'><a href="/pix?playlist=21">Rex helped me with my photography project by posing for these pics, but he charged me 100 bucks to be my male model.</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/robbie-shapiro">created by Robbie</a>
</div>
</li>
<li class='item photo_playlist_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/pix?playlist=20">Rex’s Juicy Pics</a></div>
<div class='cell image'><a href="/pix?playlist=20"><img alt="Rex’s Juicy Pics" src="http://staticassets.www.theslap.com/images/304202/medium.jpg?1275694575" /></a></div>
<div class='cell cover'><a href="/pix?playlist=20"></a></div>
<div class='cell description'><a href="/pix?playlist=20">People Caught Doin’ Stuff at Hollywood Arts</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/rex-powers">created by Rex</a>
</div>
</li>
<li class='item photo_playlist_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/pix?playlist=7">The Boys at Ballet! Ha! (Rex's Gallery)</a></div>
<div class='cell image'><a href="/pix?playlist=7"><img alt="The Boys at Ballet! Ha! (Rex's Gallery)" src="http://staticassets.www.theslap.com/images/34091/medium.jpg?1270953261" /></a></div>
<div class='cell cover'><a href="/pix?playlist=7"></a></div>
<div class='cell description'><a href="/pix?playlist=7">Yep, it's exactly what you think. Boys and ballet! Ha!</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/rex-powers">created by Rex</a>
</div>
</li>
<li class='item photo_playlist_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/pix?playlist=3">The Big Showcase & More</a></div>
<div class='cell image'><a href="/pix?playlist=3"><img alt="The Big Showcase &amp; More" src="http://staticassets.www.theslap.com/images/80/medium.jpg?1269736689" /></a></div>
<div class='cell cover'><a href="/pix?playlist=3"></a></div>
<div class='cell description'><a href="/pix?playlist=3">Andre's fave pics from the Showcase... and a few from school.</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/andre-harris">created by Andre</a>
</div>
</li>
</ul>
</div>

</div>

</div>
<div class='module_body_footer'>
<a href="/pix?newest=true">See All</a>

</div>
</div>
<div class='module_footer'></div>
</div>

</div>
<div id='block_ad_container'>
<div id='block_ad_tab'>
<div class='title'>
advertisement
</div>
</div>
<div id='block_ad'>
<script type='text/javascript'>
  //<![CDATA[
    mtvn.btg.Controller.placeAd({size:'300x250',contentType:"adi",keyValues:"!category=expand;!category=vic",sections:zone})
  //]]>
</script>
</div>
</div>

</div>
<div id='col_primary'><div class='buzz list_container wall_item_list_container' id='buzz_character_5'>
<div class='list_title_container'>
<div class='character_name'>
<h1>Rex's</h1>
</div>
<div class='list_title'>Board</div>
</div>
<div class='list wall_item_list'>
<div class='list_item status_update wall_item_item' id='wall_item_3794'>
<div id='status_update_1568'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/rex-powers"><img alt="Rex" src="http://staticassets.www.theslap.com/square_profile_images/53/medium.jpg?1311724235" /></a>
</div>
<a href="/profiles/rex-powers">Rex</a>
</div>
<div class='post_container'>
<div class='mood_container'>
<div class='mood_title'>Mood</div>
<div class='cell mood'><div class='mood_icon'><img alt="" src="http://staticassets.www.theslap.com/unprocessed_images/908820/original.gif?1281036863" /></div>
<div class='mood_word'>offended</div>
</div>
</div>
<div class='cell message'>
How come I never get cast in any Hollywood Arts plays? They're overlooking pure leading man material here! 
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3794_comments_list_container'>
<div class='comments' id='comments_wall_item_3794'>





<div class='comment_form_container' id='form_container_wall_item_3794'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3794'>
<a href="/wall_items/3794/likes" class="like" target="#likes_wall_item_3794">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3794'>
8,706 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='status_update_1568_asset_actions'>



</div>


</div>
</div>

</div>
<div class='list_item status_update wall_item_item' id='wall_item_3779'>
<div id='status_update_1565'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/rex-powers"><img alt="Rex" src="http://staticassets.www.theslap.com/square_profile_images/53/medium.jpg?1311724235" /></a>
</div>
<a href="/profiles/rex-powers">Rex</a>
</div>
<div class='post_container'>
<div class='mood_container'>
<div class='mood_title'>Mood</div>
<div class='cell mood'><div class='mood_icon'><img alt="" src="http://staticassets.www.theslap.com/unprocessed_images/15/original.gif?1269736618" /></div>
<div class='mood_word'>wazzed</div>
</div>
</div>
<div class='cell message'>
Robbie won't drive me to Northridge College to watch my girl Tori perform! I just want to support my friend! Is that so wrong?!?
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3779_comments_list_container'>
<div class='comments' id='comments_wall_item_3779'>

<div class='comment' id='comment_8476356'>
<div class='photo'><a href="/profiles/robbie-shapiro"><img alt="Small" src="http://staticassets.www.theslap.com/square_profile_images/58/small.jpg?1348347536" /></a></div>
<div class='comment_body'>
<span class='commenter_name'><a href="/profiles/robbie-shapiro">Robbie</a></span>
You just want to go to meet Northridge girls! 
</div>

</div>
<div class='comment' id='comment_8476357'>
<div class='photo'><a href="/profiles/rex-powers"><img alt="Small" src="http://staticassets.www.theslap.com/square_profile_images/53/small.jpg?1311724235" /></a></div>
<div class='comment_body'>
<span class='commenter_name'><a href="/profiles/rex-powers">Rex</a></span>
That's just a bonus! 
</div>

</div>
<div class='comment' id='comment_8485029'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7355239/tiny.png?1359815468" /></div>
<div class='comment_body'>
<span class='commenter_name'>nikki33112</span>
Wow that is lame
</div>

</div>
<div class='comment' id='comment_8485198'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7334305/tiny.png?1359388223" /></div>
<div class='comment_body'>
<span class='commenter_name'>lizxt11</span>
Robbie's right u don't care about tori!
</div>

</div>
<div class='comment' id='comment_8485239'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7334334/tiny.png?1359389037" /></div>
<div class='comment_body'>
<span class='commenter_name'>Sharkgurl1</span>
Rex, you are so deceptive... :)
</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/wall_items/3779/comments?comments_page=2&amp;id=rex-powers" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_wall_item_3779'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3779'>
<a href="/wall_items/3779/likes" class="like" target="#likes_wall_item_3779">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3779'>
6,173 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='status_update_1565_asset_actions'>



</div>


</div>
</div>

</div>
<div class='list_item video wall_item_item' id='wall_item_3771'>
<div id='video_1333'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/tori-vega"><img alt="Tori" src="http://staticassets.www.theslap.com/square_profile_images/43/medium.jpg?1348347275" /></a>
</div>
<a href="/profiles/tori-vega">Tori</a>
</div>
<div class='post_container'>
<div class='cell message'>
<a href="/clips/tori-s-national-anthem">Tori slapped Rex in a video</a>
</div>
<div class='cell enclosure'><div class='cell image'>
<a href="/clips/tori-s-national-anthem"><img alt="Tori's National Anthem" src="http://staticassets.www.theslap.com/video_thumbnail_images/7318860/small.jpg?1359167236" /></a>
</div>
<div class='meta_data'>
<div class='cell title'>
<a href="/clips/tori-s-national-anthem">Tori's National Anthem</a>
</div>
<div class='cell description'>
<a href="/clips/tori-s-national-anthem">I'm proud to say that even while being dragged across a gym floor by a giant dog, I didn't forget any of the lyrics! Go me! </a>
</div>
</div>
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3771_comments_list_container'>
<div class='comments' id='comments_wall_item_3771'>

<div class='comment' id='comment_8486072'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7423059/tiny.png?1361315229" /></div>
<div class='comment_body'>
<span class='commenter_name'>volit89306</span>
YEAH!!!!!!!!

</div>

</div>
<div class='comment' id='comment_8486199'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7657037/tiny.png?1369626597" /></div>
<div class='comment_body'>
<span class='commenter_name'>doggirl33</span>
SRY TORI!!! :) :)
</div>

</div>
<div class='comment' id='comment_8486257'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7333363/tiny.png?1359344601" /></div>
<div class='comment_body'>
<span class='commenter_name'>pazelee</span>
good job on the song
</div>

</div>
<div class='comment' id='comment_8486319'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7335955/tiny.png?1359411576" /></div>
<div class='comment_body'>
<span class='commenter_name'>KEVIN90861</span>
HAHAH LOL THAT WAS FUNNY
</div>

</div>
<div class='comment' id='comment_8486417'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7326849/tiny.png?1359300370" /></div>
<div class='comment_body'>
<span class='commenter_name'>amira200</span>
Lol are you ok. ok cool
</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/wall_items/3771/comments?comments_page=2&amp;id=rex-powers" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_wall_item_3771'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3771'>
<a href="/wall_items/3771/likes" class="like" target="#likes_wall_item_3771">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3771'>
58,487 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='video_1333_asset_actions'>


<span id='video_1333_embed'>
<a href="/clips/tori-s-national-anthem/embed/new" class="embed" title="Embed on your webpage">Embed on your webpage</a>
</span>

</div>


</div>
</div>

</div>
<div class='list_item status_update wall_item_item' id='wall_item_3620'>
<div id='status_update_1534'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/rex-powers"><img alt="Rex" src="http://staticassets.www.theslap.com/square_profile_images/53/medium.jpg?1311724235" /></a>
</div>
<a href="/profiles/rex-powers">Rex</a>
</div>
<div class='post_container'>
<div class='mood_container'>
<div class='mood_title'>Mood</div>
<div class='cell mood'><div class='mood_icon'><img alt="" src="http://staticassets.www.theslap.com/unprocessed_images/17/original.gif?1269736619" /></div>
<div class='mood_word'>cool</div>
</div>
</div>
<div class='cell message'>
It's late December and I'm eating frozen yogurt. Gotta love LA! 
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3620_comments_list_container'>
<div class='comments' id='comments_wall_item_3620'>

<div class='comment' id='comment_8415892'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/4925455/tiny.png?1325546252" /></div>
<div class='comment_body'>
<span class='commenter_name'>aux2</span>
true dat!
</div>

</div>
<div class='comment' id='comment_8415991'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7234589/tiny.png?1357511684" /></div>
<div class='comment_body'>
<span class='commenter_name'>theweeknd</span>
i love la
</div>

</div>
<div class='comment' id='comment_8416927'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7235015/tiny.png?1357515902" /></div>
<div class='comment_body'>
<span class='commenter_name'>iriss23</span>
ikrrrr i LOVE frozen yogert ;)
</div>

</div>
<div class='comment' id='comment_8417056'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7235913/tiny.png?1357527089" /></div>
<div class='comment_body'>
<span class='commenter_name'>jule007</span>
gotta love frozen yogurt!lol
</div>

</div>
<div class='comment' id='comment_8417171'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7230993/tiny.png?1357454200" /></div>
<div class='comment_body'>
<span class='commenter_name'>Benni001</span>
In Austria it's very cold. :-(
</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/wall_items/3620/comments?comments_page=2&amp;id=rex-powers" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_wall_item_3620'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3620'>
<a href="/wall_items/3620/likes" class="like" target="#likes_wall_item_3620">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3620'>
3,178 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='status_update_1534_asset_actions'>



</div>


</div>
</div>

</div>
<div class='list_item status_update wall_item_item' id='wall_item_3597'>
<div id='status_update_1522'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/rex-powers"><img alt="Rex" src="http://staticassets.www.theslap.com/square_profile_images/53/medium.jpg?1311724235" /></a>
</div>
<a href="/profiles/rex-powers">Rex</a>
</div>
<div class='post_container'>
<div class='mood_container'>
<div class='mood_title'>Mood</div>
<div class='cell mood'><div class='mood_icon'><img alt="" src="http://staticassets.www.theslap.com/unprocessed_images/908820/original.gif?1281036863" /></div>
<div class='mood_word'>wazzed</div>
</div>
</div>
<div class='cell message'>
I hate, hate, HATE getting dry cleaned. I'm sure you all can relate. 
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3597_comments_list_container'>
<div class='comments' id='comments_wall_item_3597'>

<div class='comment' id='comment_8345482'>
<div class='photo'><a href="/profiles/andre-harris"><img alt="Small" src="http://staticassets.www.theslap.com/square_profile_images/33/small.jpg?1330544256" /></a></div>
<div class='comment_body'>
<span class='commenter_name'><a href="/profiles/andre-harris">Andre</a></span>
Uh, no.
</div>

</div>
<div class='comment' id='comment_8345483'>
<div class='photo'><a href="/profiles/beck-oliver"><img alt="Small" src="http://staticassets.www.theslap.com/square_profile_images/48/small.jpg?1330545341" /></a></div>
<div class='comment_body'>
<span class='commenter_name'><a href="/profiles/beck-oliver">Beck</a></span>
Can't say that I know the feeling. 
</div>

</div>
<div class='comment' id='comment_8346576'>
<div class='photo'></div>
<div class='comment_body'>
<span class='commenter_name'>andrew2008</span>
your a puppet your going to get dry cleaned
</div>

</div>
<div class='comment' id='comment_8346577'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7370082/tiny.png?1360079654" /></div>
<div class='comment_body'>
<span class='commenter_name'>Zendaya096</span>
What's the feeling?

</div>

</div>
<div class='comment' id='comment_8346766'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7148446/tiny.png?1356104403" /></div>
<div class='comment_body'>
<span class='commenter_name'>nenelove81</span>
beck i like u and ur hair

</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/wall_items/3597/comments?comments_page=2&amp;id=rex-powers" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_wall_item_3597'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3597'>
<a href="/wall_items/3597/likes" class="like" target="#likes_wall_item_3597">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3597'>
3,009 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='status_update_1522_asset_actions'>



</div>


</div>
</div>

</div>
<div class='list_item status_update wall_item_item' id='wall_item_3580'>
<div id='status_update_1517'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/rex-powers"><img alt="Rex" src="http://staticassets.www.theslap.com/square_profile_images/53/medium.jpg?1311724235" /></a>
</div>
<a href="/profiles/rex-powers">Rex</a>
</div>
<div class='post_container'>
<div class='mood_container'>
<div class='mood_title'>Mood</div>
<div class='cell mood'><div class='mood_icon'><img alt="" src="http://staticassets.www.theslap.com/unprocessed_images/1405038/original.gif?1287003971" /></div>
<div class='mood_word'>sticky</div>
</div>
</div>
<div class='cell message'>
Ugh, that little wazzbag put his greasy, Bibble-y hands all over me. I feel so dirty. 
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3580_comments_list_container'>
<div class='comments' id='comments_wall_item_3580'>





<div class='comment_form_container' id='form_container_wall_item_3580'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3580'>
<a href="/wall_items/3580/likes" class="like" target="#likes_wall_item_3580">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3580'>
2,768 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='status_update_1517_asset_actions'>



</div>


</div>
</div>

</div>
<div class='list_item photo_playlist wall_item_item' id='wall_item_3589'>
<div id='photo_playlist_126'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/robbie-shapiro"><img alt="Robbie" src="http://staticassets.www.theslap.com/square_profile_images/58/medium.jpg?1348347536" /></a>
</div>
<a href="/profiles/robbie-shapiro">Robbie</a>
</div>
<div class='post_container'>
<div class='cell message'>
<a href="/pix?playlist=126">Robbie slapped Rex in a photo gallery</a>
</div>
<div class='cell enclosure'>
<div class='cell image'>
<a href="/galleries/126/slideshow#http://staticassets.www.theslap.com/images/7125615/large.jpg"><img alt="Robbie and Goonter" src="http://staticassets.www.theslap.com/images/7125615/thumb.jpg?1355599624" /></a>
<a href="/galleries/126/slideshow#http://staticassets.www.theslap.com/images/7125545/large.jpg"><img alt="The Flour Bomber Strikes: Tori and Beck" src="http://staticassets.www.theslap.com/images/7125545/thumb.jpg?1355599053" /></a>
<a href="/galleries/126/slideshow#http://staticassets.www.theslap.com/images/7125600/large.jpg"><img alt="Hot-Durgers" src="http://staticassets.www.theslap.com/images/7125600/thumb.jpg?1355599481" /></a>
</div>
<div class='meta_data'>
<div class='cell title'>
<a href="/pix?playlist=126">Robbie Sells Rex</a>
</div>
<div class='cell description'>
<a href="/pix?playlist=126">Robbie sells Rex and gets a new (horrible) friend! And we try to discover the identity of the Flour Bomber. See the pics now! </a>
</div>
</div>
</div>

</div>
</div>

</div>
<div class='list_item video wall_item_item' id='wall_item_3570'>
<div id='video_1263'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/tori-vega"><img alt="Tori" src="http://staticassets.www.theslap.com/square_profile_images/43/medium.jpg?1348347275" /></a>
</div>
<a href="/profiles/tori-vega">Tori</a>
</div>
<div class='post_container'>
<div class='cell message'>
<a href="/clips/pep-talk-from-mason-thornesmith">Tori slapped Rex in a video</a>
</div>
<div class='cell enclosure'><div class='cell image'>
<a href="/clips/pep-talk-from-mason-thornesmith"><img alt="Pep Talk from Mason Thornesmith!" src="http://staticassets.www.theslap.com/video_thumbnail_images/7122001/small.png?1355533237" /></a>
</div>
<div class='meta_data'>
<div class='cell title'>
<a href="/clips/pep-talk-from-mason-thornesmith">Pep Talk from Mason Thornesmith!</a>
</div>
<div class='cell description'>
<a href="/clips/pep-talk-from-mason-thornesmith">A music exec friend of mine stops by to give a speech at Hollywood Arts and ends up bumming everyone out. :( On the bright side, Trina gets covered in flour!</a>
</div>
</div>
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3570_comments_list_container'>
<div class='comments' id='comments_wall_item_3570'>





<div class='comment_form_container' id='form_container_wall_item_3570'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3570'>
<a href="/wall_items/3570/likes" class="like" target="#likes_wall_item_3570">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3570'>
16,372 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='video_1263_asset_actions'>


<span id='video_1263_embed'>
<a href="/clips/pep-talk-from-mason-thornesmith/embed/new" class="embed" title="Embed on your webpage">Embed on your webpage</a>
</span>

</div>


</div>
</div>

</div>
<div class='list_item status_update wall_item_item' id='wall_item_3551'>
<div id='status_update_1512'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/rex-powers"><img alt="Rex" src="http://staticassets.www.theslap.com/square_profile_images/53/medium.jpg?1311724235" /></a>
</div>
<a href="/profiles/rex-powers">Rex</a>
</div>
<div class='post_container'>
<div class='mood_container'>
<div class='mood_title'>Mood</div>
<div class='cell mood'><div class='mood_icon'><img alt="" src="http://staticassets.www.theslap.com/unprocessed_images/26/original.gif?1269736620" /></div>
<div class='mood_word'>unhappy</div>
</div>
</div>
<div class='cell message'>
How am I supposed to take a self-portrait?!? I can't even work my arms by myself! Stupid photography class assignment. 
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3551_comments_list_container'>
<div class='comments' id='comments_wall_item_3551'>





<div class='comment_form_container' id='form_container_wall_item_3551'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3551'>
<a href="/wall_items/3551/likes" class="like" target="#likes_wall_item_3551">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3551'>
1,828 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='status_update_1512_asset_actions'>



</div>


</div>
</div>

</div>
<div class='list_item status_update wall_item_item' id='wall_item_3457'>
<div id='status_update_1482'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/rex-powers"><img alt="Rex" src="http://staticassets.www.theslap.com/square_profile_images/53/medium.jpg?1311724235" /></a>
</div>
<a href="/profiles/rex-powers">Rex</a>
</div>
<div class='post_container'>
<div class='mood_container'>
<div class='mood_title'>Mood</div>
<div class='cell mood'><div class='mood_icon'><img alt="" src="http://staticassets.www.theslap.com/unprocessed_images/1404950/original.gif?1287003194" /></div>
<div class='mood_word'>annoyed</div>
</div>
</div>
<div class='cell message'>
Robbie's singing "Make it Shine" in the shower again. Badly. Can't a puppet brush his teeth in silence around here?
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3457_comments_list_container'>
<div class='comments' id='comments_wall_item_3457'>

<div class='comment' id='comment_8292027'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7074530/tiny.png?1354418195" /></div>
<div class='comment_body'>
<span class='commenter_name'>jazi7</span>
i know thats right rex
</div>

</div>
<div class='comment' id='comment_8292511'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7074199/tiny.png?1354416153" /></div>
<div class='comment_body'>
<span class='commenter_name'>cancmn</span>
i feel bad for you

</div>

</div>
<div class='comment' id='comment_8292602'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7076756/tiny.png?1354465685" /></div>
<div class='comment_body'>
<span class='commenter_name'>fly476</span>
oh who sings like robbie ?  brush ur teeth in the kichen?
</div>

</div>
<div class='comment' id='comment_8292738'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7076664/tiny.png?1354465335" /></div>
<div class='comment_body'>
<span class='commenter_name'>ialanah101</span>
yeah i bet your annoyed
</div>

</div>
<div class='comment' id='comment_8292866'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7636497/tiny.png?1368788179" /></div>
<div class='comment_body'>
<span class='commenter_name'>victory4m</span>
Does he have a 'screechy' voice??
</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/wall_items/3457/comments?comments_page=2&amp;id=rex-powers" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_wall_item_3457'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3457'>
<a href="/wall_items/3457/likes" class="like" target="#likes_wall_item_3457">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3457'>
2,445 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='status_update_1482_asset_actions'>



</div>


</div>
</div>

</div>

</div>
<div class='pagination_container'>
<div class="pagination" id="wall_items_pagination"><span class="disabled prev_page">&laquo; Previous</span> <span class="current">1</span> <a href="/profiles/rex-powers?page=2" rel="next">2</a> <a href="/profiles/rex-powers?page=3">3</a> <a href="/profiles/rex-powers?page=4">4</a> <a href="/profiles/rex-powers?page=5">5</a> <a href="/profiles/rex-powers?page=6">6</a> <a href="/profiles/rex-powers?page=7">7</a> <a href="/profiles/rex-powers?page=8">8</a> <a href="/profiles/rex-powers?page=9">9</a> <span class="gap">&hellip;</span> <a href="/profiles/rex-powers?page=19">19</a> <a href="/profiles/rex-powers?page=20">20</a> <a href="/profiles/rex-powers?page=2" class="next_page" rel="next">Next &raquo;</a></div>
<div class='loading hidden'></div>
</div>
</div>
</div>

</div>

</div>
<div id='content_footer'></div>
</div>
<div id='sidebar_container'>
<div id='sidebar_header'>
<div class='title'></div>
</div>
<div id='sidebar_content'>
<div class='module_container the_games'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='list_container' id='sidebar_game_container'>
<div class='game_of_months_title_container'></div>
<ul class='list game_of_months jcarousel-skin-tango'>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/7367786/small.png?1360007882')">
<div class='link default_link'><a href="/games/cats-heartbreaker-game" title="Heartbreaker Game"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/7255379/small.png?1358033925')">
<div class='link default_link'><a href="/games/sinjin-sock-hop" title="Sinjin Sock Puppet Game"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/7094958/small.png?1354921421')">
<div class='link default_link'><a href="/games/skate-with-cat-game" title="Skate with Cat promo"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/6890337/small.png?1350691328')">
<div class='link default_link'><a href="/games/jades-zombie-smasher-game" title="Jade's Zombie Smasher"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/6799490/small.png?1348611239')">
<div class='link default_link'><a href="/games/wankos-warehouse-game" title="Wanko's Warehouse"></a></div>
</li>
</ul>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

<div class='module_container the_tunes'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='sidebar_songs_container'>
<a href="/tunes#here-s-to-us" style="background-image: url(http://staticassets.www.theslap.com/images/6938293/sidebar.jpg?1352174971)">Here's 2 Us</a>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

<div class='hottest_pages module_container'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='hottest_pages_links_container'>
<a href="/profiles/tori-vega" title="Tori Vega"><img alt="Tori Vega" src="http://staticassets.www.theslap.com/unprocessed_images/146931/original.jpg?1273857395" /></a>
<a href="/profiles/andre-harris" title="Andre Harris"><img alt="Andre Harris" src="http://staticassets.www.theslap.com/unprocessed_images/146930/original.jpg?1273857393" /></a>
<a href="/profiles/trina-vega" title="Trina Vega"><img alt="Trina Vega" src="http://staticassets.www.theslap.com/unprocessed_images/146929/original.jpg?1273857392" /></a>
<a href="/profiles/robbie-shapiro" title="Robbie Shapiro"><img alt="Robbie Shapiro" src="http://staticassets.www.theslap.com/unprocessed_images/146928/original.jpg?1273857391" /></a>
<a href="/profiles/cat-valentine" title="Cat Valentine"><img alt="Cat Valentine" src="http://staticassets.www.theslap.com/unprocessed_images/146927/original.jpg?1273857390" /></a>
<a href="/profiles/beck-oliver" title="Beck Oliver"><img alt="Beck Oliver" src="http://staticassets.www.theslap.com/unprocessed_images/146926/original.jpg?1273857389" /></a>
<a href="/profiles/jade-west" title="Jade West"><img alt="Jade West" src="http://staticassets.www.theslap.com/unprocessed_images/146925/original.jpg?1273857387" /></a>
<a href="/profiles/rex-powers" title="Rex Powers"><img alt="Rex Powers" src="http://staticassets.www.theslap.com/unprocessed_images/146924/original.jpg?1273857386" /></a>
<a href="/profiles/sinjin-van-cleef" title="Sinjin Van Cleef"><img alt="Sinjin Van Cleef" src="http://staticassets.www.theslap.com/unprocessed_images/948376/original.jpg?1281388313" /></a>
<a href="/profiles/erwin-sikowitz" title="Erwin Sikowitz"><img alt="Erwin Sikowitz" src="http://staticassets.www.theslap.com/unprocessed_images/1219697/original.jpg?1284055516" /></a>
<a href="/profiles/lane-alexander" title="Lane Alexander"><img alt="Lane Alexander" src="http://staticassets.www.theslap.com/unprocessed_images/4108536/original.png?1314733249" /></a>
<a href="/profiles/festus" title="Festus"><img alt="Festus" src="http://staticassets.www.theslap.com/unprocessed_images/5635405/original.jpg?1334777370" /></a>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

</div>
<div id='sidebar_footer'></div>

</div>
</div>
<div id='body_shadow_right'></div>
</div>
<div id='body_shadow_bottom'></div>
<div id='footer_container'>
<div id='footer'>
<div id='footer_nav'>
<div class='link_block top_links'>
<a href="/">THE SLAP HOME</a>
<a href="/bump?to=%2Ffaq">FAQ/ABOUT US</a>
</div>
<div class='link_block'>
<a href="/">HOME</a>
<a href="/bump?to=%2Fprofiles">PROFILES</a>
<a href="/bump?to=%2Fclips">CLIPS</a>
<a href="/bump?to=%2Fpix">PIX</a>
<a href="/bump?to=%2Ftunes">TUNES</a>
<a href="/bump?to=%2Fgames">GAMES</a>
</div>
<div class='link_block'>
<a href="http://www.nick.com/legal/nickelodeon-privacy-policy/" rel="external">Privacy Policy/Your California Privacy Rights (updated 2/9/2016)</a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com%2Fclub%2Fparents-terms-of-use.html" rel="external">Terms of Use</a>
</div>
<div class='link_block'>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com%2Finfo%2Fcopyright.html" rel="external">Copyright Compliance Policy</a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com%2Finfo%2Fsafety-guide.html" rel="external">Safety Guide</a>
</div>
<div class='link_block'>
<a href="/bump?to=http%3A%2F%2Fsrp.mtvn.com%2Fsitefaq.html" class="viacom" rel="external">Ad Choices</a>
</div>
<div class='link_block'>
&copy; Copyright 2018 Viacom International Inc. All Rights Reserved
</div>
<div class='link_block'>
<div class='friends_title'>
Friends of Victorious
</div>
<div class='friends_container'>
<a href="/bump?to=http%3A%2F%2Fwww.icarly.com"><img alt="SplashFace" src="/images/friends/logo_splashface.gif?1451922775" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.icarly.com"><img alt="iCarly" src="/images/friends/logo_icarly.png?1451922775" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com"><img alt="Nick" src="/images/friends/logo_nick_com.png?1451922775" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com"><img alt="Nickelodean Kids &amp; Teens" src="/images/friends/logo_nick_kids_teens.gif?1451922775" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.icarly.com"><img alt="SplashFace" src="/images/friends/logo_zaplook.gif?1451922775" /></a>
</div>
</div>
</div>

</div>
</div>
</div>

</body>
</html>

