
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

                
        



<html xmlns:esi='http://www.edge-delivery.org/esi/1.0' xmlns='http://www.w3.org/1999/xhtml'>
<head>
<title>
Pix | TheSlap | Hollywood Arts' Victorious
</title>

<link href='/images/favicon.ico' rel='shortcut icon' type='image/x-icon' />
<script src="/javascripts/bundled/theslap.js?1451922776" type="text/javascript"></script>
<link href="/stylesheets/bundled/theslap.css?1451924671" media="screen" rel="stylesheet" type="text/css" />
<script src="/javascripts/bundled/assets.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/videos_and_photos.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/video_and_photo_lists.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/flowplayer-3.1.4.min.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/support/swfobject.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/support/vplayer.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/custom/video/init.js?1451922776" type="text/javascript"></script>


<!--[if lt IE 7]>
<link href="/stylesheets/compiled/ie.css?1451924669" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if lt IE 8]>
<link href="/stylesheets/compiled/ie7.css?1451924671" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->

</head>
<body class='bp newest_page photos'>
<script src="/javascripts/support/adunit.js?1451922776" type="text/javascript"></script>
<script src="http://btg.mtvnservices.com/aria/coda.html?site=theslap.com" type="text/javascript"></script>
<script src="/javascripts/support/coda_config.js?1451922776" type="text/javascript"></script>

<div id='body_container'>
<div id='header_container'>
<div id='header'>
<div id='nav_adornment'></div>
<div id='logo_bg'></div>
<script type='text/javascript'>
  //<![CDATA[
    var user_menu_template = "    <ul>\n      <% try { %>\n        <li class=\"first\">Hello: <span class=\"user_name\"><%= user.username %><\/span><\/li>\n        <li><a href=\"/my/profile\">My profile<\/a><\/li>\n\n        <% if(user.admin) { %>\n          <li><a href=\"/admin/dashboard\">Admin dashboard<\/a><\/li>\n          <li><a href=\"/\">View site<\/a><\/li>\n        <% } %>\n        <li class=\"last\"><a href=\"/users/logout?return_to_after_logged_out=%2Fpix%3Fnewest%3Dtrue%26amp%3Bpage%3D84\">Logout<\/a><\/li>\n      <% } catch(err) { %>\n        <li><a href=\"/register\">Register<\/a><\/li>\n        <li class=\"last\"><a href=\"/users/pickles?return_to_if_logged_out=%2Fpix%3Fnewest%3Dtrue%26amp%3Bpage%3D84\" id=\"login_link\">Login<\/a><\/li>\n      <% } %>\n    <\/ul>\n";
  //]]>
</script>

<a href='http://www.theslap.com/users/pickles' id='admin_login_link'></a>
<div id='deprecated_user_menu'>
<noscript>
<h3 class='no_javascript_warning'>
Javascript is required to use TheSlap. Please enable Javascript and reload this page.
</h3>
</noscript>
</div>

<div id='logo'>
<a href='/'>
<object data='/swf/slap_logo.swf' height='103' id='slap_animation' type='application/x-shockwave-flash' width='327'>
<param name='wmode' value='transparent' />
<param name='movie' value='/swf/slap_logo.swf' />
<img alt='The Slap' src='/images/themes/default/home_logo.png' />
</object>
</a>
</div>
<div id='nav'>
<ul>
<li class='home first'><a href="/">Home</a></li>
<li class='characters'><a href="/profiles">Profiles</a></li>
<li class='videos'><a href="/clips?newest=true">Clips</a></li>
<li class='photos'><a href="/pix?newest=true">Pix</a></li>
<li class='songs'><a href="/tunes">Tunes</a></li>
<li class='games'><a href="/games">Games</a></li>
<li class='search last'><div id='search'>
<form action="/search" method="get">

<input class="search_field" id="q" name="q" placeholder="enter text here" size="15" type="text" />
<button id='search_button' type='submit'>
Search
</button>
</form>
</div>
</li>
</ul>
<div id='nav_bar_right_cap'></div>
</div>

</div>
</div>
<div id='main_container'>
<div id='body_shadow_top'></div>
<div id='body_shadow_left'></div>
<div id='main'>
<div id='content_container'>
<div id='content_callout_container'>
<div id='content_callout_tab'>
<div id='content_callout'>
<div id='banner_ad'>
<script type='text/javascript'>
  //<![CDATA[
    mtvn.btg.Controller.placeAd({size:'728x90',contentType:"adi",keyValues:"!category=expand;!category=vic",sections:zone});
  //]]>
</script>
</div>
</div>
</div>
</div>

<div id='content_header'>
<h1>The Pix</h1>
<div id='header_controls'></div>

</div>
<div class='newest' id='content'>

<div id='content_top'></div>
<div id='content_bottom'>
<div id='col_secondary'><div id='search_menu'>
<div class='menu_title_container'>
<div class='menu_title'>Search Pix By...</div>
</div>
<ul class='search_by'>
<li class='newest active'>
<a href="/pix?newest=true">The Newest Pix</a>
<div class='arrow'></div>
</li>
<li class='most_liked '>
<a href="/pix?most_liked=true">Most Liked</a>
<div class='arrow'></div>
</li>
<li class='playlist '>
<div class='title'>By Gallery</div>
<div class='arrow'></div>
<div class='playlist_selector_form_container'>
      <form action="/pix" class="playlist_form" method="get">
<div class='playlist_selector_container'>
<select class="/pix" id="playlist_selector" name="playlist"><option value="0" selected="selected">Select a Gallery</option>
<option value="19"> Andre's PearPhone Pics!</option>
<option value="102">7 Things That Are Guaranteed to Ruin Your Day</option>
<option value="72">A Christmas Tori</option>
<option value="92">A Robarazzi Special Report: Outrageous Outfits</option>
<option value="80">Andre's Horrible Girlfriend</option>
<option value="88">Animal Secrets Revealed </option>
<option value="99">Animals Say Patriotic Things </option>
<option value="86">April Fools Blank </option>
<option value="17">Around Hollywood Arts</option>
<option value="112">Awkward School Photos</option>
<option value="109">Babies Who Look Like Us</option>
<option value="14">Beck and Jade</option>
<option value="31">Beck's Big Break</option>
<option value="49">Beggin' On Your Knees</option>
<option value="129">Brain Squeezers</option>
<option value="81">Car, Rain, and Fire</option>
<option value="39">Cat's Christmas Pics!</option>
<option value="51">Cat's Costume Creations</option>
<option value="25">Cat's Day at the Beach</option>
<option value="33">Cat's New EX-Boyfriend</option>
<option value="108">Cats Quote Cat</option>
<option value="123">Cell Block Pics!</option>
<option value="91">Clip Pics!</option>
<option value="95">Crazy Ponnie Pics</option>
<option value="41">Diddly Bops and Wok Star!</option>
<option value="87">Driving Tori Everywhere!</option>
<option value="100">Feet Week</option>
<option value="36">Freak the Freak Out!</option>
<option value="125">Fun at the Cow Wow</option>
<option value="22">Games and Stuff</option>
<option value="62">Helen Back Again</option>
<option value="107">Hollywood Arts Flashback</option>
<option value="118">Hollywood Bunnies</option>
<option value="96">Hollywood Fruits</option>
<option value="111">Holy Mole-y!</option>
<option value="90">How Trina Got In</option>
<option value="6">I Rocked The Bird Scene (Tori's Gallery)</option>
<option value="52">Ice Cream for Ke$ha</option>
<option value="121">If Our Thanksgiving Dinners Could Talk</option>
<option value="65">Jade Gets Crushed</option>
<option value="127">Jade's Horrible Gifts</option>
<option value="128">Kojeezy, Pot Pie, and Grandma</option>
<option value="48">Lester the Chimp!</option>
<option value="115">Little Kid Drawings</option>
<option value="60">Locked Up in Yerba</option>
<option value="4">Me, me, and more me!</option>
<option value="94">More Platinum Pics </option>
<option value="73">New Christmas Photos! </option>
<option value="116">Not-So-Perfect Pairs</option>
<option value="110">Our Fortunes Came True!</option>
<option value="54">Our Prome Pics</option>
<option value="29">Perez on a Plane</option>
<option value="103">Postcards from Hollywood Arts</option>
<option value="40">Rex &quot;Dies&quot;</option>
<option value="21">Rex Poses</option>
<option value="20">Rex’s Juicy Pics</option>
<option value="126">Robbie Sells Rex</option>
<option value="46">Robbie's Car and Dale Squires!</option>
<option value="120">Sinjin's Closeups</option>
<option value="130">Slap Fight Pics! </option>
<option value="47">Sleepover at Sikowitz's</option>
<option value="8">Stage Fighting (Tori’s Gallery)</option>
<option value="131">Star-Spangled Tori</option>
<option value="68">Terror on Cupcake Street</option>
<option value="3">The Big Showcase &amp; More</option>
<option value="98">The Blonde Squad</option>
<option value="7">The Boys at Ballet! Ha! (Rex's Gallery)</option>
<option value="77">The Breakfast Bunch</option>
<option value="78">The Gorilla Club</option>
<option value="32">The Great Ping Pong Scam</option>
<option value="114">The Hambone King</option>
<option value="44">The Wood</option>
<option value="79">The Worst Couple </option>
<option value="117">Three Girls and a Moose</option>
<option value="82">Tori and Jade's Play Date</option>
<option value="53">Tori Gets Stuck</option>
<option value="93">Tori Goes Platinum</option>
<option value="16">Tori the Zombie</option>
<option value="64">Tori Tortures Teacher</option>
<option value="12">Trina's Birthweek (Trina's Gallery)</option>
<option value="97">Trina's Dos and Don'ts of Fashion</option>
<option value="37">UNICORNED!</option>
<option value="132">Victori-Yes!</option>
<option value="113">Wanko's Warehouse Lock-In</option>
<option value="56">We Partied with iCarly! </option>
<option value="105">We've Got Sinjin Eyes!</option>
<option value="85">What's in My Hand?</option>
<option value="63">Who Did It to Trina? </option>
<option value="70">Who Is It?</option></select>
<input name="commit" type="submit" value="submit" />
<div class='loading hidden' id='loading_playlist'></div>
</div>
      </form>
</div>
</li>
<li class='slapped '>
<div class='title'>By Person</div>
<div class='arrow'></div>
<div class='slapped_container'>
<a href="/pix?slapped=1" class="" title="Andre Harris"><img alt="Andre Harris" src="http://staticassets.www.theslap.com/square_profile_images/33/medium.jpg?1330544256" /></a>
<a href="/pix?slapped=2" class="" title="Trina Vega"><img alt="Trina Vega" src="http://staticassets.www.theslap.com/square_profile_images/38/medium.jpg?1348348837" /></a>
<a href="/pix?slapped=3" class="" title="Tori Vega"><img alt="Tori Vega" src="http://staticassets.www.theslap.com/square_profile_images/43/medium.jpg?1348347275" /></a>
<a href="/pix?slapped=4" class="" title="Beck Oliver"><img alt="Beck Oliver" src="http://staticassets.www.theslap.com/square_profile_images/48/medium.jpg?1330545341" /></a>
<a href="/pix?slapped=5" class="" title="Rex Powers"><img alt="Rex Powers" src="http://staticassets.www.theslap.com/square_profile_images/53/medium.jpg?1311724235" /></a>
<a href="/pix?slapped=6" class="" title="Robbie Shapiro"><img alt="Robbie Shapiro" src="http://staticassets.www.theslap.com/square_profile_images/58/medium.jpg?1348347536" /></a>
<a href="/pix?slapped=7" class="" title="Cat Valentine"><img alt="Cat Valentine" src="http://staticassets.www.theslap.com/square_profile_images/63/medium.png?1350689024" /></a>
<a href="/pix?slapped=8" class="" title="Jade West"><img alt="Jade West" src="http://staticassets.www.theslap.com/square_profile_images/68/medium.jpg?1327736731" /></a>
<a href="/pix?slapped=9" class="" title="Sinjin Van Cleef"><img alt="Sinjin Van Cleef" src="http://staticassets.www.theslap.com/square_profile_images/241997/medium.jpg?1322953586" /></a>
<a href="/pix?slapped=10" class="" title="Sikowitz"><img alt="Sikowitz" src="http://staticassets.www.theslap.com/square_profile_images/1175572/medium.jpg?1348348442" /></a>
<a href="/pix?slapped=11" class="" title="Lane Alexander"><img alt="Lane Alexander" src="http://staticassets.www.theslap.com/square_profile_images/3414601/medium.png?1311383363" /></a>
<a href="/pix?slapped=12" class="" title="Festus"><img alt="Festus" src="http://staticassets.www.theslap.com/square_profile_images/3649615/medium.jpg?1311376801" /></a>

</div>
<div class='caption'>Click a person to see the photos they were slapped in!</div>
</li>
</ul>
<div id='search_by_footer'></div>
</div>

<div id='block_ad_container'>
<div id='block_ad_tab'>
<div class='title'>
advertisement
</div>
</div>
<div id='block_ad'>
<script type='text/javascript'>
  //<![CDATA[
    mtvn.btg.Controller.placeAd({size:'300x250',contentType:"adi",keyValues:"!category=expand;!category=vic",sections:zone})
  //]]>
</script>
</div>
</div>

</div>
<div id='col_primary'><div class='list_container asset_list_container photo_list_container'>
<div class='list_title_container'>
<div class='list_title'>
the XYZ PIX
</div>
</div>
<ul class='list asset_list photo_list'>
<li class='asset_item even item photo_item' id='photo_21'>
<div class='cell image'>
<a href="/galleries/4/slideshow#http://staticassets.www.theslap.com/images/84/large.jpg"><img alt="My Creators! (My Mom and Dad)" src="http://staticassets.www.theslap.com/images/84/small.jpg?1269736697" /></a>
</div>
<div class='meta_data'>
<div class='cell title'>
<a href="/galleries/4/slideshow#http://staticassets.www.theslap.com/images/84/large.jpg">My Creators! (My Mom and Dad)</a>
</div>
<div class='cell description'>
<a href="/galleries/4/slideshow#http://staticassets.www.theslap.com/images/84/large.jpg">As you can see, I have very pretty parents with very pretty left hands.</a>
</div>
<div class='cell playlist'>
Category:
<a href="/pix?playlist=4">Me, me, and more me!</a>
</div>
<div class='cell uploader'>
Created by:
<a href="/profiles/trina-vega">Trina</a>
</div>
<div class='cell slapped'>
<a href="/profiles/thumbnails?slapped=my-creators-my-mom-and-dad">Who is Slapped?</a>
</div>
</div>
<div class='asset_actions' id='photo_21_asset_actions'>



</div>

</li>
<li class='asset_item item odd photo_item' id='photo_22'>
<div class='cell image'>
<a href="/galleries/4/slideshow#http://staticassets.www.theslap.com/images/85/large.jpg"><img alt="MALPRACTICE (Bad Nursing)" src="http://staticassets.www.theslap.com/images/85/small.jpg?1269736699" /></a>
</div>
<div class='meta_data'>
<div class='cell title'>
<a href="/galleries/4/slideshow#http://staticassets.www.theslap.com/images/85/large.jpg">MALPRACTICE (Bad Nursing)</a>
</div>
<div class='cell description'>
<a href="/galleries/4/slideshow#http://staticassets.www.theslap.com/images/85/large.jpg">If this nurse was GOOD at her job, she would have deflated my tongue in time for my big performance. Thanks for nothing.</a>
</div>
<div class='cell playlist'>
Category:
<a href="/pix?playlist=4">Me, me, and more me!</a>
</div>
<div class='cell uploader'>
Created by:
<a href="/profiles/trina-vega">Trina</a>
</div>
<div class='cell slapped'>
</div>
</div>
<div class='asset_actions' id='photo_22_asset_actions'>



</div>

</li>
<li class='asset_item even item photo_item' id='photo_26'>
<div class='cell image'>
<a href="/galleries/4/slideshow#http://staticassets.www.theslap.com/images/89/large.jpg"><img alt="My Worried Parents" src="http://staticassets.www.theslap.com/images/89/small.jpg?1269736706" /></a>
</div>
<div class='meta_data'>
<div class='cell title'>
<a href="/galleries/4/slideshow#http://staticassets.www.theslap.com/images/89/large.jpg">My Worried Parents</a>
</div>
<div class='cell description'>
<a href="/galleries/4/slideshow#http://staticassets.www.theslap.com/images/89/large.jpg">I think my parents were freaked out by my tongue because it was the first time they ever saw me look not beautiful.</a>
</div>
<div class='cell playlist'>
Category:
<a href="/pix?playlist=4">Me, me, and more me!</a>
</div>
<div class='cell uploader'>
Created by:
<a href="/profiles/trina-vega">Trina</a>
</div>
<div class='cell slapped'>
<a href="/profiles/thumbnails?slapped=my-worried-parents">Who is Slapped?</a>
</div>
</div>
<div class='asset_actions' id='photo_26_asset_actions'>



</div>

</li>

</ul>
<div class='list_footer'></div>
<div class='pagination_container'>
<div class="pagination" id="photos_pagination"><a href="/pix?newest=true&amp;page=83" class="prev_page" rel="prev">&laquo; Previous</a> <a href="/pix?newest=true&amp;page=1" rel="start">1</a> <a href="/pix?newest=true&amp;page=2">2</a> <span class="gap">&hellip;</span> <a href="/pix?newest=true&amp;page=76">76</a> <a href="/pix?newest=true&amp;page=77">77</a> <a href="/pix?newest=true&amp;page=78">78</a> <a href="/pix?newest=true&amp;page=79">79</a> <a href="/pix?newest=true&amp;page=80">80</a> <a href="/pix?newest=true&amp;page=81">81</a> <a href="/pix?newest=true&amp;page=82">82</a> <a href="/pix?newest=true&amp;page=83" rel="prev">83</a> <span class="current">84</span> <span class="disabled next_page">Next &raquo;</span></div>
<div class='loading hidden'></div>
</div>

</div>

</div>

</div>

</div>
<div id='content_footer'></div>
</div>
<div id='sidebar_container'>
<div id='sidebar_header'>
<div class='title'></div>
</div>
<div id='sidebar_content'>
<div class='module_container the_games'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='list_container' id='sidebar_game_container'>
<div class='game_of_months_title_container'></div>
<ul class='list game_of_months jcarousel-skin-tango'>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/7367786/small.png?1360007882')">
<div class='link default_link'><a href="/games/cats-heartbreaker-game" title="Heartbreaker Game"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/7255379/small.png?1358033925')">
<div class='link default_link'><a href="/games/sinjin-sock-hop" title="Sinjin Sock Puppet Game"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/7094958/small.png?1354921421')">
<div class='link default_link'><a href="/games/skate-with-cat-game" title="Skate with Cat promo"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/6890337/small.png?1350691328')">
<div class='link default_link'><a href="/games/jades-zombie-smasher-game" title="Jade's Zombie Smasher"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/6799490/small.png?1348611239')">
<div class='link default_link'><a href="/games/wankos-warehouse-game" title="Wanko's Warehouse"></a></div>
</li>
</ul>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

<div class='module_container the_tunes'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='sidebar_songs_container'>
<a href="/tunes#here-s-to-us" style="background-image: url(http://staticassets.www.theslap.com/images/6938293/sidebar.jpg?1352174971)">Here's 2 Us</a>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

<div class='hottest_pages module_container'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='hottest_pages_links_container'>
<a href="/profiles/tori-vega" title="Tori Vega"><img alt="Tori Vega" src="http://staticassets.www.theslap.com/unprocessed_images/146931/original.jpg?1273857395" /></a>
<a href="/profiles/andre-harris" title="Andre Harris"><img alt="Andre Harris" src="http://staticassets.www.theslap.com/unprocessed_images/146930/original.jpg?1273857393" /></a>
<a href="/profiles/trina-vega" title="Trina Vega"><img alt="Trina Vega" src="http://staticassets.www.theslap.com/unprocessed_images/146929/original.jpg?1273857392" /></a>
<a href="/profiles/robbie-shapiro" title="Robbie Shapiro"><img alt="Robbie Shapiro" src="http://staticassets.www.theslap.com/unprocessed_images/146928/original.jpg?1273857391" /></a>
<a href="/profiles/cat-valentine" title="Cat Valentine"><img alt="Cat Valentine" src="http://staticassets.www.theslap.com/unprocessed_images/146927/original.jpg?1273857390" /></a>
<a href="/profiles/beck-oliver" title="Beck Oliver"><img alt="Beck Oliver" src="http://staticassets.www.theslap.com/unprocessed_images/146926/original.jpg?1273857389" /></a>
<a href="/profiles/jade-west" title="Jade West"><img alt="Jade West" src="http://staticassets.www.theslap.com/unprocessed_images/146925/original.jpg?1273857387" /></a>
<a href="/profiles/rex-powers" title="Rex Powers"><img alt="Rex Powers" src="http://staticassets.www.theslap.com/unprocessed_images/146924/original.jpg?1273857386" /></a>
<a href="/profiles/sinjin-van-cleef" title="Sinjin Van Cleef"><img alt="Sinjin Van Cleef" src="http://staticassets.www.theslap.com/unprocessed_images/948376/original.jpg?1281388313" /></a>
<a href="/profiles/erwin-sikowitz" title="Erwin Sikowitz"><img alt="Erwin Sikowitz" src="http://staticassets.www.theslap.com/unprocessed_images/1219697/original.jpg?1284055516" /></a>
<a href="/profiles/lane-alexander" title="Lane Alexander"><img alt="Lane Alexander" src="http://staticassets.www.theslap.com/unprocessed_images/4108536/original.png?1314733249" /></a>
<a href="/profiles/festus" title="Festus"><img alt="Festus" src="http://staticassets.www.theslap.com/unprocessed_images/5635405/original.jpg?1334777370" /></a>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

</div>
<div id='sidebar_footer'></div>

</div>
</div>
<div id='body_shadow_right'></div>
</div>
<div id='body_shadow_bottom'></div>
<div id='footer_container'>
<div id='footer'>
<div id='footer_nav'>
<div class='link_block top_links'>
<a href="/">THE SLAP HOME</a>
<a href="/bump?to=%2Ffaq">FAQ/ABOUT US</a>
</div>
<div class='link_block'>
<a href="/">HOME</a>
<a href="/bump?to=%2Fprofiles">PROFILES</a>
<a href="/bump?to=%2Fclips">CLIPS</a>
<a href="/bump?to=%2Fpix">PIX</a>
<a href="/bump?to=%2Ftunes">TUNES</a>
<a href="/bump?to=%2Fgames">GAMES</a>
</div>
<div class='link_block'>
<a href="http://www.nick.com/legal/nickelodeon-privacy-policy/" rel="external">Privacy Policy/Your California Privacy Rights (updated 2/9/2016)</a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com%2Fclub%2Fparents-terms-of-use.html" rel="external">Terms of Use</a>
</div>
<div class='link_block'>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com%2Finfo%2Fcopyright.html" rel="external">Copyright Compliance Policy</a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com%2Finfo%2Fsafety-guide.html" rel="external">Safety Guide</a>
</div>
<div class='link_block'>
<a href="/bump?to=http%3A%2F%2Fsrp.mtvn.com%2Fsitefaq.html" class="viacom" rel="external">Ad Choices</a>
</div>
<div class='link_block'>
&copy; Copyright 2016 Viacom International Inc. All Rights Reserved
</div>
<div class='link_block'>
<div class='friends_title'>
Friends of Victorious
</div>
<div class='friends_container'>
<a href="/bump?to=http%3A%2F%2Fwww.icarly.com"><img alt="SplashFace" src="/images/friends/logo_splashface.gif?1451922775" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.icarly.com"><img alt="iCarly" src="/images/friends/logo_icarly.png?1451922775" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com"><img alt="Nick" src="/images/friends/logo_nick_com.png?1451922775" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com"><img alt="Nickelodean Kids &amp; Teens" src="/images/friends/logo_nick_kids_teens.gif?1451922775" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.icarly.com"><img alt="SplashFace" src="/images/friends/logo_zaplook.gif?1451922775" /></a>
</div>
</div>
</div>

</div>
</div>
</div>

</body>
</html>


