<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

                
        



<html xmlns:esi='http://www.edge-delivery.org/esi/1.0' xmlns='http://www.w3.org/1999/xhtml'>
<head>
<title>
Tori, Andre, Trina & friends | TheSlap | Hollywood Arts' Victorious
</title>
<meta content='Go inside Hollywood Arts High and get all the gossip from the "Victorious" gang: Tori, Trina, Cat, Beck, Jade, Andre, Robbie, Rex, and more.' name='description' />
<meta content='g1Q5QGtzjin6h3PuGhdAk8i55BCVlS9Bj3hZi2w26J8' name='google-site-verification' />

<link href='/the-slap/images/favicon.ico' rel='shortcut icon' type='image/x-icon' />
<script src="/the-slap/javascripts/bundled/theslap.js?1451922776" type="text/javascript"></script> 
<link href="/the-slap/stylesheets/bundled/theslap.css?1475507385" media="screen" rel="stylesheet" type="text/css" /> 
<script src="/the-slap/javascripts/bundled/homepage.js?1328550099" type="text/javascript"></script> <!--1451922776-->

<link href="/the-slap/stylesheets/overrides/homepage.css?1269636841" media="screen" rel="stylesheet" type="text/css" />

<!--[if lt IE 7]>
<link href="/stylesheets/compiled/ie.css?1451924669" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if lt IE 8]>
<link href="/stylesheets/compiled/ie7.css?1451924671" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->

</head>
<body class='bp home home_page'>
<!--<script src="/the-slap/javascripts/support/adunit.js?1399927879" type="text/javascript"></script>-->
<!--<script src="/the-slap/http://btg.mtvnservices.com/aria/coda.html?site=theslap.com" type="text/javascript"></script>-->
<!--<script src="/the-slap/javascripts/support/coda_config.js?1321556352" type="text/javascript"></script>-->

<div id='body_container'>
<div id='header_container'>
<div id='header'>
<div id='nav_adornment'></div>
<div id='logo_bg'></div>
<script type='text/javascript'>
  //<![CDATA[
    var user_menu_template = "    <ul>\n      <% try { %>\n        <li class=\"first\">Hello: <span class=\"user_name\"><%= user.username %><\/span><\/li>\n        <li><a href=\"/the-slap/bump?to=%2Fmy%2Fprofile\">My profile<\/a><\/li>\n\n        <% if(user.admin) { %>\n          <li><a href=\"/the-slap/bump?to=%2Fadmin%2Fdashboard\">Admin dashboard<\/a><\/li>\n          <li><a href=\"/\">View site<\/a><\/li>\n        <% } %>\n        <li class=\"last\"><a href=\"/the-slap/users/logout?return_to_after_logged_out=%2F\">Logout<\/a><\/li>\n      <% } catch(err) { %>\n        <li><a href=\"/the-slap/register\">Register<\/a><\/li>\n        <li class=\"last\"><a href=\"/the-slap/bump?to=%2Fusers%2Fpickles%3Freturn_to_if_logged_out%3D%252F\" id=\"login_link\">Login<\/a><\/li>\n      <% } %>\n    <\/ul>\n";
  //]]>
</script>

<a href='/http://www.theslap.com/users/pickles' id='admin_login_link'></a>
<div id='deprecated_user_menu'>
<noscript>
<h3 class='no_javascript_warning'>
Javascript is required to use TheSlap. Please enable Javascript and reload this page.
</h3>
</noscript>
</div>

<div id='logo'>
<a href='/the-slap/'>
<object data='/the-slap/swf/slap_logo.swf' height='103' id='slap_animation' type='application/x-shockwave-flash' width='327'>
<param name='wmode' value='transparent' />
<param name='movie' value='/swf/slap_logo.swf' />
<img alt='The Slap' src='/the-slap/images/themes/default/home_logo.png' />
</object>
</a>
</div>
<div id='nav'>
<ul>
<li class='home first'><a href="/the-slap/">Home</a></li>
<li class='characters'><a href="/the-slap/bump?to=%2Fprofiles">Profiles</a></li>
<li class='videos'><a href="/the-slap/bump?to=%2Fclips%3Fnewest%3Dtrue">Clips</a></li>
<li class='photos'><a href="/the-slap/bump?to=%2Fpix%3Fnewest%3Dtrue">Pix</a></li>
<li class='songs'><a href="/the-slap/bump?to=%2Ftunes">Tunes</a></li>
<li class='games'><a href="/the-slap/bump?to=%2Fgames">Games</a></li>
<li class='search last'><div id='search'>
<form action="/bump" method="get">
<input id="to" name="to" type="hidden" value="/search" />
<input class="search_field" id="q" name="q" placeholder="enter text here" size="15" type="text" />
<button id='search_button' type='submit'>
Search
</button>
</form>
</div>
</li>
</ul>
<div id='nav_bar_right_cap'></div>
</div>

</div>
</div>
<div id='main_container'>
<div id='body_shadow_top'></div>
<div id='body_shadow_left'></div>
<div id='main'>
<div id='content_container'>
<div id='content_callout_container'>
<div id='content_callout_tab'>
<div id='content_callout'>
<div id='banner_ad'>
</div>
</div>
</div>
</div>

<div id='content_header'>
<h1>Tori, Andre, Trina & friends</h1>

</div>
<div class='home' id='content'>

<div id='right_now_container' style=''>
<div class='scrollable vertical_scrollable' id='right_now'>
<ul class='list status_update_list'>
<li class='list_item status_update_item' id='status_update_1583'>
<div class='header'>
<div class='photo_container'>
<a href="/the-slap/bump?to=%2Fprofiles%2Ftori-vega"><div class='photo' style="background-image: url('/the-slap/images/staticassets/square_profile_images/tori.jpg')"></div>
</a></div>
<div class='meta_info'>
<span class='date'>
02-Feb-13
</span>
<span class='time'>
04:01PM
</span>
<div class='cell poster'>Tori's</div>
<div class='cell title'>
Newest Update:
</div>
</div>
</div>
<div class='cell message'>I'm fighting a GIANT BLOB! And I'm LOSING! </div>
<div class='cell mood'>
<div class='mood_title'>Mood =</div>
<div class='mood_icon'><img alt="" src="/the-slap/images/staticassets/unprocessed_images/emojis/908904.gif" /></div>
<div class='mood_word'>ablutophobic</div>

</div>
</li>
<li class='list_item status_update_item' id='status_update_1582'>
<div class='header'>
<div class='photo_container'>
<a href="/the-slap/bump?to=%2Fprofiles%2Fcat-valentine"><div class='photo' style="background-image: url('/the-slap/images/staticassets/square_profile_images/cat.png')"></div>
</a></div>
<div class='meta_info'>
<span class='date'>
02-Feb-13
</span>
<span class='time'>
03:11PM
</span>
<div class='cell poster'>Cat's</div>
<div class='cell title'>
Newest Update:
</div>
</div>
</div>
<div class='cell message'>Guess what I'm wearing??? They're pajamas! They're jeans! They're leggings! It's a hoodie! It's a poncho! It's a Pajelehoocho!!!!</div>
<div class='cell mood'>
<div class='mood_title'>Mood =</div>
<div class='mood_icon'><img alt="" src="/the-slap/images/staticassets/unprocessed_images/emojis/908894.gif" /></div>
<div class='mood_word'>stylin'</div>

</div>
</li>
<li class='list_item status_update_item' id='status_update_1581'>
<div class='header'>
<div class='photo_container'>
<a href="/the-slap/bump?to=%2Fprofiles%2Ferwin-sikowitz"><div class='photo' style="background-image: url('/the-slap/images/staticassets/square_profile_images/sikowitz.jpg')"></div>
</a></div>
<div class='meta_info'>
<span class='date'>
02-Feb-13
</span>
<span class='time'>
02:21PM
</span>
<div class='cell poster'>Sikowitz's</div>
<div class='cell title'>
Newest Update:
</div>
</div>
</div>
<div class='cell message'>This week I challenge you to say YES to everything!!! May you all have adventures worthy of a hit sitcom's series finale!</div>
<div class='cell mood'>
<div class='mood_title'>Mood =</div>
<div class='mood_icon'><img alt="" src="/the-slap/images/staticassets/unprocessed_images/emojis/13.gif" /></div>
<div class='mood_word'>victorious</div>

</div>
</li>
<li class='list_item status_update_item' id='status_update_1580'>
<div class='header'>
<div class='photo_container'>
<a href="/the-slap/bump?to=%2Fprofiles%2Ftrina-vega"><div class='photo' style="background-image: url('/the-slap/images/staticassets/square_profile_images/trina.jpg')"></div>
</a></div>
<div class='meta_info'>
<span class='date'>
02-Feb-13
</span>
<span class='time'>
01:47PM
</span>
<div class='cell poster'>Trina's</div>
<div class='cell title'>
Newest Update:
</div>
</div>
</div>
<div class='cell message'>I'm starring in a hot new show called ¡Divertisimo! It's spanish for "high quality television with a beautiful lead actress." </div>
<div class='cell mood'>
<div class='mood_title'>Mood =</div>
<div class='mood_icon'><img alt="" src="/the-slap/images/staticassets/unprocessed_images/emojis/4.gif" /></div>
<div class='mood_word'>amazing</div>

</div>
</li>
<li class='list_item status_update_item' id='status_update_1579'>
<div class='header'>
<div class='photo_container'>
<a href="/the-slap/bump?to=%2Fprofiles%2Fsinjin-van-cleef"><div class='photo' style="background-image: url('/the-slap/images/staticassets/square_profile_images/sinjin.jpg')"></div>
</a></div>
<div class='meta_info'>
<span class='date'>
02-Feb-13
</span>
<span class='time'>
12:20PM
</span>
<div class='cell poster'>Sinjin's</div>
<div class='cell title'>
Newest Update:
</div>
</div>
</div>
<div class='cell message'>Just got back from my man-date with Beck!!! We had a great time. I hope we can do it again soon!</div>
<div class='cell mood'>
<div class='mood_title'>Mood =</div>
<div class='mood_icon'><img alt="" src="/the-slap/images/staticassets/unprocessed_images/emojis/908882.gif" /></div>
<div class='mood_word'>psyched</div>

</div>
</li>
<li class='list_item status_update_item' id='status_update_1578'>
<div class='header'>
<div class='photo_container'>
<a href="/the-slap/bump?to=%2Fprofiles%2Fandre-harris"><div class='photo' style="background-image: url('/the-slap/images/staticassets/square_profile_images/andre.jpg')"></div>
</a></div>
<div class='meta_info'>
<span class='date'>
02-Feb-13
</span>
<span class='time'>
11:39AM
</span>
<div class='cell poster'>Andre's</div>
<div class='cell title'>
Newest Update:
</div>
</div>
</div>
<div class='cell message'>Hanging with that smelly-footed weirdo, Posey, and sippin' on nasty tomato juice. And I can't say NO! Curse you Sikowitz!!!</div>
<div class='cell mood'>
<div class='mood_title'>Mood =</div>
<div class='mood_icon'><img alt="" src="/the-slap/images/staticassets/unprocessed_images/emojis/15.gif" /></div>
<div class='mood_word'>annoyed</div>

</div>
</li>
</ul>
</div>
</div>

<div class='list_container' id='new_stuff_container' style=''>
<div class='new_stuff_title_container'></div>
<ul class='list new_stuff jcarousel-skin-tango' style=''>
<li class='item' style="background-image: url('/the-slap/images/staticassets/unprocessed_images/7402146_original.png')">
<div class='link default_link'><a href="/the-slap/bump?to=%2Fclips%2Fcat-interviews-a-cute-soccer-boy" title="Cat Interviews Cute Boys!"></a></div>
</li>
<li class='item' style="background-image: url('/the-slap/images/staticassets/unprocessed_images/7367765_original.png')">
<div class='link default_link'><a href="/the-slap/bump?to=%2Fgames%2Fcats-heartbreaker-game" title="Cat's Heartbreaker Game!"></a></div>
</li>
<li class='item' style="background-image: url('/the-slap/images/staticassets/unprocessed_images/7358855_original.png')">
<div class='link default_link'><a href="/the-slap/bump?to=%2Fgalleries%2F132%2Fslideshow%23http%3A%2F%2Fstaticassets.www.theslap.com%2Fimages%2F7358731%2Flarge.jpg" title="Victori-Yes!!"></a></div>
</li>
<li class='item' style="background-image: url('/the-slap/images/staticassets/unprocessed_images/4840250_original.png')">
<div class='link default_link'><a href="/the-slap/bump?to=%2Fbizarre-blabbing-blog" title="Bizarre Blabbing "></a></div>
</li>
<li class='item' style="background-image: url('/the-slap/images/staticassets/unprocessed_images/7151332_original.png')">
<div class='link default_link'><a href="/the-slap/bump?to=%2Fclips%2Fpear-suit-challenge" title="Pear Suit Challenge"></a></div>
</li>
<li class='item' style="background-image: url('/the-slap/images/staticassets/unprocessed_images/4624305_original.png')">
<div class='link default_link'><a href="/the-slap/bump?to=http%3A%2F%2Fstaticassets.www.theslap.com%2Fstatic_page_images%2F4624148%2Foriginal.pdf" title="Song Search "></a></div>
<div class='link secondary_link'>
<a href="/the-slap/bump?to=http%3A%2F%2Fstaticassets.www.theslap.com%2Fstatic_page_images%2F4624156%2Foriginal.pdf" style="top: 223px; left: 550px; width: 165px; height: 61px"></a>
</div>
</li>
</ul>
<div class='stage'>
<div class='loading_overlay'>
<div class='icon'></div>
</div>
<div class='fancy_close'></div>
<div class='video_container'></div>
</div>
</div>

<div class='list_container' id='fun_facts_container' style=''>
  <div class='fun_facts_title_container'></div>
    <ul class='list fun_facts jcarousel-skin-tango' style=''>
      <li class='item'>Most spaghetti sauces made in Italy include the sweat of at least one grandmother. Depending on the grandmother, the sauce is either very sweet or very salty</li>
      <li class='item'>Before paper and scissors were invented, ancient Mayans used to play: Rock-Leaf-Punch in the Gut.</li>
      <li class='item'>The world's largest nose hair belongs to a man from Argentina. It measure 4 feet long and tickles his knees when he walks. </li>
      <li class='item'>In colonial times, skinny jeans were worn as a form of punishment. When given the choice, most people chose to have an unnecessary route canal instead.</li>
      <li class='item'>The other reindeer won't let Rudolph join in their weekly game of blackjack. Not because they don't like him, but because he cheats.</li>
      <li class='item'>Travel Tip: In Sweden, most restaurants will give you a free meal if you agree to floss your waiter's teeth for him afterwards.</li>
      <li class='item'>According to meteorologists, clouds taste like a mixture of vanilla beans, salt, and oyster sauce.  </li>
      <li class='item'>Keeping several extra-large marshmallows under your pillow is 97% effective at preventing nightmares. Weird... but true! </li>
      <li class='item'>Burf's full name is actually Burftholomew. But he goes by Burf cuz it's easier to spell.</li>
      <li class='item'>The very first baseballs were made out of raw potatoes. If you were sitting in the stands and caught a home run, you were allowed to take it home and eat it. </li>
      <li class='item'>President John Quincy Adams created the game of basketball. Though at the time, he called it "Gentleman's Ball Tossing Activity." </li>
      <li class='item'>In the state of Massachusetts, you can be fined $1000 for putting up Christmas lights before November 1st. They hate prematurely jolly folk. </li>
      <li class='item'>Originally, candy corn was made from pulled teeth obtained from a dentist office. It was then dipped in sugar and food coloring. </li>
      <li class='item'>Cockroaches are usually really depressed because people always scream when they see them. They spend a small fortune on roach therapy each year. </li>
      <li class='item'>Studies show that 98% of dogs don't floss after every meal… even though they tell their doggie dentists that they do.</li>
      <li class='item'>Urinals were originally created to be giant soup dispensers. Then one day someone accidentally used it for something else and its purpose was forever changed.</li>
      <li class='item'>Relatively few cats remain in Denmark since the government made purring and scratching illegal. </li>
      <li class='item'>Before paper, people used to write books on cows. They were really hard to read in bed.</li>
      <li class='item'>In Montana, brides used to have to carry a 600lb. chunk of gold to the top of the altar in order for their groom to accept them as his wife.</li>
      <li class='item'>You CAN make cheese from rat's milk. It's considered a delicacy in parts of southern France. </li>
      <li class='item'>Before 1978, chickens weren't allowed to use elevators. They had to take the stairs.</li>
      <li class='item'>Much like a chameleon, a polar bear can change its fur to blend in to its environment. If placed in a rainforest, it would suddenly turn green. </li>
      <li class='item'>Speed texting will be added to the winter games in 2014. Cat is already in training. </li>
      <li class='item'>In Macedonia, they used to use hugs as money. A pizza typically cost three hugs. But adding pepperoni and sausage would cost you an additional hug.</li>
      <li class='item'>Recycled paper is made from baby teeth collected by the tooth fairy. This makes the tooth fairy a very rich woman. </li>
      <li class='item'>In Latin America, it's considered wrong to dress a turtle in a turtleneck. However, it IS completely normal to put a peacock in a peacoat. </li>
      <li class='item'>When a head lice is banished from the lice community, he's forced to live alone on a bald guy. </li>
      <li class='item'>Peter Schnupp, AKA, the "Loneliest Man in the World," holds the records for smallest surprise birthday party attendance, least used telephone, and cleanest guest room. </li>
      <li class='item'>There are actually NO deadly creatures in Australia. That's just a myth spread by koalas because they hate tourists. </li>
      <li class='item'>There are more germs in your mouth than in a dog's ear. So, to keep your dog healthy, please refrain from licking its ears. </li>
      <li class='item'>Submarines were originally invented to search the ocean for mermaids. But all they've been able to find is 2 mermen. It's been a disappointment. </li>
      <li class='item'>John Adams's birthday is on the 4th of July. But since the other founding fathers didn't like him, they made that day a holiday so they'd have an excuse not to go to his birthday party. </li>
      <li class='item'>Besides St. Patrick's Day, the only other time you may be able to see a leprechaun is on June 21st. That's the day they hold they're annual convention in Boca Raton, FL. </li>
      <li class='item'>Tori's song "Make it Shine" was recently chosen as the official state song of Delaware.</li>
      <li class='item'>If a horse and a sea lion had a baby, they would create a new species: Miniature Unicorns. Unfortunately, horses don't hang around marinas, so this will probably never happen.</li>
      <li class='item'>Did you know that placing a slice of Swiss cheese on your forehead can often help cure hiccups? </li>
      <li class='item'>If given the choice, many flesh-eating fish actually choose to eat salad. But sometimes flesh is all they can get. </li>
      <li class='item'>In Nebraska, cows are allowed to vote. Politicians spend millions each year trying to win over the bovine community. </li>
      <li class='item'>The side effects of drinking rotten Sri Lankan coconuts are: strange visions, itchy toes, and a strong desire to bite furniture. We recommend NOT drinking it. </li>
      <li class='item'>In some parts of the Netherlands, dentists make necklaces out of the teeth they've pulled. Each night they brush and floss their necklaces before bed.</li>
      <li class='item'>Stepping on a crack WILL NOT break your mother's back. But it will give her adult acne. Be careful where you walk. </li>
      <li class='item'>By practicing daily for 36 years, Albert Einstein was able, with great concentration, to move small objects across the room with his mind.</li>
      <li class='item'>People who are afraid of warm bread have what they call "Tepidus-panem-phobia." Offering them a toasted bagel will make them explode. Literally.</li>
      <li class='item'>In 1987, twenty-two house plants were convicted of felonies in Chicago alone.</li>
      <li class='item'>In ancient times, if someone sneezed, you were legally allowed to slap them.</li>
      <li class='item'>Strangely enough, the joke "Why did the chicken cross the road?" was first told in 400 B.C. before the invention of either roads or chickens. </li>
      <li class='item'>The official language of China is Norwegian, but the Chinese people choose not to speak it. </li>
      <li class='item'>The oldest woman in the world can still bench press 200 pounds. However, she has a hard time peeing without help.</li>
      <li class='item'>In New Zealand, back zits are considered good luck and students will often sleep on bacon grease the night before exams.</li>
      <li class='item'>Studies show that putting sea salt between your toes at night increases your memory and eyesight. We don't remember where we saw this fact.</li>
      <li class='item'>The world's largest toilet is in Spokane, Washington and can sit 37 people at the same time!</li>
      <li class='item'>The world's first chewing gum was beef flavored. </li>
      <li class='item'>Although normally very friendly, a penguin WILL attack if you make fun of the way it walks. So we suggest not doing that. </li>
      <li class='item'>In Finland, Christmas caroling without a license is a crime on par with arson and burglary. However, Christmas yodeling without a license is permitted AND encouraged.</li>
      <li class='item'>A mall Santa in Stanker, Wyoming holds the record for most sits upon his knee in a single day. He now has arthritis.</li>
      <li class='item'>99% of turkeys polled say Thanksgiving is their least favorite holiday. The other 1% chose Valentine's Day, but that's cuz they can't get girlfriends.</li>
      <li class='item'>According to leading style experts, the big fashion trend of 2012 will be unibrows. You better start growing yours out now! </li>
      <li class='item'>A standard size pumpkin, when properly connected with ordinary electrical cables, can power a widescreen television for 56 hours.</li>
      <li class='item'>The color purple didn't exist until 1923, when it was accidentally invented by Ukrainian scientists.</li>
      <li class='item'>The city of Portland allows you to keep up to 5 llamas in your apartment at any given time, provided you pay a $500 dollar a year "Llama Tax."</li>
      <li class='item'>There is only ONE dinosaur still alive today. His name is Fred. He lives in Hoboken, NJ and his favorite food is gnocchi.</li>
      <li class='item'>Before moving on to politics, John Adams was a professional magician known as Clyde the Magnificent.</li>
      <li class='item'>In certain parts of Italy, it is illegal for dogs to walk in public without wearing underwear.</li>
      <li class='item'>When peanut butter was first invented, it was used as a lubricant for special machines in Mexico. </li>
      <li class='item'>In Russia, they celebrate their Independence Day by safely dropping Pug Monkeys (with parachutes) from helicopters.</li>
      <li class='item'>Until 1856, the English alphabet only had 25 letters. The letter K was added in January of that year by Kris Kristofferson.</li>
      <li class='item'>The brassiere (aka "bra") was invented by Benjamin Franklin, originally as a device for women to carry extra peanuts.</li>
      <li class='item'>In 1965 it became legal for chickens to wed in the state of North Dakota. Ducks are still prohibited from marrying in all 50 states.</li>
      <li class='item'>Studies show that people who are left-handed are more likely to be abducted by aliens.</li>
      <li class='item'>Whale eggs are larger than most beach balls.</li>
      <li class='item'>In some parts of England, it's considered rude to give a woman soup.</li>
      <li class='item'>If a horse smells watermelon, he will giggle uncontrollably.</li>
      <li class='item'>In the Portuguese language, the word for "foot" also means "bloody monkeys."</li>
      <li class='item'>Human ear wax is considered a delicacy in Wisconsin.</li>
      <li class='item'>The furthest star from planet Earth, visible to the human eye, is named "Ronnie."</li>
      <li class='item'>If a mouse eats cheese upside down, the mouse will explode.</li>
      <li class='item'>Until the late 1930's, Halloween was referred to as "The Ween Festival."</li>
      <li class='item'>In the early 1700's, dark-haired women often used pork fat as hair conditioner.</li>
      <li class='item'>Because of the cold climate in New Zealand, most vegetables are grown in public restrooms.</li>
      <li class='item'>Abraham Lincoln, every night before bed, would eat a large mug of tuna fish and strawberries. </li>
      <li class='item'>In France, school children eat onions like American school children eat apples.</li>
      <li class='item'>Traditionally, Italian princesses bathe in blueberry juice.</li>
      <li class='item'>The average human mouth contains millions of micro-bacteria called "tongue-walkers."</li>
      <li class='item'>The basketball term "dribbling" comes from the Latin word "Dreeblae" which means "ball bouncing."</li>
      <li class='item'>Before shampoo was invented, Europeans washed their hair with sheep fat.</li>
      <li class='item'>According to scientific evidence, the human brain, if eaten, tastes very much like tunafish.</li>
      <li class='item'>When ketchup was first invented, it got its red color from chicken blood.</li>
      <li class='item'>In Wisconsin it is illegal for women to wear swimsuits with high heeled shoes.</li>
      <li class='item'>The world's largest pizza was over 2,000 miles wide. It was eaten by fourth graders from New Jersey.</li>
      <li class='item'>The game "Soccer" was invented in Canada and was originally called "Ball Kicking."</li>
      <li class='item'>The ancient Egyptians invented pyramids, toothpaste, and spandex.</li>
      <li class='item'>The name "Jennifer" comes from the Latin word "jenefia" which means "unfortunate female."</li>
      <li class='item'>There are no cows on the island of Kernivia so, instead, people drink dog milk.</li>
      <li class='item'>Every year in America, over 46,000 people are arrested for eating illegal meat.</li>
      <li class='item'>In some foreign countries, ear wax is considered a delicacy, often eaten on crackers.</li>
      <li class='item'>In Australia it's illegal to wear a skirt when visiting a farm.</li>
    </ul>
  </div>

  <div id='hot_pages'>
    <ul class='jcarousel-skin-tango'>
      <li>
        <div class='frame'>
          <a href="/the-slap/bump?to=%2Fprofiles%2Ftori-vega"><img alt="Tori Vega" class="photo" src="/the-slap/images/staticassets/mini_profile_images/tori.jpg" /></a>
          <p>Tori Vega</p>
        </div>
        <div class='frame'>
          <a href="/the-slap/bump?to=%2Fprofiles%2Fandre-harris"><img alt="Andre Harris" class="photo" src="/the-slap/images/staticassets/mini_profile_images/andre.jpg" /></a>
          <p>Andre Harris</p>
        </div>
        <div class='frame'>
          <a href="/the-slap/bump?to=%2Fprofiles%2Ftrina-vega"><img alt="Trina Vega" class="photo" src="/the-slap/images/staticassets/mini_profile_images/trina.jpg" /></a>
          <p>Trina Vega</p>
        </div>
        <div class='frame'>
          <a href="/the-slap/bump?to=%2Fprofiles%2Frobbie-shapiro"><img alt="Robbie Shapiro" class="photo" src="/the-slap/images/staticassets/mini_profile_images/robbie.jpg" /></a>
          <p>Robbie Shapiro</p>
        </div>
        <div class='frame'>
          <a href="/the-slap/bump?to=%2Fprofiles%2Fcat-valentine"><img alt="Cat Valentine" class="photo" src="/the-slap/images/staticassets/mini_profile_images/cat.png" /></a>
          <p>Cat Valentine</p>
        </div>
        <div class='frame'>
          <a href="/the-slap/bump?to=%2Fprofiles%2Fbeck-oliver"><img alt="Beck Oliver" class="photo" src="/the-slap/images/staticassets/mini_profile_images/beck.jpg" /></a>
          <p>Beck Oliver</p>
        </div>
        <div class='frame'>
          <a href="/the-slap/bump?to=%2Fprofiles%2Fjade-west"><img alt="Jade West" class="photo" src="/the-slap/images/staticassets/mini_profile_images/jade.jpg" /></a>
          <p>Jade West</p>
        </div>
      </li>
      <li>
        <div class='frame'>
          <a href="/the-slap/bump?to=%2Fprofiles%2Frex-powers"><img alt="Rex Powers" class="photo" src="/the-slap/images/staticassets/mini_profile_images/rex.jpg" /></a>
          <p>Rex Powers</p>
        </div>
        <div class='frame'>
          <a href="/the-slap/bump?to=%2Fprofiles%2Fsinjin-van-cleef"><img alt="Sinjin Van Cleef" class="photo" src="/the-slap/images/staticassets/mini_profile_images/sinjin.jpg" /></a>
          <p>Sinjin Van Cleef</p>
        </div>
        <div class='frame'>
          <a href="/the-slap/bump?to=%2Fprofiles%2Ferwin-sikowitz"><img alt="Sikowitz" class="photo" src="/the-slap/images/staticassets/mini_profile_images/sikowitz.jpg" /></a>
          <p>Sikowitz</p>
        </div>
        <div class='frame'>
          <a href="/the-slap/bump?to=%2Fprofiles%2Flane-alexander"><img alt="Lane Alexander" class="photo" src="/the-slap/images/staticassets/mini_profile_images/lane.png" /></a>
          <p>Lane Alexander</p>
        </div>
        <div class='frame'>
          <a href="/the-slap/bump?to=%2Fprofiles%2Ffestus"><img alt="Festus" class="photo" src="/the-slap/images/staticassets/mini_profile_images/festus.jpg" /></a>
          <p>Festus</p>
        </div>
      </li>
    </ul>
  </div>

  <div id='make_rex_speak_container'>
    <object data='/the-slap/swf/make_rex_say_stuff.swf' height='275' id='make_rex_speak' type='application/x-shockwave-flash' width='217'>
      <param name='movie' value='/the-slap/swf/make_rex_say_stuff.swf' />
      <param name='wmode' value='transparent' />
      <div class='talk_widget' style='width:218px; height:279px; overflow:hidden'>
        <img alt='Make Rex Say Stuff' src='/the-slap/talk_widget/images/rex.jpg' />
        <audio src='/the-slap/talk_widget/audio/cupcake.mp4'>
        Whatever it takes, cupcake.
        </audio>
        <audio src='/the-slap/talk_widget/audio/smell.mp4'>
        Can I smell it?
        </audio>
        <audio src='/the-slap/talk_widget/audio/stop.mp4'>
        Stop clicking on me!
        </audio>
        <script type='text/javascript'>
          //<![CDATA[
            $(function(){$('.talk_widget').click(function(){$('audio',this)[Math.floor(Math.random()*$('audio',this).length)].play()})});
          //]]>
        </script>
      </div>
    </object>
  </div>

  <div class='list_container' id='game_of_months_container'>
    <div class='game_of_months_title_container'></div>
      <ul class='list game_of_months jcarousel-skin-tango'>
        <li class='item' style="background-image: url('/the-slap/images/staticassets/game_of_month_images/7367786_original.png')">
          <div class='link default_link'><a href="/the-slap/bump?to=%2Fgames%2Fcats-heartbreaker-game" title="Heartbreaker Game"></a></div>
        </li>
        <li class='item' style="background-image: url('/the-slap/images/staticassets/game_of_month_images/7255379_original.png')">
          <div class='link default_link'><a href="/the-slap/bump?to=%2Fgames%2Fsinjin-sock-hop" title="Sinjin Sock Puppet Game"></a></div>
        </li>
        <li class='item' style="background-image: url('/the-slap/images/staticassets/game_of_month_images/7094958_original.png')">
          <div class='link default_link'><a href="/the-slap/bump?to=%2Fgames%2Fskate-with-cat-game" title="Skate with Cat promo"></a></div>
        </li>
        <li class='item' style="background-image: url('/the-slap/images/staticassets/game_of_month_images/6890337_original.png')">
          <div class='link default_link'><a href="/the-slap/bump?to=%2Fgames%2Fjades-zombie-smasher-game" title="Jade's Zombie Smasher"></a></div>
        </li>
        <li class='item' style="background-image: url('/the-slap/images/staticassets/game_of_month_images/6799490_original.png')">
          <div class='link default_link'><a href="/the-slap/bump?to=%2Fgames%2Fwankos-warehouse-game" title="Wanko's Warehouse"></a></div>
        </li>
      </ul>
    </div>

    <div id='photos_highlight_container' style='background-image: url("/the-slap/images/staticassets/unprocessed_images/7268026_original.png")'>
      <a href="/the-slap/bump?to=%2Fmy%2Fprofile" style='background-image: url("/the-slap/images/staticassets/unprocessed_images/7268025_original.png")'>Avatar wendeshia</a>
    </div>

    <div id='what_is_theslap_container'>
      <a href="/the-slap/bump?to=%2Ffaq">What is The Slap</a>
    </div>

    <div id='s_link'>
      <div id='links'>
        <p>
          <div class='title'>PROFILES:</div>
          <a href="/the-slap/bump?to=%2Fprofiles%2Ftori-vega">Tori Vega</a>
          <a href="/the-slap/bump?to=%2Fprofiles%2Fandre-harris">Andre Harris</a>
          <a href="/the-slap/bump?to=%2Fprofiles%2Ftrina-vega">Trina Vega</a>
          <a href="/the-slap/bump?to=%2Fprofiles%2Frobbie-shapiro">Robbie Shapiro</a>
          <a href="/the-slap/bump?to=%2Fprofiles%2Fcat-valentine">Cat Valentine</a>
          <a href="/the-slap/bump?to=%2Fprofiles%2Fbeck-oliver">Beck Oliver</a>
          <a href="/the-slap/bump?to=%2Fprofiles%2Fjade-west">Jade West</a>
          <a href="/the-slap/bump?to=%2Fprofiles%2Frex-powers">Rex Powers</a>
          <a href="/the-slap/bump?to=%2Fprofiles%2Fsinjin-van-cleef">Sinjin Van Cleef</a>
          <a href="/the-slap/bump?to=%2Fprofiles%2Ferwin-sikowitz">Sikowitz</a>
        </p>
        <p>
          <div class='title'>PHOTO GALLERIES:</div>
          <a href="/the-slap/bump?to=%2Fpix%3Fplaylist%3D132">Victori-Yes!</a>
          <a href="/the-slap/bump?to=%2Fpix%3Fplaylist%3D131">Star-Spangled Tori</a>
          <a href="/the-slap/bump?to=%2Fpix%3Fplaylist%3D130">Slap Fight Pics! </a>
          <a href="/the-slap/bump?to=%2Fpix%3Fplaylist%3D129">Brain Squeezers</a>
          <a href="/the-slap/bump?to=%2Fpix%3Fplaylist%3D128">Kojeezy, Pot Pie, and Grandma</a>
          <a href="/the-slap/bump?to=%2Fpix%3Fplaylist%3D127">Jade's Horrible Gifts</a>
          <a href="/the-slap/bump?to=%2Fpix%3Fplaylist%3D126">Robbie Sells Rex</a>
        </p>
        <p>
          <div class='title'>VIDEOS:</div>
          <a href="/the-slap/bump?to=%2Fclips%2Fcat-interviews-a-cute-soccer-boy">Cat Interviews a Cute Soccer Boy</a>
          <a href="/the-slap/bump?to=%2Fclips%2Fpajelehoocho-commercial">Pajelehoocho Commercial</a>
          <a href="/the-slap/bump?to=%2Fclips%2Ftrina-s-spanish-show-divertismo">Trina's Spanish Show: Divertisimo </a>
          <a href="/the-slap/bump?to=%2Fclips%2Frobbie-s-magic-show-disappearing-cat">Robbie's Magic Show: Disappearing Cat</a>
          <a href="/the-slap/bump?to=%2Fclips%2Ftori-s-national-anthem">Tori's National Anthem</a>
          <a href="/the-slap/bump?to=%2Fclips%2Ftori-sings-bad-boys">Tori Sings Bad Boys</a>
          <a href="/the-slap/bump?to=%2Fclips%2Fshopping-with-trina">Shopping with Trina</a>
        </p>
        <p>
          <div class='title'>SONGS & GAMES:</div>
          <a href="/the-slap/bump?to=%2Ftunes%23you-don-t-know-me-3">You Don't Know Me</a>
          <a href="/the-slap/bump?to=%2Ftunes%23here-s-to-us">Here's 2 Us</a>
          <a href="/the-slap/bump?to=%2Ftunes%23la-boyz">LA Boyz </a>
          <a href="/the-slap/bump?to=%2Fgames%2Fcats-heartbreaker-game">Cats Heartbreaker Game</a>
          <a href="/the-slap/bump?to=%2Fgames%2Fsinjin-sock-hop">Sinjin Sock Hop</a>
          <a href="/the-slap/bump?to=%2Fgames%2Fskate-with-cat-game">Skate with Cat Game</a>
        </p>
      </div>
    </div>



  </div>
  <div id='content_footer'></div>
</div>
</div>
<div id='body_shadow_right'></div>
</div>
<div id='body_shadow_bottom'></div>
<div id='footer_container'>
  <div id='footer'>
    <div id='footer_nav'>
      <div class='link_block top_links'>
        <a href="/the-slap/">THE SLAP HOME</a>
        <a href="/the-slap/bump?to=%2Ffaq">FAQ/ABOUT US</a>
      </div>
      <div class='link_block'>
        <a href="/the-slap/">HOME</a>
        <a href="/the-slap/bump?to=%2Fprofiles">PROFILES</a>
        <a href="/the-slap/bump?to=%2Fclips">CLIPS</a>
        <a href="/the-slap/bump?to=%2Fpix">PIX</a>
        <a href="/the-slap/bump?to=%2Ftunes">TUNES</a>
        <a href="/the-slap/bump?to=%2Fgames">GAMES</a>
      </div>
      <div class='link_block'>
        <a href="http://www.nick.com/legal/nickelodeon-privacy-policy/" rel="external">Privacy Policy/Your California Privacy Rights (updated 2/9/2016)</a>
        <a href="/the-slap/bump?to=http%3A%2F%2Fwww.nick.com%2Fclub%2Fparents-terms-of-use.html" rel="external">Terms of Use</a>
      </div>
      <div class='link_block'>
        <a href="/the-slap/bump?to=http%3A%2F%2Fwww.nick.com%2Finfo%2Fcopyright.html" rel="external">Copyright Compliance Policy</a>
        <a href="/the-slap/bump?to=http%3A%2F%2Fwww.nick.com%2Finfo%2Fsafety-guide.html" rel="external">Safety Guide</a>
      </div>
      <div class='link_block'>
        <!--<a href="/the-slap/bump?to=http%3A%2F%2Fsrp.mtvn.com%2Fsitefaq.html" class="viacom" rel="external">Ad Choices</a>-->
      </div>
      <div class='link_block'>
        &copy; Copyright 2018 Viacom International Inc. All Rights Reserved
      </div>
      <div class='link_block'>
        <div class='friends_title'>
          Friends of Victorious
        </div>
        <div class='friends_container'>
          <a href="/the-slap/bump?to=http%3A%2F%2Fwww.icarly.com"><img alt="SplashFace" src="/the-slap/images/friends/logo_splashface.gif?1451922775" /></a>
          <a href="/the-slap/bump?to=http%3A%2F%2Fwww.icarly.com"><img alt="iCarly" src="/the-slap/images/friends/logo_icarly.png?1451922775" /></a>
          <a href="/the-slap/bump?to=http%3A%2F%2Fwww.nick.com"><img alt="Nick" src="/the-slap/images/friends/logo_nick_com.png?1451922775" /></a>
          <a href="/the-slap/bump?to=http%3A%2F%2Fwww.nick.com"><img alt="Nickelodean Kids &amp; Teens" src="/the-slap/images/friends/logo_nick_kids_teens.gif?1451922775" /></a>
          <a href="/the-slap/bump?to=http%3A%2F%2Fwww.icarly.com"><img alt="SplashFace" src="/the-slap/images/friends/logo_zaplook.gif?1451922775" /></a>
        </div>
      </div>
    </div>

  </div>
</div>
</div>

</body>
</html>
