
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

                
        



<html xmlns:esi='http://www.edge-delivery.org/esi/1.0' xmlns='http://www.w3.org/1999/xhtml'>
<head>
<title>
Cat Interviews a Cute Soccer Boy | TheSlap | Hollywood Arts' Victorious
</title>
<meta content='Attention cute soccer boys! Meet me (Cat) in the Black Box theater for soccer tryouts! If you can hug really good, you make the team! ' name='description' />
<meta content='The Slap' property='og:site_name' />
<meta content='video' property='og:type' />
<meta content='/the-slap/clips/cat-interviews-a-cute-soccer-boy' property='og:url' />
<meta content='Cat Interviews a Cute Soccer Boy' property='og:title' />
<meta content='/the-slap/images/staticassets/video_thumbnail_images/7402032_medium.jpg?1360888632' property='og:image' />
<meta content='Attention cute soccer boys! Meet me (Cat) in the Black Box theater for soccer tryouts! If you can hug really good, you make the team! ' property='og:description' />
<meta content='166' property='video:duration' />

<link href='/the-slap/images/favicon.ico' rel='shortcut icon' type='image/x-icon' />
<script src="/the-slap/javascripts/bundled/theslap.js" type="text/javascript"></script>
<link href="/the-slap/stylesheets/bundled/theslap.css" media="screen" rel="stylesheet" type="text/css" />
<!--<script src="/the-slap/javascripts/support/vplayer.js" type="text/javascript"></script>-->
<script src="/the-slap/javascripts/bundled/assets.js" type="text/javascript"></script>
<!--<script src="/the-slap/javascripts/videos_and_photos.js" type="text/javascript"></script>
<script src="/the-slap/javascripts/video_and_photo_lists.js" type="text/javascript"></script>
<script src="/the-slap/javascripts/flowplayer-3.1.4.min.js" type="text/javascript"></script>
<script src="/the-slap/javascripts/support/swfobject.js" type="text/javascript"></script>
<script src="/the-slap/javascripts/support/vplayer.js" type="text/javascript"></script>
<script src="/the-slap/javascripts/custom/video/init.js" type="text/javascript"></script>-->


<!--[if lt IE 7]>
<link href="/stylesheets/compiled/ie.css?1451924669" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if lt IE 8]>
<link href="/stylesheets/compiled/ie7.css?1451924671" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->

</head>
<body class='bp video_page videos'>
<!--<script src="/javascripts/support/adunit.js?1451922776" type="text/javascript"></script>
<script src="http://btg.mtvnservices.com/aria/coda.html?site=theslap.com" type="text/javascript"></script>
<script src="/javascripts/support/coda_config.js?1451922776" type="text/javascript"></script>-->

<div id='body_container'>
<div id='header_container'>
<div id='header'>
<div id='nav_adornment'></div>
<div id='logo_bg'></div>
<script type='text/javascript'>
  //<![CDATA[
    var user_menu_template = "    <ul>\n      <% try { %>\n        <li class=\"first\">Hello: <span class=\"user_name\"><%= user.username %><\/span><\/li>\n        <li><a href=\"/the-slap/my/profile\">My profile<\/a><\/li>\n\n        <% if(user.admin) { %>\n          <li><a href=\"/the-slap/admin/dashboard\">Admin dashboard<\/a><\/li>\n          <li><a href=\"/\">View site<\/a><\/li>\n        <% } %>\n        <li class=\"last\"><a href=\"/the-slap/users/logout?return_to_after_logged_out=%2Fclips%2Fcat-interviews-a-cute-soccer-boy\">Logout<\/a><\/li>\n      <% } catch(err) { %>\n        <li><a href=\"/the-slap/register\">Register<\/a><\/li>\n        <li class=\"last\"><a href=\"/the-slap/users/pickles?return_to_if_logged_out=%2Fclips%2Fcat-interviews-a-cute-soccer-boy\" id=\"login_link\">Login<\/a><\/li>\n      <% } %>\n    <\/ul>\n";
  //]]>
</script>

<a href='http://www.theslap.com/users/pickles' id='admin_login_link'></a>
<div id='deprecated_user_menu'>
<noscript>
<h3 class='no_javascript_warning'>
Javascript is required to use TheSlap. Please enable Javascript and reload this page.
</h3>
</noscript>
</div>

<div id='logo'>
<a href='/the-slap/'>
<object data='/the-slap/swf/slap_logo.swf' height='103' id='slap_animation' type='application/x-shockwave-flash' width='327'>
<param name='wmode' value='transparent' />
<param name='movie' value='/the-slap/swf/slap_logo.swf' />
<img alt='The Slap' src='/the-slap/images/themes/default/home_logo.png' />
</object>
</a>
</div>
<div id='nav'>
<ul>
<li class='home first'><a href="/the-slap/">Home</a></li>
<li class='characters'><a href="/the-slap/profiles">Profiles</a></li>
<li class='videos'><a href="/the-slap/clips?newest=true">Clips</a></li>
<li class='photos'><a href="/the-slap/pix?newest=true">Pix</a></li>
<li class='songs'><a href="/the-slap/tunes">Tunes</a></li>
<li class='games'><a href="/the-slap/games">Games</a></li>
<li class='search last'><div id='search'>
<form action="/the-slap/search" method="get">

<input class="search_field" id="q" name="q" placeholder="enter text here" size="15" type="text" />
<button id='search_button' type='submit'>
Search
</button>
</form>
</div>
</li>
</ul>
<div id='nav_bar_right_cap'></div>
</div>

</div>
</div>
<div id='main_container'>
<div id='body_shadow_top'></div>
<div id='body_shadow_left'></div>
<div id='main'>
<div id='content_container'>
<div id='content_callout_container'>
<div id='content_callout_tab'>
<div id='content_callout'>
<div id='banner_ad'>
<!--<script type='text/javascript'>
  //<![CDATA[
    mtvn.btg.Controller.placeAd({size:'728x90',contentType:"adi",keyValues:"!category=expand;!category=vic",sections:zone});
  //]]>
</script>-->
</div>
</div>
</div>
</div>

<div id='content_header'>
<h1>The Clips</h1>
<div id='header_controls'><div class='also_see_container'><a href="/the-slap/clips?newest=true">See All Clips</a></div>
</div>

</div>
<div class='video' id='content'>

  <div id='content_top'><div class='fancy_info_block info_header'>
    <div class='row title'>
      <h2 class='label'>You're Watching:</h2>
      <h2 class='value'>Cat Interviews a Cute Soccer Boy</h2>
    </div>
    <div class='row description'>
      <h2 class='label'>In This Video:</h2>
      <h2 class='value'>Attention cute soccer boys! Meet me (Cat) in the Black Box theater for soccer tryouts! If you can hug really good, you make the team! </h2>
    </div>
    <div class='row playlist'>
      <h2 class='label'>Category:</h2>
      <h2 class='value'><a href="/the-slap/clips?playlist=35">Cat Interviews Cute Boys</a></h2>
    </div>
    <div class='row'>
      <div class='asset_actions' id='video_1359_asset_actions'>


        <span id='video_1359_embed'>
          <a href="/the-slap/clips/cat-interviews-a-cute-soccer-boy/embed/new" class="embed" title="Embed on your webpage">Embed on your webpage</a>
        </span>

      </div>

    </div>
  </div>
  <div class='player_container'>
    <div class='videoContainer' id='video_player'>
      <iframe width="570" height="321"
      src="https://www.youtube.com/embed/88rBV8bMv0I">
      </iframe>
      <!--<div class='videoInfo'>start
      </div>
      <div class='videoOverlay' id='clickToPlay'>
        <img alt="Cat Interviews a Cute Soccer Boy" height="321" src="/the-slap/images/staticassets/video_thumbnail_images/7402032_large.jpg" width="570" />
        <div class='playIcon'>
          <img alt="Play" height="60" src="/the-slap/images/play_icon.png" width="60" />
        </div>
        <div class='videoLoadingIndicator'>
          <img alt="Loading" height="32" src="/the-slap/images/loading_video.gif" width="32" />
        </div>
      </div>
      <div class='videoOverlay' id='moreClips'>
        <h3>
        Play Another Clip?
        </h3>
        <ol>
          <li>
            <a href='/the-slap/clips/cat-interviews-a-cute-soccer-boy'>
              <img src='/the-slap/images/staticassets/video_thumbnail_images/7402032_small.jpg' />
              <strong>Cat Interviews a Cute Soccer Boy</strong>
              <span>Attention cute soccer boys! Meet me (Cat) in the Black Box theater for soccer tryouts! If you can hug really good, you make the team! </span>
            </a>
          </li>
          <li>
            <a href='/the-slap/clips/cat-and-robbies-bad-news-songs-the-clam'>
              <img src='/the-slap/images/staticassets/video_thumbnail_images/7177410_small.png' />
              <strong>Cat and Robbie’s Bad News Songs: The Clam</strong>
              <span>For all of you who have had a clam stuck in your teeth, here is a song to make you feel better!</span>
            </a>
          </li>
          <li>
            <a href='/the-slap/clips/cat-s-random-thoughts-4'>
              <img src='/the-slap/images/staticassets/video_thumbnail_images/6220944_small.png' />
              <strong>Cat's Random Thoughts: Swivel Chair</strong>
              <span>Did you know that I am an expert bubble blower? Yep. I am. And, in this video I show off other talents like chair swiveling and judging a book by its cover. Watch me!</span>
            </a>
          </li>
        </ol>end-->

      </div>
    </div>
<div class='fancy_info_block'>
<div class='row uploaded_by'>
<h2 class='label'>Uploaded By:</h2>
<h2 class='value'><a href="/the-slap/profiles/cat-valentine">Cat Valentine</a></h2>
</div>
</div>
</div>
<div class='fancy_info_block info_footer'>
<div class='row slapped'>
<h2 class='label'>Who is Slapped In This Video:</h2>
<div class='value slapped_container slapped_thumbnails'>
<div>
<a href="/the-slap/clips?slapped=7"><img alt="Cat Valentine" src="/the-slap/images/staticassets/square_profile_images/cat.png" /></a>
<br />
<strong>
<a href="/the-slap/the-slap/clips?slapped=7" title="Cat Valentine">Cat</a>
</strong>
</div>

</div>
</div>
</div>
</div>
<div id='content_bottom'>
<div id='col_secondary'><div id='block_ad_container'>
<div id='block_ad_tab'>
<div class='title'>
advertisement
</div>
</div>
<div id='block_ad'>
<!--<script type='text/javascript'>
  //<![CDATA[
    mtvn.btg.Controller.placeAd({size:'300x250',contentType:"adi",keyValues:"!category=expand;!category=vic",sections:zone})
  //]]>
</script>-->
</div>
</div>

</div>
<div id='col_primary'><div class='comments_container list_section'>
<div class='subheader'>
<div class='comment_title'>
Comments
</div>
</div>
<div class='list_and_footer_container'>
<div class='list_container' id='video_1359_comments_list_container'>
<div class='comments' id='comments_video_1359'>





<div class='comment_form_container' id='form_container_video_1359'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_video_1359'>
<a href="/the-slap/clips/cat-interviews-a-cute-soccer-boy/likes" class="like" target="#likes_video_1359">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_video_1359'>
71,665 people like this
</div>

</div>
</div>
</div>

</div>

</div>
<!--<script type='text/javascript'>
  //<![CDATA[
                          
    $(document).bind('make-vplayer', function() {
        $('#video_player').vplayer({
            videoInfo: '.videoInfo', 
            width: 570,
            height: 321,
            streaming: true,
            support: ['mtvn', 'html', 'link'],
            overlay: {start: '#clickToPlay', end: '#moreClips'},
            videoLoadingIndicator: '.videoLoadingIndicator',   
            playIcon: '.playIcon',
            center: ['.playIcon', '.videoLoadingIndicator'],
            onLinkHoverOn: function() {
                $(this).stop().animate({'left': '-=8px'}, 'fast');  
            },
            onLinkHoverOff: function() {
                $(this).animate({'left': 0}, 'fast'); 
            }
        });
    });
    $(function() {
        $(document).trigger('make-vplayer');
        $($.vplayer).bind('end', function(){
            swfobject.removeSWF($.vplayer.player.id);
        });
    });
    $('#moreClips a').click(function() {
        $('#clickToPlay, .videoLoadingIndicator').fadeIn('fast');
    });
  //]]>
</script>-->

</div>

</div>
<div id='content_footer'></div>
</div>
<div id='sidebar_container'>
<div id='sidebar_header'>
<div class='title'></div>
</div>
<div id='sidebar_content'>
<div class='module_container the_games'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='list_container' id='sidebar_game_container'>
<div class='game_of_months_title_container'></div>
<ul class='list game_of_months jcarousel-skin-tango'>
<li class='item' style="background-image: url('/the-slap/images/staticassets/game_of_month_images/7367786_small.png')">
<div class='link default_link'><a href="/the-slap/games/cats-heartbreaker-game" title="Heartbreaker Game"></a></div>
</li>
<li class='item' style="background-image: url('/the-slap/images/staticassets/game_of_month_images/7255379_small.png')">
<div class='link default_link'><a href="/the-slap/games/sinjin-sock-hop" title="Sinjin Sock Puppet Game"></a></div>
</li>
<li class='item' style="background-image: url('/the-slap/images/staticassets/game_of_month_images/7094958_small.png')">
<div class='link default_link'><a href="/games/skate-with-cat-game" title="Skate with Cat promo"></a></div>
</li>
<li class='item' style="background-image: url('/the-slap/images/staticassets/game_of_month_images/6890337_small.png')">
<div class='link default_link'><a href="/the-slap/games/jades-zombie-smasher-game" title="Jade's Zombie Smasher"></a></div>
</li>
<li class='item' style="background-image: url('/the-slap/images/staticassets/game_of_month_images/6799490_small.png')">
<div class='link default_link'><a href="/the-slap/games/wankos-warehouse-game" title="Wanko's Warehouse"></a></div>
</li>
</ul>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

<div class='module_container the_tunes'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='sidebar_songs_container'>
<a href="/the-slap/tunes#here-s-to-us" style="background-image: url(/the-slap/images/staticassets/6938293_sidebar.jpg)">Here's 2 Us</a>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

<div class='hottest_pages module_container'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='hottest_pages_links_container'>
  <a href="/the-slap/profiles/tori-vega" title="Tori Vega"><img alt="Tori Vega" src="/the-slap/images/staticassets/unprocessed_images/146931_original.jpg" /></a>
  <a href="/the-slap/profiles/andre-harris" title="Andre Harris"><img alt="Andre Harris" src="/the-slap/images/staticassets/unprocessed_images/146930_original.jpg" /></a>
  <a href="/the-slap/profiles/trina-vega" title="Trina Vega"><img alt="Trina Vega" src="/the-slap/images/staticassets/unprocessed_images/146929_original.jpg" /></a>
  <a href="/the-slap/profiles/robbie-shapiro" title="Robbie Shapiro"><img alt="Robbie Shapiro" src="/the-slap/images/staticassets/unprocessed_images/146928_original.jpg" /></a>
  <a href="/the-slap/profiles/cat-valentine" title="Cat Valentine"><img alt="Cat Valentine" src="/the-slap/images/staticassets/unprocessed_images/146927_original.jpg" /></a>
  <a href="/the-slap/profiles/beck-oliver" title="Beck Oliver"><img alt="Beck Oliver" src="/the-slap/images/staticassets/unprocessed_images/146926_original.jpg" /></a>
  <a href="/the-slap/profiles/jade-west" title="Jade West"><img alt="Jade West" src="/the-slap/images/staticassets/unprocessed_images/146925_original.jpg" /></a>
  <a href="/the-slap/profiles/rex-powers" title="Rex Powers"><img alt="Rex Powers" src="/the-slap/images/staticassets/unprocessed_images/146924_original.jpg" /></a>
  <a href="/the-slap/profiles/sinjin-van-cleef" title="Sinjin Van Cleef"><img alt="Sinjin Van Cleef" src="/the-slap/images/staticassets/unprocessed_images/948376_original.jpg" /></a>
  <a href="/the-slap/profiles/erwin-sikowitz" title="Erwin Sikowitz"><img alt="Erwin Sikowitz" src="/the-slap/images/staticassets/unprocessed_images/1219697_original.jpg" /></a>
  <a href="/the-slap/profiles/lane-alexander" title="Lane Alexander"><img alt="Lane Alexander" src="/the-slap/images/staticassets/unprocessed_images/4108536_original.png" /></a>
  <a href="/the-slap/profiles/festus" title="Festus"><img alt="Festus" src="/the-slap/images/staticassets/unprocessed_images/5635405_original.jpg" /></a>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

</div>
<div id='sidebar_footer'></div>

</div>
</div>
<div id='body_shadow_right'></div>
</div>
<div id='body_shadow_bottom'></div>
<div id='footer_container'>
<div id='footer'>
<div id='footer_nav'>
<div class='link_block top_links'>
  <a href="/the-slap/">THE SLAP HOME</a>
  <a href="/the-slap/bump?to=%2Ffaq">FAQ/ABOUT US</a>
  </div>
  <div class='link_block'>
  <a href="/the-slap/">HOME</a>
  <a href="/the-slap/bump?to=%2Fprofiles">PROFILES</a>
  <a href="/the-slap/bump?to=%2Fclips">CLIPS</a>
  <a href="/the-slap/bump?to=%2Fpix">PIX</a>
  <a href="/the-slap/bump?to=%2Ftunes">TUNES</a>
  <a href="/the-slap/bump?to=%2Fgames">GAMES</a>
  </div>
  <div class='link_block'>
  <a href="http://www.nick.com/legal/nickelodeon-privacy-policy/" rel="external">Privacy Policy/Your California Privacy Rights (updated 2/9/2016)</a>
  <a href="/the-slap/bump?to=http%3A%2F%2Fwww.nick.com%2Fclub%2Fparents-terms-of-use.html" rel="external">Terms of Use</a>
  </div>
  <div class='link_block'>
  <a href="/the-slap/bump?to=http%3A%2F%2Fwww.nick.com%2Finfo%2Fcopyright.html" rel="external">Copyright Compliance Policy</a>
  <a href="/the-slap/bump?to=http%3A%2F%2Fwww.nick.com%2Finfo%2Fsafety-guide.html" rel="external">Safety Guide</a>
  </div>
  <div class='link_block'>
  <a href="/the-slap/bump?to=http%3A%2F%2Fsrp.mtvn.com%2Fsitefaq.html" class="viacom" rel="external">Ad Choices</a>
  </div>
  <div class='link_block'>
  &copy; Copyright 2018 Viacom International Inc. All Rights Reserved
  </div>
  <div class='link_block'>
  <div class='friends_title'>
  Friends of Victorious
  </div>
  <div class='friends_container'>
  <a href="/the-slap/bump?to=http%3A%2F%2Fwww.icarly.com"><img alt="SplashFace" src="/the-slap/images/friends/logo_splashface.gif" /></a>
  <a href="/the-slap/bump?to=http%3A%2F%2Fwww.icarly.com"><img alt="iCarly" src="/the-slap/images/friends/logo_icarly.png" /></a>
  <a href="/the-slap/bump?to=http%3A%2F%2Fwww.nick.com"><img alt="Nick" src="/the-slap/images/friends/logo_nick_com.png" /></a>
  <a href="/the-slap/bump?to=http%3A%2F%2Fwww.nick.com"><img alt="Nickelodean Kids &amp; Teens" src="/the-slap/images/friends/logo_nick_kids_teens.gif" /></a>
  <a href="/the-slap/bump?to=http%3A%2F%2Fwww.icarly.com"><img alt="SplashFace" src="/the-slap/images/friends/logo_zaplook.gif" /></a>
</div>
</div>
</div>

</div>
</div>
</div>

</body>
</html>


