<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

                
        



<html xmlns:esi='http://www.edge-delivery.org/esi/1.0' xmlns='http://www.w3.org/1999/xhtml'>
<head>
<title>
Register | TheSlap | Hollywood Arts' Victorious
</title>

<link href='/images/favicon.ico' rel='shortcut icon' type='image/x-icon' />
<script src="/javascripts/bundled/theslap.js?1371584680" type="text/javascript"></script>
<link href="/stylesheets/bundled/theslap.css?1373938771" media="screen" rel="stylesheet" type="text/css" />
<script src="/javascripts/flowplayer-3.1.4.min.js?1316718152" type="text/javascript"></script>
<script src="/javascripts/support/swfobject.js?1269378793" type="text/javascript"></script>
<script src="/javascripts/support/vplayer.js?1320191142" type="text/javascript"></script>
<script src="/javascripts/custom/video/init.js?1316718152" type="text/javascript"></script>


<!--[if lt IE 7]>
<link href="/stylesheets/compiled/ie.css?1373938768" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if lt IE 8]>
<link href="/stylesheets/compiled/ie7.css?1373938771" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->

</head>
<body class='bp signup_page users'>
<script src="http://btg.mtvnservices.com/aria/coda.html?site=theslap.com" type="text/javascript"></script>
<script src="/javascripts/support/coda_config.js?1321556352" type="text/javascript"></script>

<div id='body_container'>
<div id='header_container'>
<div id='header'>
<div id='nav_adornment'></div>
<div id='logo_bg'></div>
<script type='text/javascript'>
  //<![CDATA[
    var user_menu_template = "    <ul>\n      <% try { %>\n        <li class=\"first\">Hello: <span class=\"user_name\"><%= user.username %><\/span><\/li>\n        <li><a href=\"/my/profile\">My profile<\/a><\/li>\n\n        <% if(user.admin) { %>\n          <li><a href=\"/admin/dashboard\">Admin dashboard<\/a><\/li>\n          <li><a href=\"/\">View site<\/a><\/li>\n        <% } %>\n        <li class=\"last\"><a href=\"/users/logout?return_to_after_logged_out=%2Fregister\">Logout<\/a><\/li>\n      <% } catch(err) { %>\n        <li><a href=\"/register\">Register<\/a><\/li>\n        <li class=\"last\"><a href=\"/users/pickles?return_to_if_logged_out=%2Fregister\" id=\"login_link\">Login<\/a><\/li>\n      <% } %>\n    <\/ul>\n";
  //]]>
</script>

<a href='http://www.theslap.com/users/pickles' id='admin_login_link'></a>
<div id='deprecated_user_menu'>
<noscript>
<h3 class='no_javascript_warning'>
Javascript is required to use TheSlap. Please enable Javascript and reload this page.
</h3>
</noscript>
</div>

<div id='logo'>
<a href='/'>
<object data='/swf/slap_logo.swf' height='103' id='slap_animation' type='application/x-shockwave-flash' width='327'>
<param name='wmode' value='transparent' />
<param name='movie' value='/swf/slap_logo.swf' />
<img alt='The Slap' src='/images/themes/default/home_logo.png' />
</object>
</a>
</div>
<div id='nav'>
<ul>
<li class='home first'><a href="/">Home</a></li>
<li class='characters'><a href="/profiles">Profiles</a></li>
<li class='videos'><a href="/clips?newest=true">Clips</a></li>
<li class='photos'><a href="/pix?newest=true">Pix</a></li>
<li class='songs'><a href="/tunes">Tunes</a></li>
<li class='games'><a href="/games">Games</a></li>
<li class='search last'><div id='search'>
<form action="/search" method="get">

<input class="search_field" id="q" name="q" placeholder="enter text here" size="15" type="text" />
<button id='search_button' type='submit'>
Search
</button>
</form>
</div>
</li>
</ul>
<div id='nav_bar_right_cap'></div>
</div>

</div>
</div>
<div id='main_container'>
<div id='body_shadow_top'></div>
<div id='body_shadow_left'></div>
<div id='main'>
<div id='content_container'>
<div id='content_callout_container'>
<div id='content_callout_tab'>
<div id='content_callout'>
<div id='banner_ad'>
<script type='text/javascript'>
  //<![CDATA[
    mtvn.btg.Controller.placeAd({size:'728x90',contentType:"adi",keyValues:"!category=expand;!category=vic",sections:zone});
  //]]>
</script>
</div>
</div>
</div>
</div>

<div id='content_header'>
<h1>Register</h1>
<div id='header_controls'></div>

</div>
<div class='signup' id='content'>

<div id='content_top'><form action="/users" class="formtastic user" id="new_user" method="post"><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="wvJR0f7LedUKgPXHhxY7uLZBaUNKMJIuwdmunhQg4wQ=" /></div>

<fieldset class="section username_section"><legend><span>Username</span></legend><ol><li class="string required" id="user_username_input"><label for="user_username">Username<abbr title="required">*</abbr></label><input id="user_username" maxlength="255" name="user[username]" size="50" type="text" />
<p class="inline-hints">3 to 10 characters with NO SPACES. DON'T use your real name or any personal information</p></li>
</ol></fieldset><fieldset class="section password_section"><legend><span>Password</span></legend><ol><li class="password required" id="user_password_input"><label for="user_password">Password<abbr title="required">*</abbr></label><input id="user_password" name="user[password]" size="50" type="password" />
<p class="inline-hints">DON'T use your real name or any personal information and keep it to 3 to 10 characters with NO SPACES.</p></li>
<li class="password required" id="user_password_confirmation_input"><label for="user_password_confirmation">Password Confirmation<abbr title="required">*</abbr></label><input id="user_password_confirmation" name="user[password_confirmation]" size="50" type="password" /></li>
</ol></fieldset><fieldset class="section password_hint_section"><legend><span>Password Hint</span></legend><ol><li class="select required" id="user_security_question_input"><label for="user_security_question">Pick a question<abbr title="required">*</abbr></label><select id="user_security_question" name="user[security_question]"><option value="">Select...</option>
<option value="In what city were you born?">In what city were you born?</option>
<option value="What is your mom's first name?">What is your mom's first name?</option>
<option value="What's your grandmother's name?">What's your grandmother's name?</option></select></li>
<li class="string required" id="user_security_answer_input"><label for="user_security_answer">Type your answer<abbr title="required">*</abbr></label><input id="user_security_answer" maxlength="255" name="user[security_answer]" size="50" type="text" /></li>
</ol></fieldset><fieldset class="section birthdate_section"><legend><span>Birthday</span></legend><ol><li class='date required' id='user_birthdate_input'>
<fieldset>
<legend class='label'>
<label for='user_birthdate_2i'>
Birthday
<abbr title='required'>*</abbr>
</label>
</legend>
<ol>
<li>
<label for="user_birthdate_2i">Month</label>
<select id="user_birthdate_2i" name="user[birthdate(2i)]">
<option value=""></option>
<option value="1">January</option>
<option value="2">February</option>
<option value="3">March</option>
<option value="4">April</option>
<option value="5">May</option>
<option value="6">June</option>
<option value="7">July</option>
<option value="8">August</option>
<option value="9">September</option>
<option value="10">October</option>
<option value="11">November</option>
<option value="12">December</option>
</select>

<strong>/</strong>
</li>
<li>
<label for="user_birthdate_3i">Day</label>
<select id="user_birthdate_3i" name="user[birthdate(3i)]">
<option value=""></option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
</select>

<strong>/</strong>
</li>
<li>
<label for="user_birthdate_1i">Year</label>
<input id="user_birthdate_1i_" name="user[birthdate(1i)]" size="4" type="text" />
</li>
</ol>
<p class='inline-hints'>example: January 14, 1983</p>
</fieldset>
</li>
</ol></fieldset><fieldset class="section gender_section"><legend><span>Gender</span></legend><ol><li class="radio required" id="user_gender_input"><fieldset><legend class="label"><label>Gender</label></legend><ol><li><label for="user_gender_m"><input id="user_gender_m" name="user[gender]" type="radio" value="M" /> Boy</label></li><li><label for="user_gender_f"><input id="user_gender_f" name="user[gender]" type="radio" value="F" /> Girl</label></li></ol></fieldset></li>
</ol></fieldset><fieldset class="section state_section"><legend><span>State</span></legend><ol><li class="select required" id="user_us_state_input"><label for="user_us_state">Your state<abbr title="required">*</abbr></label><select id="user_us_state" name="user[us_state]"><option value="">Select...</option>
<option value="AK">Alaska</option>
<option value="AL">Alabama</option>
<option value="AS">American Samoa</option>
<option value="AR">Arkansas</option>
<option value="AZ">Arizona</option>
<option value="BI">Baker Island</option>
<option value="CA">California</option>
<option value="CO">Colorado</option>
<option value="CT">Connecticut</option>
<option value="DC">District of Columbia</option>
<option value="DE">Delaware</option>
<option value="FL">Florida</option>
<option value="GA">Georgia</option>
<option value="GU">Guam</option>
<option value="HI">Hawaii</option>
<option value="HI">Howland Island</option>
<option value="IA">Iowa</option>
<option value="ID">Idaho</option>
<option value="IL">Illinois</option>
<option value="IN">Indiana</option>
<option value="JI">Jarvis Island</option>
<option value="JA">Johnston Atoll</option>
<option value="KS">Kansas</option>
<option value="KY">Kentucky</option>
<option value="KR">Kingman Reef</option>
<option value="LA">Louisiana</option>
<option value="MA">Massachusetts</option>
<option value="MD">Maryland</option>
<option value="ME">Maine</option>
<option value="MH">Marshall Islands</option>
<option value="MI">Michigan</option>
<option value="MW">Midway Islands</option>
<option value="MN">Minnesota</option>
<option value="MO">Missouri</option>
<option value="MS">Mississippi</option>
<option value="MT">Montana</option>
<option value="NI">Navassa Island</option>
<option value="NC">North Carolina</option>
<option value="ND">North Dakota</option>
<option value="MP">Northern Mariana Islands</option>
<option value="NE">Nebraska</option>
<option value="NH">New Hampshire</option>
<option value="NJ">New Jersey</option>
<option value="NM">New Mexico</option>
<option value="NV">Nevada</option>
<option value="NY">New York</option>
<option value="OH">Ohio</option>
<option value="OK">Oklahoma</option>
<option value="OR">Oregon</option>
<option value="OUT">Outside the U.S.A.</option>
<option value="PT">Palmyra  Atoll</option>
<option value="PA">Pennsylvania</option>
<option value="PR">Puerto Rico</option>
<option value="RI">Rhode Island</option>
<option value="SC">South Carolina</option>
<option value="SD">South Dakota</option>
<option value="TN">Tennessee</option>
<option value="TX">Texas</option>
<option value="UT">Utah</option>
<option value="VI">Virgin Islands</option>
<option value="VA">Virginia</option>
<option value="VT">Vermont</option>
<option value="WS">Wake Island</option>
<option value="WA">Washington</option>
<option value="WI">Wisconsin</option>
<option value="WV">West Virginia</option>
<option value="WY">Wyoming</option></select></li>
</ol></fieldset><fieldset class="buttons"><ol><li class="commit"><input class="create" id="user_submit" name="commit" type="submit" value="" /></li>
</ol></fieldset></form>
</div>
<div id='content_bottom'>
<div id='col_secondary'></div>
<div id='col_primary'></div>

</div>

</div>
<div id='content_footer'></div>
</div>
<div id='sidebar_container'>
<div id='sidebar_header'>
<div class='title'></div>
</div>
<div id='sidebar_content'>
<div class='module_container the_games'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='list_container' id='sidebar_game_container'>
<div class='game_of_months_title_container'></div>
<ul class='list game_of_months jcarousel-skin-tango'>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/7367786/small.png?1360007882')">
<div class='link default_link'><a href="/games/cats-heartbreaker-game" title="Heartbreaker Game"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/7255379/small.png?1358033925')">
<div class='link default_link'><a href="/games/sinjin-sock-hop" title="Sinjin Sock Puppet Game"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/7094958/small.png?1354921421')">
<div class='link default_link'><a href="/games/skate-with-cat-game" title="Skate with Cat promo"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/6890337/small.png?1350691328')">
<div class='link default_link'><a href="/games/jades-zombie-smasher-game" title="Jade's Zombie Smasher"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/6799490/small.png?1348611239')">
<div class='link default_link'><a href="/games/wankos-warehouse-game" title="Wanko's Warehouse"></a></div>
</li>
</ul>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

<div class='module_container the_tunes'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='sidebar_songs_container'>
<a href="/tunes#here-s-to-us" style="background-image: url(http://staticassets.www.theslap.com/images/6938293/sidebar.jpg?1352174971)">Here's 2 Us</a>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

<div class='hottest_pages module_container'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='hottest_pages_links_container'>
<a href="/profiles/tori-vega" title="Tori Vega"><img alt="Tori Vega" src="http://staticassets.www.theslap.com/unprocessed_images/146931/original.jpg?1273857395" /></a>
<a href="/profiles/andre-harris" title="Andre Harris"><img alt="Andre Harris" src="http://staticassets.www.theslap.com/unprocessed_images/146930/original.jpg?1273857393" /></a>
<a href="/profiles/trina-vega" title="Trina Vega"><img alt="Trina Vega" src="http://staticassets.www.theslap.com/unprocessed_images/146929/original.jpg?1273857392" /></a>
<a href="/profiles/robbie-shapiro" title="Robbie Shapiro"><img alt="Robbie Shapiro" src="http://staticassets.www.theslap.com/unprocessed_images/146928/original.jpg?1273857391" /></a>
<a href="/profiles/cat-valentine" title="Cat Valentine"><img alt="Cat Valentine" src="http://staticassets.www.theslap.com/unprocessed_images/146927/original.jpg?1273857390" /></a>
<a href="/profiles/beck-oliver" title="Beck Oliver"><img alt="Beck Oliver" src="http://staticassets.www.theslap.com/unprocessed_images/146926/original.jpg?1273857389" /></a>
<a href="/profiles/jade-west" title="Jade West"><img alt="Jade West" src="http://staticassets.www.theslap.com/unprocessed_images/146925/original.jpg?1273857387" /></a>
<a href="/profiles/rex-powers" title="Rex Powers"><img alt="Rex Powers" src="http://staticassets.www.theslap.com/unprocessed_images/146924/original.jpg?1273857386" /></a>
<a href="/profiles/sinjin-van-cleef" title="Sinjin Van Cleef"><img alt="Sinjin Van Cleef" src="http://staticassets.www.theslap.com/unprocessed_images/948376/original.jpg?1281388313" /></a>
<a href="/profiles/erwin-sikowitz" title="Erwin Sikowitz"><img alt="Erwin Sikowitz" src="http://staticassets.www.theslap.com/unprocessed_images/1219697/original.jpg?1284055516" /></a>
<a href="/profiles/lane-alexander" title="Lane Alexander"><img alt="Lane Alexander" src="http://staticassets.www.theslap.com/unprocessed_images/4108536/original.png?1314733249" /></a>
<a href="/profiles/festus" title="Festus"><img alt="Festus" src="http://staticassets.www.theslap.com/unprocessed_images/5635405/original.jpg?1334777370" /></a>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

</div>
<div id='sidebar_footer'></div>

</div>
</div>
<div id='body_shadow_right'></div>
</div>
<div id='body_shadow_bottom'></div>
<div id='footer_container'>
<div id='footer'>
<div id='footer_nav'>
<div class='link_block top_links'>
<a href="/">THE SLAP HOME</a>
<a href="/bump?to=%2Ffaq">FAQ/ABOUT US</a>
</div>
<div class='link_block'>
<a href="/">HOME</a>
<a href="/bump?to=%2Fprofiles">PROFILES</a>
<a href="/bump?to=%2Fclips">CLIPS</a>
<a href="/bump?to=%2Fpix">PIX</a>
<a href="/bump?to=%2Ftunes">TUNES</a>
<a href="/bump?to=%2Fgames">GAMES</a>
</div>
<div class='link_block'>
<a href="http://www.nick.com/info/privacy-policy.html" rel="external">Privacy Policy/Your California Privacy Rights</a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com%2Finfo%2Fterms-of-use.html" rel="external">Terms of Use</a>
</div>
<div class='link_block'>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com%2Finfo%2Fcopyright.html" rel="external">Copyright Compliance Policy</a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com%2Finfo%2Fsafety-guide.html" rel="external">Safety Guide</a>
</div>
<div class='link_block'>
<a href="/bump?to=http%3A%2F%2Fsrp.mtvn.com%2Fsitefaq.html" class="viacom" rel="external">Ad Choices</a>
</div>
<div class='link_block'>
&copy; Copyright 2013 Viacom International Inc. All Rights Reserved
</div>
<div class='link_block'>
<div class='friends_title'>
Friends of Victorious
</div>
<div class='friends_container'>
<a href="/bump?to=http%3A%2F%2Fwww.icarly.com"><img alt="SplashFace" src="/images/friends/logo_splashface.gif?1269720656" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.icarly.com"><img alt="iCarly" src="/images/friends/logo_icarly.png?1269720656" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com"><img alt="Nick" src="/images/friends/logo_nick_com.png?1269720656" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com"><img alt="Nickelodean Kids &amp; Teens" src="/images/friends/logo_nick_kids_teens.gif?1269720656" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.icarly.com"><img alt="SplashFace" src="/images/friends/logo_zaplook.gif?1269720656" /></a>
</div>
</div>
</div>

</div>
</div>
</div>

</body>
</html>

