<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:esi='http://www.edge-delivery.org/esi/1.0' xmlns='http://www.w3.org/1999/xhtml'>
<head>
<title>
TheSlap | Hollywood Arts' Victorious - Robbie's Review: Trina! (Trina Vega's One-Woman Show)
</title>
<link href='/images/favicon.ico' rel='shortcut icon' type='image/x-icon' />
<script src="/javascripts/bundled/theslap.js?1276024404" type="text/javascript"></script>
<link href="/stylesheets/bundled/theslap.css?1276301074" media="screen" rel="stylesheet" type="text/css" />


<!--[if lt IE 7]>
<link href="/stylesheets/compiled/ie.css?1276301072" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if lt IE 8]>
<link href="/stylesheets/compiled/ie7.css?1276301074" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->

</head>
<body class='bp pages robbies_review_page'>

<div id='body_container'>
<div id='header_container'>
<div id='header'>
<div id='nav_adornment'></div>
<script type='text/javascript'>
  //<![CDATA[
    var user_menu_template = "    <ul>\n      <% try { %>\n        <li class=\"first\">Hello: <span class=\"user_name\"><%= user.username %><\/span><\/li>\n        <li><a href=\"/my/profile\">My profile<\/a><\/li>\n\n        <% if(user.admin) { %>\n          <li><a href=\"/admin/dashboard\">Admin dashboard<\/a><\/li>\n          <li><a href=\"/\">View site<\/a><\/li>\n        <% } %>\n        <li class=\"last\"><a href=\"/users/logout?return_to_after_logged_out=%2Frobbies_review\">Logout<\/a><\/li>\n      <% } catch(err) { %>\n        <li><a href=\"/register\">Register<\/a><\/li>\n        <li class=\"last\"><a href=\"/users/login?return_to_if_logged_out=%2Frobbies_review\" id=\"login_link\">Login<\/a><\/li>\n      <% } %>\n    <\/ul>\n";
  //]]>
</script>

<div id='user_menu'>
<noscript>
<h3 class='no_javascript_warning'>
Javascript is required to use TheSlap. Please enable Javascript and reload this page.
</h3>
</noscript>
</div>

<div id='logo'>
<a href='/'>
<object data='/swf/slap_logo.swf' height='103' id='slap_animation' type='application/x-shockwave-flash' width='327'>
<param name='wmode' value='transparent' />
<param name='movie' value='/swf/slap_logo.swf' />
<img alt='The Slap' src='/images/themes/default/home_logo.png' />
</object>
</a>
</div>
<div id='nav'>
<ul>
<li class='home first'><a href="/">Home</a></li>
<li class='characters'><a href="/profiles">Profiles</a></li>
<li class='videos'><a href="/clips?newest=true">Clips</a></li>
<li class='photos'><a href="/pix?newest=true">Pix</a></li>
<li class='songs'><a href="/tunes">Tunes</a></li>
<li class='games'><a href="/games">Games</a></li>
<li class='search last'><div id='search'>
<form action="/search" method="get">

<input class="search_field" id="q" name="q" placeholder="enter text here" size="15" type="text" />
<button id='search_button' type='submit'>
Search
</button>
</form>
</div>
</li>
</ul>
<div id='nav_bar_right_cap'></div>
</div>

</div>
</div>
<div id='main_container'>
<div id='body_shadow_top'></div>
<div id='body_shadow_left'></div>
<div id='main'>
<div id='content_container'>
<div id='content_callout_container'>
<div id='content_callout_tab'></div>
<div id='content_callout'>
<div id='banner_ad'>
<script type='text/javascript'>
  //<![CDATA[
    com.mtvi.ads.AdManager.placeAd({size:'728x90'});
  //]]>
</script>
</div>
</div>
</div>
<div id='content_header'>
<h1>Robbie's Review: Trina! (Trina Vega's One-Woman Show)</h1>
<div id='header_controls'></div>

</div>
<div class='robbies_review' id='content'>

<div id='content_top'><h3>Trina! (Trina Vega's One-Woman Show)</h3>
<p>
  Robbie here.
  Okay, so as you know I review stuff for TheSlap.com - movies, plays, books, lunch menus, etc...
  Unfortunately, EVERYTHING I have ever written on this site was deleted because Rex insulted TheSlap.com staff (multiple times).
  But he has since apologized, and "Robbie's Reviews" is back in business!
</p>
<p>
  Today, I'm reviewing Trina Vega's one-woman show, simply entitled "Trina!"
</p>
<img alt='Trina holding up flyer' src='images/robbies_review/trina_flyer.jpg'>
<p>
  And let me just say, that I am NOT writing a good review just to prevent Trina from smashing my face into my cream of mushroom soup... again.
</p>
<img alt='Robbie with oatmeal on his face' src='images/robbies_review/robbie_oatmeal.jpg'>
<p>
  No, really. Trina's show is fantastic.
  Expect a comedy and you won't be disappointed.
  You'll laugh your head off.
  My favorite part of the show was the hospital scene.
  When you think "hospital" you think there will be tears and sadness.
  But in this surprising twist, Trina actually evokes laughter from the audience.
  She's truly a gifted comedienne.
  And her neck brace looks very authentic.
</p>
<img alt='Trina in hospital bed' src='images/robbies_review/trina_play_hospital.jpg'>
<p>
  I would write more about this incredible play but I don't want to give away all the funny.
  Come out and see it tonight.
  Tell Trina that Robbie sent you (and please remind her that violence against internet reviewers is never the answer).
</p>
</div>
<div id='content_bottom'>
<div id='col_secondary'></div>
<div id='col_primary'></div>

</div>

</div>
<div id='content_footer'></div>
</div>
<div id='sidebar_container'>
<div id='sidebar_header'>
<div class='title'></div>
</div>
<div id='sidebar_content'>
<div class='module_container the_games'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='list_container' id='sidebar_game_container'>
<div class='game_of_months_title_container'></div>
<ul class='list game_of_months jcarousel-skin-tango'>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/147292/small.png?1273865043')">
<div class='link default_link'><a href="/games/28" title="Hollywood Beats: You're the Reason"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/146936/small.png?1273857445')">
<div class='link default_link'><a href="/games/89" title="Beck Escapes Hollywood Hotties!"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/146934/small.png?1273857441')">
<div class='link default_link'><a href="/games/67" title="Sinjin's Locker Game"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/146935/small.png?1273857442')">
<div class='link default_link'><a href="/games/28" title="Hollywood Beats"></a></div>
</li>
</ul>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

<div class='module_container the_tunes'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='sidebar_songs_container'>
<a href="/tunes#finally-falling" style="background-image: url(http://staticassets.www.theslap.com/images/121131/sidebar.jpg?1273359060)">Finally Falling</a>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

<div class='hottest_pages module_container'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='hottest_pages_links_container'>
<a href="/profiles/tori-vega" title="Tori's Profile"><img alt="Tori's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146931/original.jpg?1273857395" /></a>
<a href="/profiles/andre-harris" title="Andre's Profile"><img alt="Andre's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146930/original.jpg?1273857393" /></a>
<a href="/profiles/trina-vega" title="Trina's Profile"><img alt="Trina's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146929/original.jpg?1273857392" /></a>
<a href="/profiles/robbie-shapiro" title="Robbie's Profile"><img alt="Robbie's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146928/original.jpg?1273857391" /></a>
<a href="/profiles/cat-valentine" title="Cat's Profile"><img alt="Cat's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146927/original.jpg?1273857390" /></a>
<a href="/profiles/beck-oliver" title="Beck's Profile"><img alt="Beck's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146926/original.jpg?1273857389" /></a>
<a href="/profiles/jade-west" title="Jade's Profile"><img alt="Jade's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146925/original.jpg?1273857387" /></a>
<a href="/profiles/rex-powers" title="Rex's Profile"><img alt="Rex's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146924/original.jpg?1273857386" /></a>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

</div>
<div id='sidebar_footer'></div>

</div>
</div>
<div id='body_shadow_right'></div>
</div>
<div id='body_shadow_bottom'></div>
<div id='footer_container'>
<div id='footer'>
<div id='footer_nav'>
<div class='link_block top_links'>
<a href="/">THE SLAP HOME</a>
<a href="/faq">FAQ/ABOUT US</a>
</div>
<div class='link_block'>
<a href="/">HOME</a>
<a href="/profiles">PROFILES</a>
<a href="/clips">CLIPS</a>
<a href="/pix">PIX</a>
<a href="/tunes">TUNES</a>
<a href="/games">GAMES</a>
</div>
<div class='link_block'>
<a href="http://www.nick.com/info/privacy-policy.html" target="_new">Privacy Policy/Your California Privacy Rights</a>
<a href="http://www.nick.com/info/terms-of-use.html" target="_new">Terms of Use</a>
</div>
<div class='link_block'>
<a href="http://www.nick.com/info/copyright.html" target="_new">Copyright Compliance Policy</a>
<a href="http://www.nick.com/info/safety-guide.html" target="_new">Safety Guide</a>
</div>
<div class='link_block'>
&copy; Copyright 2010 Viacom International Inc. All Rights Reserved
</div>
<div class='link_block'>
<div class='friends_title'>
Friends of Victorious
</div>
<div class='friends_container'>
<a href="http://www.icarly.com"><img alt="SplashFace" src="/images/friends/logo_splashface.gif?1269720656" /></a>
<a href="http://www.icarly.com"><img alt="iCarly" src="/images/friends/logo_icarly.png?1269720656" /></a>
<a href="http://www.nick.com"><img alt="Nick" src="/images/friends/logo_nick_com.png?1269720656" /></a>
<a href="http://www.nick.com"><img alt="Nickelodean Kids &amp; Teens" src="/images/friends/logo_nick_kids_teens.gif?1269720656" /></a>
<a href="http://www.icarly.com"><img alt="SplashFace" src="/images/friends/logo_zaplook.gif?1269720656" /></a>
</div>
</div>
</div>

</div>
</div>
</div>
<script type='text/javascript'>
  //<![CDATA[
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  //]]>
</script>
<script type='text/javascript'>
  //<![CDATA[
    try {
    var pageTracker = _gat._getTracker("UA-12758561-1");
    pageTracker._trackPageview();
    } catch(err) {}
  //]]>
</script>

</body>
</html>

