<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

                
        



<html xmlns:esi='http://www.edge-delivery.org/esi/1.0' xmlns='http://www.w3.org/1999/xhtml'>
<head>
<title>
Sinjin | TheSlap | Hollywood Arts' Victorious
</title>
<meta content='The Slap' property='og:site_name' />
<meta content='http://www.theslap.com/profiles/sinjin-van-cleef' property='og:url' />
<meta content='Sinjin Van Cleef, Hollywood Arts High - Victorious' property='og:title' />
<meta content='http://staticassets.www.theslap.com/profile_images/241996/original.jpg?1322953584' property='og:image' />
<meta content='' property='og:description' />

<link href='/images/favicon.ico' rel='shortcut icon' type='image/x-icon' />
<script src="/javascripts/bundled/theslap.js?1451922776" type="text/javascript"></script>
<link href="/stylesheets/bundled/theslap.css?1451924671" media="screen" rel="stylesheet" type="text/css" />
<script src="/javascripts/custom/fans/init.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/fontjazz/fontjazz.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/custom/characters/init.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/fontjazz/charnames.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/character.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/flowplayer-3.1.4.min.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/support/swfobject.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/support/vplayer.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/custom/video/init.js?1451922776" type="text/javascript"></script>


<!--[if lt IE 7]>
<link href="/stylesheets/compiled/ie.css?1451924669" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if lt IE 8]>
<link href="/stylesheets/compiled/ie7.css?1451924671" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->

</head>
<body class='bp character_page characters'>
<script src="/javascripts/support/adunit.js?1451922776" type="text/javascript"></script>
<script src="http://btg.mtvnservices.com/aria/coda.html?site=theslap.com" type="text/javascript"></script>
<script src="/javascripts/support/coda_config.js?1451922776" type="text/javascript"></script>

<div id='body_container'>
<div id='header_container'>
<div id='header'>
<div id='nav_adornment'></div>
<div id='logo_bg'></div>
<script type='text/javascript'>
  //<![CDATA[
    var user_menu_template = "    <ul>\n      <% try { %>\n        <li class=\"first\">Hello: <span class=\"user_name\"><%= user.username %><\/span><\/li>\n        <li><a href=\"/my/profile\">My profile<\/a><\/li>\n\n        <% if(user.admin) { %>\n          <li><a href=\"/admin/dashboard\">Admin dashboard<\/a><\/li>\n          <li><a href=\"/\">View site<\/a><\/li>\n        <% } %>\n        <li class=\"last\"><a href=\"/users/logout?return_to_after_logged_out=%2Fprofiles%2Fsinjin-van-cleef\">Logout<\/a><\/li>\n      <% } catch(err) { %>\n        <li><a href=\"/register\">Register<\/a><\/li>\n        <li class=\"last\"><a href=\"/users/pickles?return_to_if_logged_out=%2Fprofiles%2Fsinjin-van-cleef\" id=\"login_link\">Login<\/a><\/li>\n      <% } %>\n    <\/ul>\n";
  //]]>
</script>

<a href='http://www.theslap.com/users/pickles' id='admin_login_link'></a>
<div id='deprecated_user_menu'>
<noscript>
<h3 class='no_javascript_warning'>
Javascript is required to use TheSlap. Please enable Javascript and reload this page.
</h3>
</noscript>
</div>

<div id='logo'>
<a href='/'>
<object data='/swf/slap_logo.swf' height='103' id='slap_animation' type='application/x-shockwave-flash' width='327'>
<param name='wmode' value='transparent' />
<param name='movie' value='/swf/slap_logo.swf' />
<img alt='The Slap' src='/images/themes/default/home_logo.png' />
</object>
</a>
</div>
<div id='nav'>
<ul>
<li class='home first'><a href="/">Home</a></li>
<li class='characters'><a href="/profiles">Profiles</a></li>
<li class='videos'><a href="/clips?newest=true">Clips</a></li>
<li class='photos'><a href="/pix?newest=true">Pix</a></li>
<li class='songs'><a href="/tunes">Tunes</a></li>
<li class='games'><a href="/games">Games</a></li>
<li class='search last'><div id='search'>
<form action="/search" method="get">

<input class="search_field" id="q" name="q" placeholder="enter text here" size="15" type="text" />
<button id='search_button' type='submit'>
Search
</button>
</form>
</div>
</li>
</ul>
<div id='nav_bar_right_cap'></div>
</div>

</div>
</div>
<div id='main_container'>
<div id='body_shadow_top'></div>
<div id='body_shadow_left'></div>
<div id='main'>
<div id='content_container'>
<div id='content_callout_container'>
<div id='content_callout_tab'>
<div id='content_callout'>
<div id='banner_ad'>
<script type='text/javascript'>
  //<![CDATA[
    mtvn.btg.Controller.placeAd({size:'728x90',contentType:"adi",keyValues:"!category=expand;!category=vic",sections:zone});
  //]]>
</script>
</div>
</div>
</div>
</div>

<div id='content_header'>
<h1>Sinjin Van Cleef, Hollywood Arts High - Victorious</h1>
<div id='header_controls'></div>

</div>
<div class='character' id='content'>

<div id='content_top'><div class='character' id='character_9'>
<div class='profile_header' style="background-image: url('http://staticassets.www.theslap.com/unprocessed_images/241998/original.jpg?1275062841')">
<div class='photo_container'>
<div class='photo'>
<img alt="Sinjin" src="http://staticassets.www.theslap.com/profile_images/241996/medium.jpg?1322953584" />
</div>
<a href="/pix?slapped=9"><div class='photo_frame'></div>
</a></div>

<div class='info'>
<div class='name'>
<h2 style="background-image: url('http://staticassets.www.theslap.com/unprocessed_images/241999/original.png?1275062841')">
Sinjin's Page
</h2>
</div>
<div class='current_status'>
<div class='title'>
<span class='first_letter'>N</span>ewest <span class='first_letter'>U</span>pdate:
</div>
<div class='mood_container'>
<div class='mood_title'>
Mood
</div>
<div class='icon'><img alt="" src="http://staticassets.www.theslap.com/unprocessed_images/908882/original.gif?1281037058" /></div>
<div class='mood_word'>
psyched
</div>
</div>

<div id='current_status_pulse'></div>
<div class='message'>Just got back from my man-date with Beck!!! We had a great time. I hope we can do it again soon!</div>
</div>
<div class='fans_and_relationship_container'>
<div class='fans'>
<div class='fan_container'>
<div class='become_fan hidden'>
<a href="/profiles/sinjin-van-cleef/become_fan" target=".fan_container">Become a fan</a>
</div>
<div class='fan_status'>
Sinjin has <span class='count'>326,734</span> Fans!
</div>
</div>

</div>

<div class='relationship'>

</div>
</div>
</div>
</div>
</div>
</div>
<div id='content_bottom'>
<div id='col_secondary'><div class='character_favorite_videos'>
<div class='module_container'>
<div class='module_header'>
<div class='module_title'>
<div class='character_name'>
<h1>Sinjin's</h1>
</div>
<h2 class='module_type'>Video</h2>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='list_backdrop'>
<div class='list_container video_favorite_list_container'>
<ul class='jcarousel-skin-tango list video_favorite_list'>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/sinjin-s-boot-camp-nutrition">Sinjin's Boot Camp: Nutrition</a></div>
<div class='cell image'><a href="/clips/sinjin-s-boot-camp-nutrition"><img alt="Sinjin's Boot Camp: Nutrition" src="http://staticassets.www.theslap.com/video_thumbnail_images/6749017/medium.png?1347659224" /></a></div>
<div class='cell cover'><a href="/clips/sinjin-s-boot-camp-nutrition"></a></div>
<div class='cell description'><a href="/clips/sinjin-s-boot-camp-nutrition">Welcome back to my boot camp! Today I'm going to teach you (and Burf) how to eat right! Just please, try not to get violently sick like Burf does. It's not pretty. </a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/sinjin-van-cleef">created by Sinjin</a>
</div>
</li>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/sock-puppet-sinjin-meets-ryan-seacrest">Sock Puppet Sinjin Meets Ryan Seacrest</a></div>
<div class='cell image'><a href="/clips/sock-puppet-sinjin-meets-ryan-seacrest"><img alt="Sock Puppet Sinjin Meets Ryan Seacrest" src="http://staticassets.www.theslap.com/video_thumbnail_images/6541822/medium.png?1344643033" /></a></div>
<div class='cell cover'><a href="/clips/sock-puppet-sinjin-meets-ryan-seacrest"></a></div>
<div class='cell description'><a href="/clips/sock-puppet-sinjin-meets-ryan-seacrest">Ryan Seacrest called me a cool dude at a party once. No seriously, it's true. Just watch this sock puppet reenactment to see how it all went down!</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/sinjin-van-cleef">created by Sinjin</a>
</div>
</li>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/bathroom-drama">Bathroom Drama!</a></div>
<div class='cell image'><a href="/clips/bathroom-drama"><img alt="Bathroom Drama!" src="http://staticassets.www.theslap.com/video_thumbnail_images/5989462/medium.png?1339203398" /></a></div>
<div class='cell cover'><a href="/clips/bathroom-drama"></a></div>
<div class='cell description'><a href="/clips/bathroom-drama">Today in the bathroom, I made a new "friend" and uncovered Sinjin's secret crying spot. I kind of wish I didn't go to the bathroom today.</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/tori-vega">created by Tori</a>
</div>
</li>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/beck-and-jade-the-worst-couple">Beck and Jade: The Worst Couple</a></div>
<div class='cell image'><a href="/clips/beck-and-jade-the-worst-couple"><img alt="Beck and Jade: The Worst Couple" src="http://staticassets.www.theslap.com/video_thumbnail_images/5154390/medium.png?1328921585" /></a></div>
<div class='cell cover'><a href="/clips/beck-and-jade-the-worst-couple"></a></div>
<div class='cell description'><a href="/clips/beck-and-jade-the-worst-couple">Beck and Jade's relationship has an atomic meltdown on my new game show: Queries for Couples! Totally not my fault though. </a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/sinjin-van-cleef">created by Sinjin</a>
</div>
</li>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/sinjin-s-sock-puppets-tori-vega">Sinjin's Sock Puppets: Tori Vega</a></div>
<div class='cell image'><a href="/clips/sinjin-s-sock-puppets-tori-vega"><img alt="Sinjin's Sock Puppets: Tori Vega" src="http://staticassets.www.theslap.com/video_thumbnail_images/4659125/medium.png?1322084114" /></a></div>
<div class='cell cover'><a href="/clips/sinjin-s-sock-puppets-tori-vega"></a></div>
<div class='cell description'><a href="/clips/sinjin-s-sock-puppets-tori-vega">Sock puppets Tori and Sinjin bring you this very special message about proper dental care. Who knew Sock Tori had such horrible hygiene?!</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/sinjin-van-cleef">created by Sinjin</a>
</div>
</li>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/sinjin-s-sock-puppets-abraham-lincoln">Sinjin's Sock Puppets: Abraham Lincoln</a></div>
<div class='cell image'><a href="/clips/sinjin-s-sock-puppets-abraham-lincoln"><img alt="Sinjin's Sock Puppets: Abraham Lincoln" src="http://staticassets.www.theslap.com/video_thumbnail_images/4013674/medium.png?1313794374" /></a></div>
<div class='cell cover'><a href="/clips/sinjin-s-sock-puppets-abraham-lincoln"></a></div>
<div class='cell description'><a href="/clips/sinjin-s-sock-puppets-abraham-lincoln">Sock Puppet Sinjin meets Abe Lincoln and forces him to eat cat food. My mom says this video is really weird. What do you think?</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/sinjin-van-cleef">created by Sinjin</a>
</div>
</li>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/sinjin-s-sock-puppets-jade">Sinjin's Sock Puppets: Jade</a></div>
<div class='cell image'><a href="/clips/sinjin-s-sock-puppets-jade"><img alt="Sinjin's Sock Puppets: Jade" src="http://staticassets.www.theslap.com/video_thumbnail_images/2744354/medium.png?1304723340" /></a></div>
<div class='cell cover'><a href="/clips/sinjin-s-sock-puppets-jade"></a></div>
<div class='cell description'><a href="/clips/sinjin-s-sock-puppets-jade">In this week's Sock Puppet masterpiece, Puppet Jade meets Puppet Sinjin. She's totally into him. Just like in real life!</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/sinjin-van-cleef">created by Sinjin</a>
</div>
</li>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/sinjin-s-sock-puppets-lady-gaga">Sinjin's Sock Puppets: Lady Gaga</a></div>
<div class='cell image'><a href="/clips/sinjin-s-sock-puppets-lady-gaga"><img alt="Sinjin's Sock Puppets: Lady Gaga" src="http://staticassets.www.theslap.com/video_thumbnail_images/1778896/medium.png?1292636778" /></a></div>
<div class='cell cover'><a href="/clips/sinjin-s-sock-puppets-lady-gaga"></a></div>
<div class='cell description'><a href="/clips/sinjin-s-sock-puppets-lady-gaga">Betcha didn't know that I'm a really good sock puppet guy. In this episode Sock Sinjin meets Sock Lady Gaga. It gets really HOT!</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/sinjin-van-cleef">created by Sinjin</a>
</div>
</li>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/the-new-diddly-bops">The NEW Diddly Bops</a></div>
<div class='cell image'><a href="/clips/the-new-diddly-bops"><img alt="The NEW Diddly Bops" src="http://staticassets.www.theslap.com/video_thumbnail_images/2037459/medium.png?1295307253" /></a></div>
<div class='cell cover'><a href="/clips/the-new-diddly-bops"></a></div>
<div class='cell description'><a href="/clips/the-new-diddly-bops">The NEW Diddly Bops were NOT very popular. Children attacked us and destroyed our costumes. Geez, kids can be SO mean. :(</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/cat-valentine">created by Cat</a>
</div>
</li>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/sinjns-profile-video">Sinjn’s Profile Video</a></div>
<div class='cell image'><a href="/clips/sinjns-profile-video"><img alt="Sinjn’s Profile Video" src="http://staticassets.www.theslap.com/video_thumbnail_images/242043/medium.jpg?1275063490" /></a></div>
<div class='cell cover'><a href="/clips/sinjns-profile-video"></a></div>
<div class='cell description'><a href="/clips/sinjns-profile-video">Hello, it’s me Sinjin. I’ve uploaded my profile video for your viewing pleasure. </a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/sinjin-van-cleef">created by Sinjin</a>
</div>
</li>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/jade-s-profile-video">Jade's Profile Video</a></div>
<div class='cell image'><a href="/clips/jade-s-profile-video"><img alt="Jade's Profile Video" src="http://staticassets.www.theslap.com/video_thumbnail_images/56074/medium.jpg?1271550161" /></a></div>
<div class='cell cover'><a href="/clips/jade-s-profile-video"></a></div>
<div class='cell description'><a href="/clips/jade-s-profile-video">This is my profile video. Deal with it. And click "i like this" or I will find you!</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/jade-west">created by Jade</a>
</div>
</li>
</ul>
</div>

</div>

</div>
<div class='module_body_footer'>
<a href="/clips?newest=true">See All</a>

</div>
</div>
<div class='module_footer'></div>
</div>

</div>
<div class='character_favorite_photo_playlists'>
<div class='module_container'>
<div class='module_header'>
<div class='module_title'>
<div class='character_name'>
<h1>Sinjin's</h1>
</div>
<h2 class='module_type'>Photo Playlist</h2>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='list_backdrop'>
<div class='list_container photo_playlist_favorite_list_container'>
<ul class='jcarousel-skin-tango list photo_playlist_favorite_list'>
<li class='item photo_playlist_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/pix?playlist=129">Brain Squeezers</a></div>
<div class='cell image'><a href="/pix?playlist=129"><img alt="Brain Squeezers" src="http://staticassets.www.theslap.com/images/7255129/medium.jpg?1358031669" /></a></div>
<div class='cell cover'><a href="/pix?playlist=129"></a></div>
<div class='cell description'><a href="/pix?playlist=129">We went on a brand new game show and got our butts kicked -- literally! See the Pics! </a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/tori-vega">created by Tori</a>
</div>
</li>
<li class='item photo_playlist_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/pix?playlist=120">Sinjin's Closeups</a></div>
<div class='cell image'><a href="/pix?playlist=120"><img alt="Sinjin's Closeups" src="http://staticassets.www.theslap.com/images/6975743/medium.jpg?1352508747" /></a></div>
<div class='cell cover'><a href="/pix?playlist=120"></a></div>
<div class='cell description'><a href="/pix?playlist=120">My eyesight is so bad that I have to zoom my computer screen to the max when I forget to wear my glasses. This really freaks people out for some reason. See the zoomed in Slap pics, then see what they look like IRL (In Real Life.)</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/sinjin-van-cleef">created by Sinjin</a>
</div>
</li>
<li class='item photo_playlist_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/pix?playlist=116">Not-So-Perfect Pairs</a></div>
<div class='cell image'><a href="/pix?playlist=116"><img alt="Not-So-Perfect Pairs" src="http://staticassets.www.theslap.com/images/6863843/medium.jpg?1350079026" /></a></div>
<div class='cell cover'><a href="/pix?playlist=116"></a></div>
<div class='cell description'><a href="/pix?playlist=116">Tori and Beck go on an Opposite Date – not a real date. Plus, Andre and Robbie get a little fruity.</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/tori-vega">created by Tori</a>
</div>
</li>
<li class='item photo_playlist_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/pix?playlist=105">We've Got Sinjin Eyes!</a></div>
<div class='cell image'><a href="/pix?playlist=105"><img alt="We've Got Sinjin Eyes!" src="http://staticassets.www.theslap.com/images/6422257/medium.jpg?1343428697" /></a></div>
<div class='cell cover'><a href="/pix?playlist=105"></a></div>
<div class='cell description'><a href="/pix?playlist=105">Here's what the Hollywood Arts crew would look like if my eyes were glued to their faces. People have called the pictures creepy, but I think they turned out rather well. What do you think?</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/sinjin-van-cleef">created by Sinjin</a>
</div>
</li>
<li class='item photo_playlist_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/pix?playlist=79">The Worst Couple </a></div>
<div class='cell image'><a href="/pix?playlist=79"><img alt="The Worst Couple " src="http://staticassets.www.theslap.com/images/5156520/medium.jpg?1328939871" /></a></div>
<div class='cell cover'><a href="/pix?playlist=79"></a></div>
<div class='cell description'><a href="/pix?playlist=79">Sinjin's new game show was so bad that it ruined Beck and Jade's relationship! See what happens when you leave Sinjin in charge! </a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/sinjin-van-cleef">created by Sinjin</a>
</div>
</li>
<li class='item photo_playlist_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/pix?playlist=56">We Partied with iCarly! </a></div>
<div class='cell image'><a href="/pix?playlist=56"><img alt="We Partied with iCarly! " src="http://staticassets.www.theslap.com/images/3025380/medium.jpg?1307775822" /></a></div>
<div class='cell cover'><a href="/pix?playlist=56"></a></div>
<div class='cell description'><a href="/pix?playlist=56">See pics of us partyin' with the iCarlys, then go to iCarly.com to see even more! </a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/robbie-shapiro">created by Robbie</a>
</div>
</li>
<li class='item photo_playlist_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/pix?playlist=17">Around Hollywood Arts</a></div>
<div class='cell image'><a href="/pix?playlist=17"><img alt="Around Hollywood Arts" src="http://staticassets.www.theslap.com/images/147189/medium.jpg?1273863473" /></a></div>
<div class='cell cover'><a href="/pix?playlist=17"></a></div>
<div class='cell description'><a href="/pix?playlist=17">Robbie Shapiro here… Check out pics I took of some Hollywood Art-ers!</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/robbie-shapiro">created by Robbie</a>
</div>
</li>
</ul>
</div>

</div>

</div>
<div class='module_body_footer'>
<a href="/pix?newest=true">See All</a>

</div>
</div>
<div class='module_footer'></div>
</div>

</div>
<div id='block_ad_container'>
<div id='block_ad_tab'>
<div class='title'>
advertisement
</div>
</div>
<div id='block_ad'>
<script type='text/javascript'>
  //<![CDATA[
    mtvn.btg.Controller.placeAd({size:'300x250',contentType:"adi",keyValues:"!category=expand;!category=vic",sections:zone})
  //]]>
</script>
</div>
</div>

</div>
<div id='col_primary'><div class='buzz list_container wall_item_list_container' id='buzz_character_9'>
<div class='list_title_container'>
<div class='character_name'>
<h1>Sinjin's</h1>
</div>
<div class='list_title'>Board</div>
</div>
<div class='list wall_item_list'>
<div class='list_item status_update wall_item_item' id='wall_item_3849'>
<div id='status_update_1579'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/sinjin-van-cleef"><img alt="Sinjin" src="http://staticassets.www.theslap.com/square_profile_images/241997/medium.jpg?1322953586" /></a>
</div>
<a href="/profiles/sinjin-van-cleef">Sinjin</a>
</div>
<div class='post_container'>
<div class='mood_container'>
<div class='mood_title'>Mood</div>
<div class='cell mood'><div class='mood_icon'><img alt="" src="http://staticassets.www.theslap.com/unprocessed_images/908882/original.gif?1281037058" /></div>
<div class='mood_word'>psyched</div>
</div>
</div>
<div class='cell message'>
Just got back from my man-date with Beck!!! We had a great time. I hope we can do it again soon!
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3849_comments_list_container'>
<div class='comments' id='comments_wall_item_3849'>

<div class='comment' id='comment_8503594'>
<div class='photo'><a href="/profiles/beck-oliver"><img alt="Small" src="http://staticassets.www.theslap.com/square_profile_images/48/small.jpg?1330545341" /></a></div>
<div class='comment_body'>
<span class='commenter_name'><a href="/profiles/beck-oliver">Beck</a></span>
Yeah, any time you want…. as long as you promise to never call it a &quot;Man-Date&quot;. 
</div>

</div>
<div class='comment' id='comment_8505664'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7709231/tiny.png?1371162996" /></div>
<div class='comment_body'>
<span class='commenter_name'>tenta20</span>
I agree with Beck
</div>

</div>
<div class='comment' id='comment_8505710'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7289687/tiny.png?1358707489" /></div>
<div class='comment_body'>
<span class='commenter_name'>lovebugyou</span>
cccrrreeepppy
</div>

</div>
<div class='comment' id='comment_8506592'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7321851/tiny.png?1359225403" /></div>
<div class='comment_body'>
<span class='commenter_name'>rosevo</span>
why beck why
</div>

</div>
<div class='comment' id='comment_8506629'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7361474/tiny.png?1359896298" /></div>
<div class='comment_body'>
<span class='commenter_name'>alexderenu</span>
beck says true
</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/wall_items/3849/comments?comments_page=2&amp;id=sinjin-van-cleef" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_wall_item_3849'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3849'>
<a href="/wall_items/3849/likes" class="like" target="#likes_wall_item_3849">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3849'>
4,822 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='status_update_1579_asset_actions'>



</div>


</div>
</div>

</div>
<div class='list_item photo_playlist wall_item_item' id='wall_item_3864'>
<div id='photo_playlist_132'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/erwin-sikowitz"><img alt="Sikowitz" src="http://staticassets.www.theslap.com/square_profile_images/1175572/medium.jpg?1348348442" /></a>
</div>
<a href="/profiles/erwin-sikowitz">Sikowitz</a>
</div>
<div class='post_container'>
<div class='cell message'>
<a href="/pix?playlist=132">Sikowitz slapped Sinjin in a photo gallery</a>
</div>
<div class='cell enclosure'>
<div class='cell image'>
<a href="/galleries/132/slideshow#http://staticassets.www.theslap.com/images/7358731/large.jpg"><img alt="!Divertisimo!" src="http://staticassets.www.theslap.com/images/7358731/thumb.jpg?1359847351" /></a>
<a href="/galleries/132/slideshow#http://staticassets.www.theslap.com/images/7358708/large.jpg"><img alt="Pajelehoochos!" src="http://staticassets.www.theslap.com/images/7358708/thumb.jpg?1359847224" /></a>
<a href="/galleries/132/slideshow#http://staticassets.www.theslap.com/images/7358647/large.jpg"><img alt="Mariachi Band" src="http://staticassets.www.theslap.com/images/7358647/thumb.jpg?1359847026" /></a>
</div>
<div class='meta_data'>
<div class='cell title'>
<a href="/pix?playlist=132">Victori-Yes!</a>
</div>
<div class='cell description'>
<a href="/pix?playlist=132">I challenged you kids to go out there and say YES to life! And while your pictures confuse and befuddle me, they also make me a very proud Sikowitz!</a>
</div>
</div>
</div>

</div>
</div>

</div>
<div class='list_item status_update wall_item_item' id='wall_item_3796'>
<div id='status_update_1570'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/sinjin-van-cleef"><img alt="Sinjin" src="http://staticassets.www.theslap.com/square_profile_images/241997/medium.jpg?1322953586" /></a>
</div>
<a href="/profiles/sinjin-van-cleef">Sinjin</a>
</div>
<div class='post_container'>
<div class='mood_container'>
<div class='mood_title'>Mood</div>
<div class='cell mood'><div class='mood_icon'><img alt="" src="http://staticassets.www.theslap.com/unprocessed_images/908880/original.gif?1281037043" /></div>
<div class='mood_word'>fancy</div>
</div>
</div>
<div class='cell message'>
I'm currently digging in the dumpster of one of the finest steakhouses in Beverly Hills. I decided to really treat myself tonight.
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3796_comments_list_container'>
<div class='comments' id='comments_wall_item_3796'>





<div class='comment_form_container' id='form_container_wall_item_3796'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3796'>
<a href="/wall_items/3796/likes" class="like" target="#likes_wall_item_3796">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3796'>
1,646 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='status_update_1570_asset_actions'>



</div>


</div>
</div>

</div>
<div class='list_item status_update wall_item_item' id='wall_item_3778'>
<div id='status_update_1564'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/sinjin-van-cleef"><img alt="Sinjin" src="http://staticassets.www.theslap.com/square_profile_images/241997/medium.jpg?1322953586" /></a>
</div>
<a href="/profiles/sinjin-van-cleef">Sinjin</a>
</div>
<div class='post_container'>
<div class='mood_container'>
<div class='mood_title'>Mood</div>
<div class='cell mood'><div class='mood_icon'><img alt="" src="http://staticassets.www.theslap.com/unprocessed_images/1404960/original.gif?1287003263" /></div>
<div class='mood_word'>hyper</div>
</div>
</div>
<div class='cell message'>
Stray Hallway Sodas! Yes! #BestDayEver!!!
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3778_comments_list_container'>
<div class='comments' id='comments_wall_item_3778'>

<div class='comment' id='comment_8481793'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7329250/tiny.png?1359321762" /></div>
<div class='comment_body'>
<span class='commenter_name'>rose12365</span>
wow it must be your best day ever

</div>

</div>
<div class='comment' id='comment_8481797'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7316402/tiny.png?1359139130" /></div>
<div class='comment_body'>
<span class='commenter_name'>kezirah</span>
ewww
</div>

</div>
<div class='comment' id='comment_8481920'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7330133/tiny.png?1359330582" /></div>
<div class='comment_body'>
<span class='commenter_name'>halHal</span>
ok?
</div>

</div>
<div class='comment' id='comment_8482198'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7320718/tiny.png?1359214178" /></div>
<div class='comment_body'>
<span class='commenter_name'>Jade9532</span>
Oh Sinjin
</div>

</div>
<div class='comment' id='comment_8482299'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7699529/tiny.png?1370902946" /></div>
<div class='comment_body'>
<span class='commenter_name'>15maddy</span>
Okay...
</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/wall_items/3778/comments?comments_page=2&amp;id=sinjin-van-cleef" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_wall_item_3778'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3778'>
<a href="/wall_items/3778/likes" class="like" target="#likes_wall_item_3778">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3778'>
1,273 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='status_update_1564_asset_actions'>



</div>


</div>
</div>

</div>
<div class='list_item video wall_item_item' id='wall_item_3755'>
<div id='video_1331'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/trina-vega"><img alt="Trina" src="http://staticassets.www.theslap.com/square_profile_images/38/medium.jpg?1348348837" /></a>
</div>
<a href="/profiles/trina-vega">Trina</a>
</div>
<div class='post_container'>
<div class='cell message'>
<a href="/clips/shopping-with-trina">Trina slapped Sinjin in a video</a>
</div>
<div class='cell enclosure'><div class='cell image'>
<a href="/clips/shopping-with-trina"><img alt="Shopping with Trina" src="http://staticassets.www.theslap.com/video_thumbnail_images/7318668/small.png?1359165054" /></a>
</div>
<div class='meta_data'>
<div class='cell title'>
<a href="/clips/shopping-with-trina">Shopping with Trina</a>
</div>
<div class='cell description'>
<a href="/clips/shopping-with-trina">Welcome back to Shopping with Trina! Up for sale this hour: All of Tori's old stupid, useless junk! </a>
</div>
</div>
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3755_comments_list_container'>
<div class='comments' id='comments_wall_item_3755'>

<div class='comment' id='comment_8484259'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7332455/tiny.png?1359340204" /></div>
<div class='comment_body'>
<span class='commenter_name'>Pink448</span>
selling thing lol
</div>

</div>
<div class='comment' id='comment_8484352'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7333124/tiny.png?1359343557" /></div>
<div class='comment_body'>
<span class='commenter_name'>skye325</span>
did you really get dragged by a dog?
</div>

</div>
<div class='comment' id='comment_8484391'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7333258/tiny.png?1359344001" /></div>
<div class='comment_body'>
<span class='commenter_name'>yomancool4</span>
whoas
</div>

</div>
<div class='comment' id='comment_8485260'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7334414/tiny.png?1359390472" /></div>
<div class='comment_body'>
<span class='commenter_name'>LadyCutie</span>
Haha
</div>

</div>
<div class='comment' id='comment_8485537'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7592326/tiny.png?1366588089" /></div>
<div class='comment_body'>
<span class='commenter_name'>maryfran33</span>
shes selling her stuff AGAIN
</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/wall_items/3755/comments?comments_page=2&amp;id=sinjin-van-cleef" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_wall_item_3755'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3755'>
<a href="/wall_items/3755/likes" class="like" target="#likes_wall_item_3755">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3755'>
17,451 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='video_1331_asset_actions'>


<span id='video_1331_embed'>
<a href="/clips/shopping-with-trina/embed/new" class="embed" title="Embed on your webpage">Embed on your webpage</a>
</span>

</div>


</div>
</div>

</div>
<div class='list_item video wall_item_item' id='wall_item_3752'>
<div id='video_1329'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/sinjin-van-cleef"><img alt="Sinjin" src="http://staticassets.www.theslap.com/square_profile_images/241997/medium.jpg?1322953586" /></a>
</div>
<a href="/profiles/sinjin-van-cleef">Sinjin</a>
</div>
<div class='post_container'>
<div class='cell message'>
<a href="/clips/sinjin-skips">Sinjin slapped Trina in a video</a>
</div>
<div class='cell enclosure'><div class='cell image'>
<a href="/clips/sinjin-skips"><img alt="Sinjin Skips " src="http://staticassets.www.theslap.com/video_thumbnail_images/7303518/small.png?1358820191" /></a>
</div>
<div class='meta_data'>
<div class='cell title'>
<a href="/clips/sinjin-skips">Sinjin Skips </a>
</div>
<div class='cell description'>
<a href="/clips/sinjin-skips">Trina was nice enough to teach me how to jump rope. Now there's nothing stopping me from being the coolest guy at school!</a>
</div>
</div>
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3752_comments_list_container'>
<div class='comments' id='comments_wall_item_3752'>





<div class='comment_form_container' id='form_container_wall_item_3752'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3752'>
<a href="/wall_items/3752/likes" class="like" target="#likes_wall_item_3752">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3752'>
5,370 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='video_1329_asset_actions'>


<span id='video_1329_embed'>
<a href="/clips/sinjin-skips/embed/new" class="embed" title="Embed on your webpage">Embed on your webpage</a>
</span>

</div>


</div>
</div>

</div>
<div class='list_item photo_playlist wall_item_item' id='wall_item_3729'>
<div id='photo_playlist_130'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/tori-vega"><img alt="Tori" src="http://staticassets.www.theslap.com/square_profile_images/43/medium.jpg?1348347275" /></a>
</div>
<a href="/profiles/tori-vega">Tori</a>
</div>
<div class='post_container'>
<div class='cell message'>
<a href="/pix?playlist=130">Tori slapped Sinjin in a photo gallery</a>
</div>
<div class='cell enclosure'>
<div class='cell image'>
<a href="/galleries/130/slideshow#http://staticassets.www.theslap.com/images/7278140/large.jpg"><img alt="Our Short Film" src="http://staticassets.www.theslap.com/images/7278140/thumb.jpg?1358556717" /></a>
<a href="/galleries/130/slideshow#http://staticassets.www.theslap.com/images/7278129/large.jpg"><img alt="Violent Violinist" src="http://staticassets.www.theslap.com/images/7278129/thumb.jpg?1358556627" /></a>
<a href="/galleries/130/slideshow#http://staticassets.www.theslap.com/images/7278118/large.jpg"><img alt="Terrible Detectives" src="http://staticassets.www.theslap.com/images/7278118/thumb.jpg?1358556501" /></a>
</div>
<div class='meta_data'>
<div class='cell title'>
<a href="/pix?playlist=130">Slap Fight Pics! </a>
</div>
<div class='cell description'>
<a href="/pix?playlist=130">This week we made a horrible short film, Sinjin got a terrible tan, and to top it all off, we had ourselves a good ol' fashioned Slap fight! </a>
</div>
</div>
</div>

</div>
</div>

</div>
<div class='list_item video wall_item_item' id='wall_item_3741'>
<div id='video_1325'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/tori-vega"><img alt="Tori" src="http://staticassets.www.theslap.com/square_profile_images/43/medium.jpg?1348347275" /></a>
</div>
<a href="/profiles/tori-vega">Tori</a>
</div>
<div class='post_container'>
<div class='cell message'>
<a href="/clips/tori-s-milk-challenge">Tori slapped Sinjin in a video</a>
</div>
<div class='cell enclosure'><div class='cell image'>
<a href="/clips/tori-s-milk-challenge"><img alt="Tori's Milk Challenge!" src="http://staticassets.www.theslap.com/video_thumbnail_images/7278494/small.png?1358560692" /></a>
</div>
<div class='meta_data'>
<div class='cell title'>
<a href="/clips/tori-s-milk-challenge">Tori's Milk Challenge!</a>
</div>
<div class='cell description'>
<a href="/clips/tori-s-milk-challenge">Hey Slap Fans! Watch me take on the Kioki Powder Milk Challenge! Now go tell your friends to follow me! Please?!?!?!</a>
</div>
</div>
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3741_comments_list_container'>
<div class='comments' id='comments_wall_item_3741'>





<div class='comment_form_container' id='form_container_wall_item_3741'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3741'>
<a href="/wall_items/3741/likes" class="like" target="#likes_wall_item_3741">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3741'>
7,063 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='video_1325_asset_actions'>


<span id='video_1325_embed'>
<a href="/clips/tori-s-milk-challenge/embed/new" class="embed" title="Embed on your webpage">Embed on your webpage</a>
</span>

</div>


</div>
</div>

</div>
<div class='list_item video wall_item_item' id='wall_item_3735'>
<div id='video_1323'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/beck-oliver"><img alt="Beck" src="http://staticassets.www.theslap.com/square_profile_images/48/medium.jpg?1330545341" /></a>
</div>
<a href="/profiles/beck-oliver">Beck</a>
</div>
<div class='post_container'>
<div class='cell message'>
<a href="/clips/beck-washes-his-car">Beck slapped Sinjin in a video</a>
</div>
<div class='cell enclosure'><div class='cell image'>
<a href="/clips/beck-washes-his-car"><img alt="Beck Washes His Car" src="http://staticassets.www.theslap.com/video_thumbnail_images/7278456/small.png?1358560313" /></a>
</div>
<div class='meta_data'>
<div class='cell title'>
<a href="/clips/beck-washes-his-car">Beck Washes His Car</a>
</div>
<div class='cell description'>
<a href="/clips/beck-washes-his-car">Boy, my car sure is dirty… guess I better wash it… with my shirt.  If you want more… just become my fan! </a>
</div>
</div>
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3735_comments_list_container'>
<div class='comments' id='comments_wall_item_3735'>





<div class='comment_form_container' id='form_container_wall_item_3735'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3735'>
<a href="/wall_items/3735/likes" class="like" target="#likes_wall_item_3735">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3735'>
13,889 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='video_1323_asset_actions'>


<span id='video_1323_embed'>
<a href="/clips/beck-washes-his-car/embed/new" class="embed" title="Embed on your webpage">Embed on your webpage</a>
</span>

</div>


</div>
</div>

</div>
<div class='list_item video wall_item_item' id='wall_item_3696'>
<div id='video_1311'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/tori-vega"><img alt="Tori" src="http://staticassets.www.theslap.com/square_profile_images/43/medium.jpg?1348347275" /></a>
</div>
<a href="/profiles/tori-vega">Tori</a>
</div>
<div class='post_container'>
<div class='cell message'>
<a href="/clips/spoiler-alert">Tori slapped Sinjin in a video</a>
</div>
<div class='cell enclosure'><div class='cell image'>
<a href="/clips/spoiler-alert"><img alt="SPOILER ALERT!" src="http://staticassets.www.theslap.com/video_thumbnail_images/7266203/small.png?1358277773" /></a>
</div>
<div class='meta_data'>
<div class='cell title'>
<a href="/clips/spoiler-alert">SPOILER ALERT!</a>
</div>
<div class='cell description'>
<a href="/clips/spoiler-alert">Wanna see the Victorious stars get Doinked? And what happens at the end of the show?!? You're just a click away! Watch It!</a>
</div>
</div>
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3696_comments_list_container'>
<div class='comments' id='comments_wall_item_3696'>

<div class='comment' id='comment_8436048'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7266332/tiny.png?1358279437" /></div>
<div class='comment_body'>
<span class='commenter_name'>Fatoome201</span>
I love you
</div>

</div>
<div class='comment' id='comment_8436061'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7266397/tiny.png?1358280083" /></div>
<div class='comment_body'>
<span class='commenter_name'>koki123456</span>
cool
</div>

</div>
<div class='comment' id='comment_8436092'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7266077/tiny.png?1358275681" /></div>
<div class='comment_body'>
<span class='commenter_name'>ziad12</span>
LOOOL
</div>

</div>
<div class='comment' id='comment_8436113'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7269386/tiny.png?1358354018" /></div>
<div class='comment_body'>
<span class='commenter_name'>pitchpink</span>
Tori you are so awsome i wish i were you
</div>

</div>
<div class='comment' id='comment_8436380'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7254684/tiny.png?1358027962" /></div>
<div class='comment_body'>
<span class='commenter_name'>JNH123</span>
WOW

</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/wall_items/3696/comments?comments_page=2&amp;id=sinjin-van-cleef" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_wall_item_3696'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3696'>
<a href="/wall_items/3696/likes" class="like" target="#likes_wall_item_3696">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3696'>
10,584 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='video_1311_asset_actions'>


<span id='video_1311_embed'>
<a href="/clips/spoiler-alert/embed/new" class="embed" title="Embed on your webpage">Embed on your webpage</a>
</span>

</div>


</div>
</div>

</div>

</div>
<div class='pagination_container'>
<div class="pagination" id="wall_items_pagination"><span class="disabled prev_page">&laquo; Previous</span> <span class="current">1</span> <a href="/profiles/sinjin-van-cleef?page=2" rel="next">2</a> <a href="/profiles/sinjin-van-cleef?page=3">3</a> <a href="/profiles/sinjin-van-cleef?page=4">4</a> <a href="/profiles/sinjin-van-cleef?page=5">5</a> <a href="/profiles/sinjin-van-cleef?page=6">6</a> <a href="/profiles/sinjin-van-cleef?page=7">7</a> <a href="/profiles/sinjin-van-cleef?page=8">8</a> <a href="/profiles/sinjin-van-cleef?page=9">9</a> <span class="gap">&hellip;</span> <a href="/profiles/sinjin-van-cleef?page=20">20</a> <a href="/profiles/sinjin-van-cleef?page=21">21</a> <a href="/profiles/sinjin-van-cleef?page=2" class="next_page" rel="next">Next &raquo;</a></div>
<div class='loading hidden'></div>
</div>
</div>
</div>

</div>

</div>
<div id='content_footer'></div>
</div>
<div id='sidebar_container'>
<div id='sidebar_header'>
<div class='title'></div>
</div>
<div id='sidebar_content'>
<div class='module_container the_games'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='list_container' id='sidebar_game_container'>
<div class='game_of_months_title_container'></div>
<ul class='list game_of_months jcarousel-skin-tango'>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/7367786/small.png?1360007882')">
<div class='link default_link'><a href="/games/cats-heartbreaker-game" title="Heartbreaker Game"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/7255379/small.png?1358033925')">
<div class='link default_link'><a href="/games/sinjin-sock-hop" title="Sinjin Sock Puppet Game"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/7094958/small.png?1354921421')">
<div class='link default_link'><a href="/games/skate-with-cat-game" title="Skate with Cat promo"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/6890337/small.png?1350691328')">
<div class='link default_link'><a href="/games/jades-zombie-smasher-game" title="Jade's Zombie Smasher"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/6799490/small.png?1348611239')">
<div class='link default_link'><a href="/games/wankos-warehouse-game" title="Wanko's Warehouse"></a></div>
</li>
</ul>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

<div class='module_container the_tunes'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='sidebar_songs_container'>
<a href="/tunes#here-s-to-us" style="background-image: url(http://staticassets.www.theslap.com/images/6938293/sidebar.jpg?1352174971)">Here's 2 Us</a>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

<div class='hottest_pages module_container'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='hottest_pages_links_container'>
<a href="/profiles/tori-vega" title="Tori Vega"><img alt="Tori Vega" src="http://staticassets.www.theslap.com/unprocessed_images/146931/original.jpg?1273857395" /></a>
<a href="/profiles/andre-harris" title="Andre Harris"><img alt="Andre Harris" src="http://staticassets.www.theslap.com/unprocessed_images/146930/original.jpg?1273857393" /></a>
<a href="/profiles/trina-vega" title="Trina Vega"><img alt="Trina Vega" src="http://staticassets.www.theslap.com/unprocessed_images/146929/original.jpg?1273857392" /></a>
<a href="/profiles/robbie-shapiro" title="Robbie Shapiro"><img alt="Robbie Shapiro" src="http://staticassets.www.theslap.com/unprocessed_images/146928/original.jpg?1273857391" /></a>
<a href="/profiles/cat-valentine" title="Cat Valentine"><img alt="Cat Valentine" src="http://staticassets.www.theslap.com/unprocessed_images/146927/original.jpg?1273857390" /></a>
<a href="/profiles/beck-oliver" title="Beck Oliver"><img alt="Beck Oliver" src="http://staticassets.www.theslap.com/unprocessed_images/146926/original.jpg?1273857389" /></a>
<a href="/profiles/jade-west" title="Jade West"><img alt="Jade West" src="http://staticassets.www.theslap.com/unprocessed_images/146925/original.jpg?1273857387" /></a>
<a href="/profiles/rex-powers" title="Rex Powers"><img alt="Rex Powers" src="http://staticassets.www.theslap.com/unprocessed_images/146924/original.jpg?1273857386" /></a>
<a href="/profiles/sinjin-van-cleef" title="Sinjin Van Cleef"><img alt="Sinjin Van Cleef" src="http://staticassets.www.theslap.com/unprocessed_images/948376/original.jpg?1281388313" /></a>
<a href="/profiles/erwin-sikowitz" title="Erwin Sikowitz"><img alt="Erwin Sikowitz" src="http://staticassets.www.theslap.com/unprocessed_images/1219697/original.jpg?1284055516" /></a>
<a href="/profiles/lane-alexander" title="Lane Alexander"><img alt="Lane Alexander" src="http://staticassets.www.theslap.com/unprocessed_images/4108536/original.png?1314733249" /></a>
<a href="/profiles/festus" title="Festus"><img alt="Festus" src="http://staticassets.www.theslap.com/unprocessed_images/5635405/original.jpg?1334777370" /></a>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

</div>
<div id='sidebar_footer'></div>

</div>
</div>
<div id='body_shadow_right'></div>
</div>
<div id='body_shadow_bottom'></div>
<div id='footer_container'>
<div id='footer'>
<div id='footer_nav'>
<div class='link_block top_links'>
<a href="/">THE SLAP HOME</a>
<a href="/bump?to=%2Ffaq">FAQ/ABOUT US</a>
</div>
<div class='link_block'>
<a href="/">HOME</a>
<a href="/bump?to=%2Fprofiles">PROFILES</a>
<a href="/bump?to=%2Fclips">CLIPS</a>
<a href="/bump?to=%2Fpix">PIX</a>
<a href="/bump?to=%2Ftunes">TUNES</a>
<a href="/bump?to=%2Fgames">GAMES</a>
</div>
<div class='link_block'>
<a href="http://www.nick.com/legal/nickelodeon-privacy-policy/" rel="external">Privacy Policy/Your California Privacy Rights (updated 2/9/2016)</a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com%2Fclub%2Fparents-terms-of-use.html" rel="external">Terms of Use</a>
</div>
<div class='link_block'>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com%2Finfo%2Fcopyright.html" rel="external">Copyright Compliance Policy</a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com%2Finfo%2Fsafety-guide.html" rel="external">Safety Guide</a>
</div>
<div class='link_block'>
<a href="/bump?to=http%3A%2F%2Fsrp.mtvn.com%2Fsitefaq.html" class="viacom" rel="external">Ad Choices</a>
</div>
<div class='link_block'>
&copy; Copyright 2018 Viacom International Inc. All Rights Reserved
</div>
<div class='link_block'>
<div class='friends_title'>
Friends of Victorious
</div>
<div class='friends_container'>
<a href="/bump?to=http%3A%2F%2Fwww.icarly.com"><img alt="SplashFace" src="/images/friends/logo_splashface.gif?1451922775" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.icarly.com"><img alt="iCarly" src="/images/friends/logo_icarly.png?1451922775" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com"><img alt="Nick" src="/images/friends/logo_nick_com.png?1451922775" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com"><img alt="Nickelodean Kids &amp; Teens" src="/images/friends/logo_nick_kids_teens.gif?1451922775" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.icarly.com"><img alt="SplashFace" src="/images/friends/logo_zaplook.gif?1451922775" /></a>
</div>
</div>
</div>

</div>
</div>
</div>

</body>
</html>

