
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

                
        



<html xmlns:esi='http://www.edge-delivery.org/esi/1.0' xmlns='http://www.w3.org/1999/xhtml'>
<head>
<title>
Cat's Christmas Pics! | TheSlap | Hollywood Arts' Victorious
</title>
<meta content="Hey, it's me Cat again and guess who's been PhotoDocking again?!? LOL. ME!!!! Merry Cat-mas, eveyone and to all a good nighty!" name='description' />

<link href='/images/favicon.ico' rel='shortcut icon' type='image/x-icon' />
<script src="/javascripts/bundled/theslap.js?1371584680" type="text/javascript"></script>
<link href="/stylesheets/bundled/theslap.css?1378424141" media="screen" rel="stylesheet" type="text/css" />
<script src="/javascripts/jquery/jquery.galleria.js?1271602892" type="text/javascript"></script>
<script src="/javascripts/photo.js?1318431630" type="text/javascript"></script><script src="/javascripts/bundled/assets.js?1343227105" type="text/javascript"></script>
<script src="/javascripts/videos_and_photos.js?1269378793" type="text/javascript"></script>
<script src="/javascripts/video_and_photo_lists.js?1276628144" type="text/javascript"></script>
<script src="/javascripts/flowplayer-3.1.4.min.js?1316718152" type="text/javascript"></script>
<script src="/javascripts/support/swfobject.js?1269378793" type="text/javascript"></script>
<script src="/javascripts/support/vplayer.js?1320191142" type="text/javascript"></script>
<script src="/javascripts/custom/video/init.js?1316718152" type="text/javascript"></script>


<!--[if lt IE 7]>
<link href="/stylesheets/compiled/ie.css?1378424139" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if lt IE 8]>
<link href="/stylesheets/compiled/ie7.css?1378424141" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->

</head>
<body class='bp photo_page photo_playlists'>
<script src="http://btg.mtvnservices.com/aria/coda.html?site=theslap.com" type="text/javascript"></script>
<script src="/javascripts/support/coda_config.js?1321556352" type="text/javascript"></script>

<div id='body_container'>
<div id='header_container'>
<div id='header'>
<div id='nav_adornment'></div>
<div id='logo_bg'></div>
<script type='text/javascript'>
  //<![CDATA[
    var user_menu_template = "    <ul>\n      <% try { %>\n        <li class=\"first\">Hello: <span class=\"user_name\"><%= user.username %><\/span><\/li>\n        <li><a href=\"/my/profile\">My profile<\/a><\/li>\n\n        <% if(user.admin) { %>\n          <li><a href=\"/admin/dashboard\">Admin dashboard<\/a><\/li>\n          <li><a href=\"/\">View site<\/a><\/li>\n        <% } %>\n        <li class=\"last\"><a href=\"/users/logout?return_to_after_logged_out=%2Fgalleries%2F39%2Fslideshow\">Logout<\/a><\/li>\n      <% } catch(err) { %>\n        <li><a href=\"/register\">Register<\/a><\/li>\n        <li class=\"last\"><a href=\"/users/pickles?return_to_if_logged_out=%2Fgalleries%2F39%2Fslideshow\" id=\"login_link\">Login<\/a><\/li>\n      <% } %>\n    <\/ul>\n";
  //]]>
</script>

<a href='http://www.theslap.com/users/pickles' id='admin_login_link'></a>
<div id='deprecated_user_menu'>
<noscript>
<h3 class='no_javascript_warning'>
Javascript is required to use TheSlap. Please enable Javascript and reload this page.
</h3>
</noscript>
</div>

<div id='logo'>
<a href='/'>
<object data='/swf/slap_logo.swf' height='103' id='slap_animation' type='application/x-shockwave-flash' width='327'>
<param name='wmode' value='transparent' />
<param name='movie' value='/swf/slap_logo.swf' />
<img alt='The Slap' src='/images/themes/default/home_logo.png' />
</object>
</a>
</div>
<div id='nav'>
<ul>
<li class='home first'><a href="/">Home</a></li>
<li class='characters'><a href="/profiles">Profiles</a></li>
<li class='videos'><a href="/clips?newest=true">Clips</a></li>
<li class='photos'><a href="/pix?newest=true">Pix</a></li>
<li class='songs'><a href="/tunes">Tunes</a></li>
<li class='games'><a href="/games">Games</a></li>
<li class='search last'><div id='search'>
<form action="/search" method="get">

<input class="search_field" id="q" name="q" placeholder="enter text here" size="15" type="text" />
<button id='search_button' type='submit'>
Search
</button>
</form>
</div>
</li>
</ul>
<div id='nav_bar_right_cap'></div>
</div>

</div>
</div>
<div id='main_container'>
<div id='body_shadow_top'></div>
<div id='body_shadow_left'></div>
<div id='main'>
<div id='content_container'>
<div id='content_callout_container'>
<div id='content_callout_tab'>
<div id='content_callout'>
<div id='banner_ad'>
<script type='text/javascript'>
  //<![CDATA[
    mtvn.btg.Controller.placeAd({size:'728x90',contentType:"adi",keyValues:"!category=expand;!category=vic",sections:zone});
  //]]>
</script>
</div>
</div>
</div>
</div>

<div id='content_header'>
<h1>The Pix</h1>
<div id='header_controls'><div class='also_see_container'><a href="/pix?newest=true">See All Galleries</a></div>
</div>

</div>
<div class='photo' id='content'>

<div id='content_top'><div class='fancy_info_block info_header'>
<div class='row playlist'>
<h2 class='label'>Gallery:</h2>
<h2 class='value'><a href="/pix?playlist=39">Cat's Christmas Pics! -- see all pix in this gallery</a></h2>
</div>
<div class='row title'>
<h2 class='label'>You're Watching:</h2>
<h2 class='value'>Cat's Christmas Pics!</h2>
</div>
<div class='row description'>
<h2 class='label'>In This Photo:</h2>
<h2 class='value'>Hey, it's me Cat again and guess who's been PhotoDocking again?!? LOL. ME!!!! Merry Cat-mas, eveyone and to all a good nighty!</h2>
</div>
</div>
<div class='photo_section_container'>
<div id='img'></div>
<ul class='all_actions_list'>
<li>
<div class='value actions_container photo_actions'>
<div class='asset_actions' id='photo_289_asset_actions'>



</div>

</div>
</li>
<li>
<div class='value actions_container photo_actions'>
<div class='asset_actions' id='photo_288_asset_actions'>



</div>

</div>
</li>
<li>
<div class='value actions_container photo_actions'>
<div class='asset_actions' id='photo_292_asset_actions'>



</div>

</div>
</li>
<li>
<div class='value actions_container photo_actions'>
<div class='asset_actions' id='photo_287_asset_actions'>



</div>

</div>
</li>
<li>
<div class='value actions_container photo_actions'>
<div class='asset_actions' id='photo_291_asset_actions'>



</div>

</div>
</li>
<li>
<div class='value actions_container photo_actions'>
<div class='asset_actions' id='photo_290_asset_actions'>



</div>

</div>
</li>
</ul>
<ul class='gallery jcarousel-skin-tango'>
<div class='photo_index'></div>
<li>
<a href="http://staticassets.www.theslap.com/images/1808113/large.jpg"><img alt="Thumb" height="40" src="http://staticassets.www.theslap.com/images/1808113/thumb.jpg?1292963332" width="52" />
</a></li>
<li>
<a href="http://staticassets.www.theslap.com/images/1808095/large.jpg"><img alt="Thumb" height="40" src="http://staticassets.www.theslap.com/images/1808095/thumb.jpg?1292963235" width="52" />
</a></li>
<li>
<a href="http://staticassets.www.theslap.com/images/1808150/large.jpg"><img alt="Thumb" height="40" src="http://staticassets.www.theslap.com/images/1808150/thumb.jpg?1292963559" width="52" />
</a></li>
<li>
<a href="http://staticassets.www.theslap.com/images/1808051/large.jpg"><img alt="Thumb" height="40" src="http://staticassets.www.theslap.com/images/1808051/thumb.jpg?1292963090" width="52" />
</a></li>
<li>
<a href="http://staticassets.www.theslap.com/images/1808141/large.jpg"><img alt="Thumb" height="40" src="http://staticassets.www.theslap.com/images/1808141/thumb.jpg?1292963492" width="52" />
</a></li>
<li>
<a href="http://staticassets.www.theslap.com/images/1808126/large.jpg"><img alt="Thumb" height="40" src="http://staticassets.www.theslap.com/images/1808126/thumb.jpg?1292963397" width="52" />
</a></li>
</ul>

</div>
<script type='text/javascript'>
  //<![CDATA[
    var defaultImagePath = "http://staticassets.www.theslap.com/images/1808113/large.jpg?1292963332"
    var metaData = [{"title":"Jade Is Cold As Ice","description":"Look Jade is half snowman and half human. She's a SNUMAN!"},{"title":"Robbie and Rex in Cookie Form","description":"If I ate Cookie-Robbie, do you think Cookie-Rex could still talk? I'm confused."},{"title":"Andre Gets His Sled On","description":"Okay, he's got 5 presents. Who do you think's been too naughty to get a gift this year? ;)"},{"title":"Miss Claus!","description":"Why is Santa Tori's beard growing out of her neck? Haha! PhotoDock FAIL! Oh wait, that's totally my fault = Cat FAIL :("},{"title":"Beck Goes Nuts","description":"I just figured out why Nutcracker Beck looks so mad -- He's missing a hand :("},{"title":"Cat (Me) Having A Ball!","description":"No need to call the fire department, this Cat likes being stuck in a tree. A Christmas tree... hehehehe."}]
  //]]>
</script>

</div>
<div id='content_bottom'>
<div id='col_secondary'><div id='block_ad_container'>
<div id='block_ad_tab'>
<div class='title'>
advertisement
</div>
</div>
<div id='block_ad'>
<script type='text/javascript'>
  //<![CDATA[
    mtvn.btg.Controller.placeAd({size:'300x250',contentType:"adi",keyValues:"!category=expand;!category=vic",sections:zone})
  //]]>
</script>
</div>
</div>

</div>
<div id='col_primary'><div class='fancy_info_block info_footer'>
<div class='row uploaded_by'>
<h2 class='label'>Photo Added By:</h2>
<h2 class='value'><a href="/profiles/cat-valentine">Cat Valentine</a></h2>
</div>
<div class='row playlist_created_by'>
</div>
<div class='row slapped'>
<h2 class='label'>Who is Slapped:</h2>
<ul class='all_slapped_list'>
<li>
<div class='value slapped_container slapped_thumbnails'>
<div>
<a href="/pix?slapped=8"><img alt="Jade West" src="http://staticassets.www.theslap.com/square_profile_images/68/medium.jpg?1327736731" /></a>
<br />
<strong>
<a href="/pix?slapped=8" title="Jade West">Jade</a>
</strong>
</div>

</div>
</li>
<li>
<div class='value slapped_container slapped_thumbnails'>
<div>
<a href="/pix?slapped=5"><img alt="Rex Powers" src="http://staticassets.www.theslap.com/square_profile_images/53/medium.jpg?1311724235" /></a>
<br />
<strong>
<a href="/pix?slapped=5" title="Rex Powers">Rex</a>
</strong>
</div>
<div>
<a href="/pix?slapped=6"><img alt="Robbie Shapiro" src="http://staticassets.www.theslap.com/square_profile_images/58/medium.jpg?1348347536" /></a>
<br />
<strong>
<a href="/pix?slapped=6" title="Robbie Shapiro">Robbie</a>
</strong>
</div>

</div>
</li>
<li>
<div class='value slapped_container slapped_thumbnails'>
<div>
<a href="/pix?slapped=1"><img alt="Andre Harris" src="http://staticassets.www.theslap.com/square_profile_images/33/medium.jpg?1330544256" /></a>
<br />
<strong>
<a href="/pix?slapped=1" title="Andre Harris">Andre</a>
</strong>
</div>

</div>
</li>
<li>
<div class='value slapped_container slapped_thumbnails'>
<div>
<a href="/pix?slapped=3"><img alt="Tori Vega" src="http://staticassets.www.theslap.com/square_profile_images/43/medium.jpg?1348347275" /></a>
<br />
<strong>
<a href="/pix?slapped=3" title="Tori Vega">Tori</a>
</strong>
</div>

</div>
</li>
<li>
<div class='value slapped_container slapped_thumbnails'>
<div>
<a href="/pix?slapped=4"><img alt="Beck Oliver" src="http://staticassets.www.theslap.com/square_profile_images/48/medium.jpg?1330545341" /></a>
<br />
<strong>
<a href="/pix?slapped=4" title="Beck Oliver">Beck</a>
</strong>
</div>

</div>
</li>
<li>
<div class='value slapped_container slapped_thumbnails'>
<div>
<a href="/pix?slapped=7"><img alt="Cat Valentine" src="http://staticassets.www.theslap.com/square_profile_images/63/medium.png?1350689024" /></a>
<br />
<strong>
<a href="/pix?slapped=7" title="Cat Valentine">Cat</a>
</strong>
</div>

</div>
</li>
</ul>
</div>
</div>
<ul class='all_comments_list'>
<li>
<div class='value comments_container photo_comments'>
<div class='comments_container list_section'>
<div class='subheader'>
<div class='comment_title'>
Comments
</div>
</div>
<div class='list_and_footer_container'>
<div class='list_container' id='photo_289_comments_list_container'>
<div class='comments' id='comments_photo_289'>

<div class='comment' id='comment_2402319'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/1940315/tiny.png?1294361801" /></div>
<div class='comment_body'>
<span class='commenter_name'>Smileyguy</span>
omg i CAN NOT and i mean i CAN NOT stop laughing it took me a while to type this! :)
</div>

</div>
<div class='comment' id='comment_2403926'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/1897264/tiny.png?1293839064" /></div>
<div class='comment_body'>
<span class='commenter_name'>SHiNee10</span>
snuman!
</div>

</div>
<div class='comment' id='comment_2410705'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/1901989/tiny.png?1293895556" /></div>
<div class='comment_body'>
<span class='commenter_name'>jlovemo</span>
you sure are cold jade:)
</div>

</div>
<div class='comment' id='comment_2413773'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/1903674/tiny.png?1293908125" /></div>
<div class='comment_body'>
<span class='commenter_name'>girlie43</span>
lol!!!!

</div>

</div>
<div class='comment' id='comment_2441485'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/1926537/tiny.png?1294099187" /></div>
<div class='comment_body'>
<span class='commenter_name'>SDCowgirl2</span>
YOU LOOK CUTE !!!!!!!!!!
</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/pix/jade-is-cold-as-ice/comments?comments_page=2&amp;id=39" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_photo_289'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_photo_289'>
<a href="/pix/jade-is-cold-as-ice/likes" class="like" target="#likes_photo_289">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_photo_289'>
1,178 people like this
</div>

</div>
</div>
</div>

</div>

</div>
</li>
<li>
<div class='value comments_container photo_comments'>
<div class='comments_container list_section'>
<div class='subheader'>
<div class='comment_title'>
Comments
</div>
</div>
<div class='list_and_footer_container'>
<div class='list_container' id='photo_288_comments_list_container'>
<div class='comments' id='comments_photo_288'>

<div class='comment' id='comment_2364971'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/1845036/tiny.png?1293392456" /></div>
<div class='comment_body'>
<span class='commenter_name'>Noodles527</span>
Rex your looking good!!
</div>

</div>
<div class='comment' id='comment_2365809'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/1862903/tiny.png?1293578314" /></div>
<div class='comment_body'>
<span class='commenter_name'>nicole90x</span>
thats funny as can be
</div>

</div>
<div class='comment' id='comment_2368776'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7106087/tiny.png?1355089035" /></div>
<div class='comment_body'>
<span class='commenter_name'>kayla19</span>
lol!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
</div>

</div>
<div class='comment' id='comment_2370458'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/1877011/tiny.png?1293678904" /></div>
<div class='comment_body'>
<span class='commenter_name'>mana210</span>
hahahaha i love this picture its so funny :)
</div>

</div>
<div class='comment' id='comment_2428184'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/2157943/tiny.png?1296674112" /></div>
<div class='comment_body'>
<span class='commenter_name'>singpiano8</span>
Awwwwwwwww! Thats soooo cute!
</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/pix/robbie-and-rex-in-cookie-form/comments?comments_page=2&amp;id=39" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_photo_288'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_photo_288'>
<a href="/pix/robbie-and-rex-in-cookie-form/likes" class="like" target="#likes_photo_288">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_photo_288'>
784 people like this
</div>

</div>
</div>
</div>

</div>

</div>
</li>
<li>
<div class='value comments_container photo_comments'>
<div class='comments_container list_section'>
<div class='subheader'>
<div class='comment_title'>
Comments
</div>
</div>
<div class='list_and_footer_container'>
<div class='list_container' id='photo_292_comments_list_container'>
<div class='comments' id='comments_photo_292'>

<div class='comment' id='comment_2410582'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/2641917/tiny.png?1303398228" /></div>
<div class='comment_body'>
<span class='commenter_name'>snowball02</span>
we have the new santa claus
</div>

</div>
<div class='comment' id='comment_2410724'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/1901989/tiny.png?1293895556" /></div>
<div class='comment_body'>
<span class='commenter_name'>jlovemo</span>
HELLO mr. claus
</div>

</div>
<div class='comment' id='comment_2410863'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/5064327/tiny.png?1327683103" /></div>
<div class='comment_body'>
<span class='commenter_name'>lily155</span>
OMG these r sooooo cute! i love 'em!
</div>

</div>
<div class='comment' id='comment_2413764'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/1903674/tiny.png?1293908125" /></div>
<div class='comment_body'>
<span class='commenter_name'>girlie43</span>
cool!!!!!!
</div>

</div>
<div class='comment' id='comment_2440637'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/1897551/tiny.png?1293840557" /></div>
<div class='comment_body'>
<span class='commenter_name'>songrules</span>
i love it
</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/pix/andre-gets-his-sled-on/comments?comments_page=2&amp;id=39" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_photo_292'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_photo_292'>
<a href="/pix/andre-gets-his-sled-on/likes" class="like" target="#likes_photo_292">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_photo_292'>
1,737 people like this
</div>

</div>
</div>
</div>

</div>

</div>
</li>
<li>
<div class='value comments_container photo_comments'>
<div class='comments_container list_section'>
<div class='subheader'>
<div class='comment_title'>
Comments
</div>
</div>
<div class='list_and_footer_container'>
<div class='list_container' id='photo_287_comments_list_container'>
<div class='comments' id='comments_photo_287'>

<div class='comment' id='comment_2397443'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/1929480/tiny.png?1294165329" /></div>
<div class='comment_body'>
<span class='commenter_name'>asharuby</span>
hahahahahaha
</div>

</div>
<div class='comment' id='comment_2397503'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/1894018/tiny.png?1293826237" /></div>
<div class='comment_body'>
<span class='commenter_name'>bobogirl98</span>
funny pictures

</div>

</div>
<div class='comment' id='comment_2399321'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/2867397/tiny.png?1306423251" /></div>
<div class='comment_body'>
<span class='commenter_name'>sailormoo</span>
lol i like this
</div>

</div>
<div class='comment' id='comment_2402344'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/1940315/tiny.png?1294361801" /></div>
<div class='comment_body'>
<span class='commenter_name'>Smileyguy</span>
Its SANTORI CLAUS!
</div>

</div>
<div class='comment' id='comment_2402619'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/1896362/tiny.png?1293835083" /></div>
<div class='comment_body'>
<span class='commenter_name'>nicegirl32</span>
FUNNY PICS
</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/pix/miss-claus/comments?comments_page=2&amp;id=39" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_photo_287'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_photo_287'>
<a href="/pix/miss-claus/likes" class="like" target="#likes_photo_287">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_photo_287'>
1,700 people like this
</div>

</div>
</div>
</div>

</div>

</div>
</li>
<li>
<div class='value comments_container photo_comments'>
<div class='comments_container list_section'>
<div class='subheader'>
<div class='comment_title'>
Comments
</div>
</div>
<div class='list_and_footer_container'>
<div class='list_container' id='photo_291_comments_list_container'>
<div class='comments' id='comments_photo_291'>

<div class='comment' id='comment_2421864'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/1907750/tiny.png?1293926901" /></div>
<div class='comment_body'>
<span class='commenter_name'>jade3939</span>
cool!
</div>

</div>
<div class='comment' id='comment_2425588'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/1917102/tiny.png?1294001934" /></div>
<div class='comment_body'>
<span class='commenter_name'>CapnIsha</span>
he looks adorable =)
</div>

</div>
<div class='comment' id='comment_2428172'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/2157943/tiny.png?1296674112" /></div>
<div class='comment_body'>
<span class='commenter_name'>singpiano8</span>
HA HA! Good one Cat!
</div>

</div>
<div class='comment' id='comment_2428680'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/3146287/tiny.png?1308363382" /></div>
<div class='comment_body'>
<span class='commenter_name'>mandy44u</span>
lol you are wearing tights!
</div>

</div>
<div class='comment' id='comment_2429600'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/2693869/tiny.png?1303938619" /></div>
<div class='comment_body'>
<span class='commenter_name'>gema9000</span>
awwwwwwwwwww
</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/pix/beck-goes-nuts/comments?comments_page=2&amp;id=39" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_photo_291'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_photo_291'>
<a href="/pix/beck-goes-nuts/likes" class="like" target="#likes_photo_291">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_photo_291'>
959 people like this
</div>

</div>
</div>
</div>

</div>

</div>
</li>
<li>
<div class='value comments_container photo_comments'>
<div class='comments_container list_section'>
<div class='subheader'>
<div class='comment_title'>
Comments
</div>
</div>
<div class='list_and_footer_container'>
<div class='list_container' id='photo_290_comments_list_container'>
<div class='comments' id='comments_photo_290'>

<div class='comment' id='comment_2374472'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/1806634/tiny.png?1292952442" /></div>
<div class='comment_body'>
<span class='commenter_name'>hayley1010</span>
CUTE!!!!
</div>

</div>
<div class='comment' id='comment_2381908'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/1884940/tiny.png?1293748610" /></div>
<div class='comment_body'>
<span class='commenter_name'>Tamara312</span>
HA,HA,HA,VERY FUNNY
</div>

</div>
<div class='comment' id='comment_2383794'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/1917842/tiny.png?1294005495" /></div>
<div class='comment_body'>
<span class='commenter_name'>colorcraze</span>
you rock cat you look like your dancing with an owl on your shirt
</div>

</div>
<div class='comment' id='comment_2388867'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/1889002/tiny.png?1293765734" /></div>
<div class='comment_body'>
<span class='commenter_name'>saint2001</span>
nice
</div>

</div>
<div class='comment' id='comment_2389995'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/4346421/tiny.png?1317651903" /></div>
<div class='comment_body'>
<span class='commenter_name'>Grands</span>
thts sooooo cute!!!!! and funny!
</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/pix/cat-me-having-a-ball/comments?comments_page=2&amp;id=39" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_photo_290'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_photo_290'>
<a href="/pix/cat-me-having-a-ball/likes" class="like" target="#likes_photo_290">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_photo_290'>
1,035 people like this
</div>

</div>
</div>
</div>

</div>

</div>
</li>
</ul>
</div>

</div>

</div>
<div id='content_footer'></div>
</div>
<div id='sidebar_container'>
<div id='sidebar_header'>
<div class='title'></div>
</div>
<div id='sidebar_content'>
<div class='module_container the_games'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='list_container' id='sidebar_game_container'>
<div class='game_of_months_title_container'></div>
<ul class='list game_of_months jcarousel-skin-tango'>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/7367786/small.png?1360007882')">
<div class='link default_link'><a href="/games/cats-heartbreaker-game" title="Heartbreaker Game"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/7255379/small.png?1358033925')">
<div class='link default_link'><a href="/games/sinjin-sock-hop" title="Sinjin Sock Puppet Game"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/7094958/small.png?1354921421')">
<div class='link default_link'><a href="/games/skate-with-cat-game" title="Skate with Cat promo"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/6890337/small.png?1350691328')">
<div class='link default_link'><a href="/games/jades-zombie-smasher-game" title="Jade's Zombie Smasher"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/6799490/small.png?1348611239')">
<div class='link default_link'><a href="/games/wankos-warehouse-game" title="Wanko's Warehouse"></a></div>
</li>
</ul>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

<div class='module_container the_tunes'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='sidebar_songs_container'>
<a href="/tunes#here-s-to-us" style="background-image: url(http://staticassets.www.theslap.com/images/6938293/sidebar.jpg?1352174971)">Here's 2 Us</a>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

<div class='hottest_pages module_container'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='hottest_pages_links_container'>
<a href="/profiles/tori-vega" title="Tori Vega"><img alt="Tori Vega" src="http://staticassets.www.theslap.com/unprocessed_images/146931/original.jpg?1273857395" /></a>
<a href="/profiles/andre-harris" title="Andre Harris"><img alt="Andre Harris" src="http://staticassets.www.theslap.com/unprocessed_images/146930/original.jpg?1273857393" /></a>
<a href="/profiles/trina-vega" title="Trina Vega"><img alt="Trina Vega" src="http://staticassets.www.theslap.com/unprocessed_images/146929/original.jpg?1273857392" /></a>
<a href="/profiles/robbie-shapiro" title="Robbie Shapiro"><img alt="Robbie Shapiro" src="http://staticassets.www.theslap.com/unprocessed_images/146928/original.jpg?1273857391" /></a>
<a href="/profiles/cat-valentine" title="Cat Valentine"><img alt="Cat Valentine" src="http://staticassets.www.theslap.com/unprocessed_images/146927/original.jpg?1273857390" /></a>
<a href="/profiles/beck-oliver" title="Beck Oliver"><img alt="Beck Oliver" src="http://staticassets.www.theslap.com/unprocessed_images/146926/original.jpg?1273857389" /></a>
<a href="/profiles/jade-west" title="Jade West"><img alt="Jade West" src="http://staticassets.www.theslap.com/unprocessed_images/146925/original.jpg?1273857387" /></a>
<a href="/profiles/rex-powers" title="Rex Powers"><img alt="Rex Powers" src="http://staticassets.www.theslap.com/unprocessed_images/146924/original.jpg?1273857386" /></a>
<a href="/profiles/sinjin-van-cleef" title="Sinjin Van Cleef"><img alt="Sinjin Van Cleef" src="http://staticassets.www.theslap.com/unprocessed_images/948376/original.jpg?1281388313" /></a>
<a href="/profiles/erwin-sikowitz" title="Erwin Sikowitz"><img alt="Erwin Sikowitz" src="http://staticassets.www.theslap.com/unprocessed_images/1219697/original.jpg?1284055516" /></a>
<a href="/profiles/lane-alexander" title="Lane Alexander"><img alt="Lane Alexander" src="http://staticassets.www.theslap.com/unprocessed_images/4108536/original.png?1314733249" /></a>
<a href="/profiles/festus" title="Festus"><img alt="Festus" src="http://staticassets.www.theslap.com/unprocessed_images/5635405/original.jpg?1334777370" /></a>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

</div>
<div id='sidebar_footer'></div>

</div>
</div>
<div id='body_shadow_right'></div>
</div>
<div id='body_shadow_bottom'></div>
<div id='footer_container'>
<div id='footer'>
<div id='footer_nav'>
<div class='link_block top_links'>
<a href="/">THE SLAP HOME</a>
<a href="/bump?to=%2Ffaq">FAQ/ABOUT US</a>
</div>
<div class='link_block'>
<a href="/">HOME</a>
<a href="/bump?to=%2Fprofiles">PROFILES</a>
<a href="/bump?to=%2Fclips">CLIPS</a>
<a href="/bump?to=%2Fpix">PIX</a>
<a href="/bump?to=%2Ftunes">TUNES</a>
<a href="/bump?to=%2Fgames">GAMES</a>
</div>
<div class='link_block'>
<a href="http://www.nick.com/info/privacy-policy.html" rel="external">Privacy Policy/Your California Privacy Rights</a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com%2Finfo%2Fterms-of-use.html" rel="external">Terms of Use</a>
</div>
<div class='link_block'>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com%2Finfo%2Fcopyright.html" rel="external">Copyright Compliance Policy</a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com%2Finfo%2Fsafety-guide.html" rel="external">Safety Guide</a>
</div>
<div class='link_block'>
<a href="/bump?to=http%3A%2F%2Fsrp.mtvn.com%2Fsitefaq.html" class="viacom" rel="external">Ad Choices</a>
</div>
<div class='link_block'>
&copy; Copyright 2013 Viacom International Inc. All Rights Reserved
</div>
<div class='link_block'>
<div class='friends_title'>
Friends of Victorious
</div>
<div class='friends_container'>
<a href="/bump?to=http%3A%2F%2Fwww.icarly.com"><img alt="SplashFace" src="/images/friends/logo_splashface.gif?1269720656" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.icarly.com"><img alt="iCarly" src="/images/friends/logo_icarly.png?1269720656" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com"><img alt="Nick" src="/images/friends/logo_nick_com.png?1269720656" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com"><img alt="Nickelodean Kids &amp; Teens" src="/images/friends/logo_nick_kids_teens.gif?1269720656" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.icarly.com"><img alt="SplashFace" src="/images/friends/logo_zaplook.gif?1269720656" /></a>
</div>
</div>
</div>

</div>
</div>
</div>

</body>
</html>


