
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

                
        



<html xmlns:esi='http://www.edge-delivery.org/esi/1.0' xmlns='http://www.w3.org/1999/xhtml'>
<head>
<title>
The Boys at Ballet! Ha! (Rex's Gallery) | TheSlap | Hollywood Arts' Victorious
</title>
<meta content="Yep, it's exactly what you think. Boys and ballet! Ha!" name='description' />

<link href='/images/favicon.ico' rel='shortcut icon' type='image/x-icon' />
<script src="/javascripts/bundled/theslap.js?1298056343" type="text/javascript"></script>
<link href="/stylesheets/bundled/theslap.css?1300040458" media="screen" rel="stylesheet" type="text/css" />
<script src="/javascripts/jquery/jquery.galleria.js?1271602892" type="text/javascript"></script>
<script src="/javascripts/photo.js?1277778572" type="text/javascript"></script><script src="/javascripts/bundled/assets.js?1299515469" type="text/javascript"></script>
<script src="/javascripts/videos_and_photos.js?1269378793" type="text/javascript"></script>
<script src="/javascripts/video_and_photo_lists.js?1276628144" type="text/javascript"></script>


<!--[if lt IE 7]>
<link href="/stylesheets/compiled/ie.css?1300040455" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if lt IE 8]>
<link href="/stylesheets/compiled/ie7.css?1300040458" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->

</head>
<body class='bp photo_page photo_playlists'>

<div id='body_container'>
<div id='header_container'>
<div id='header'>
<div id='nav_adornment'></div>
<script type='text/javascript'>
  //<![CDATA[
    var user_menu_template = "    <ul>\n      <% try { %>\n        <li class=\"first\">Hello: <span class=\"user_name\"><%= user.username %><\/span><\/li>\n        <li><a href=\"/my/profile\">My profile<\/a><\/li>\n\n        <% if(user.admin) { %>\n          <li><a href=\"/admin/dashboard\">Admin dashboard<\/a><\/li>\n          <li><a href=\"/\">View site<\/a><\/li>\n        <% } %>\n        <li class=\"last\"><a href=\"/users/logout?return_to_after_logged_out=%2Fgalleries%2F7%2Fslideshow\">Logout<\/a><\/li>\n      <% } catch(err) { %>\n        <li><a href=\"/register\">Register<\/a><\/li>\n        <li class=\"last\"><a href=\"/users/login?return_to_if_logged_out=%2Fgalleries%2F7%2Fslideshow\" id=\"login_link\">Login<\/a><\/li>\n      <% } %>\n    <\/ul>\n";
  //]]>
</script>

<div id='user_menu'>
<noscript>
<h3 class='no_javascript_warning'>
Javascript is required to use TheSlap. Please enable Javascript and reload this page.
</h3>
</noscript>
</div>

<div id='logo'>
<a href='/'>
<object data='/swf/slap_logo.swf' height='103' id='slap_animation' type='application/x-shockwave-flash' width='327'>
<param name='wmode' value='transparent' />
<param name='movie' value='/swf/slap_logo.swf' />
<img alt='The Slap' src='/images/themes/default/home_logo.png' />
</object>
</a>
</div>
<div id='nav'>
<ul>
<li class='home first'><a href="/">Home</a></li>
<li class='characters'><a href="/profiles">Profiles</a></li>
<li class='videos'><a href="/clips?newest=true">Clips</a></li>
<li class='photos'><a href="/pix?newest=true">Pix</a></li>
<li class='songs'><a href="/tunes">Tunes</a></li>
<li class='games'><a href="/games">Games</a></li>
<li class='search last'><div id='search'>
<form action="/search" method="get">

<input class="search_field" id="q" name="q" placeholder="enter text here" size="15" type="text" />
<button id='search_button' type='submit'>
Search
</button>
</form>
</div>
</li>
</ul>
<div id='nav_bar_right_cap'></div>
</div>

</div>
</div>
<div id='main_container'>
<div id='body_shadow_top'></div>
<div id='body_shadow_left'></div>
<div id='main'>
<div id='content_container'>
<div id='content_callout_container'>
<div id='content_callout_tab'></div>
<div id='content_callout'>
<div id='banner_ad'>
<script type='text/javascript'>
  //<![CDATA[
    mtvn.btg.Controller.placeAd({size:'728x90',contentType:"adi",keyValues:"!category=expand;!category=vic",sections:zone});
  //]]>
</script>
</div>
</div>
</div>
<div id='content_header'>
<h1>The Pix</h1>
<div id='header_controls'><div class='also_see_container'><a href="/pix?newest=true">See All Galleries</a></div>
</div>

</div>
<div class='photo' id='content'>

<div id='content_top'><div class='fancy_info_block info_header'>
<div class='row playlist'>
<h2 class='label'>Gallery:</h2>
<h2 class='value'><a href="/pix?playlist=7">The Boys at Ballet! Ha! (Rex's Gallery) -- see all pix in this gallery</a></h2>
</div>
<div class='row title'>
<h2 class='label'>You're Watching:</h2>
<h2 class='value'>The Boys at Ballet! Ha! (Rex's Gallery)</h2>
</div>
<div class='row description'>
<h2 class='label'>In This Photo:</h2>
<h2 class='value'>Yep, it's exactly what you think. Boys and ballet! Ha!</h2>
</div>
</div>
<div class='photo_section_container'>
<div id='img'></div>
<ul class='all_actions_list'>
<li>
<div class='value actions_container photo_actions'>
<div class='asset_actions' id='photo_47_asset_actions'>

<span id='photo_47_favorite'>
<a href="/pix/boys-in-tights/favorites.js" class="add_favorite" title="Add to my page">Add to my page</a>

</span>

<span id='photo_47_send_to_friend'>
<a href="/pix/boys-in-tights/send_to_friend/new" class="send_to_friend" title="Send to friend">Send to friend</a>
</span>


</div>

</div>
</li>
<li>
<div class='value actions_container photo_actions'>
<div class='asset_actions' id='photo_46_asset_actions'>

<span id='photo_46_favorite'>
<a href="/pix/ballet-bites/favorites.js" class="add_favorite" title="Add to my page">Add to my page</a>

</span>

<span id='photo_46_send_to_friend'>
<a href="/pix/ballet-bites/send_to_friend/new" class="send_to_friend" title="Send to friend">Send to friend</a>
</span>


</div>

</div>
</li>
<li>
<div class='value actions_container photo_actions'>
<div class='asset_actions' id='photo_45_asset_actions'>

<span id='photo_45_favorite'>
<a href="/pix/me-and-rob/favorites.js" class="add_favorite" title="Add to my page">Add to my page</a>

</span>

<span id='photo_45_send_to_friend'>
<a href="/pix/me-and-rob/send_to_friend/new" class="send_to_friend" title="Send to friend">Send to friend</a>
</span>


</div>

</div>
</li>
<li>
<div class='value actions_container photo_actions'>
<div class='asset_actions' id='photo_44_asset_actions'>

<span id='photo_44_favorite'>
<a href="/pix/robbie-and-me/favorites.js" class="add_favorite" title="Add to my page">Add to my page</a>

</span>

<span id='photo_44_send_to_friend'>
<a href="/pix/robbie-and-me/send_to_friend/new" class="send_to_friend" title="Send to friend">Send to friend</a>
</span>


</div>

</div>
</li>
<li>
<div class='value actions_container photo_actions'>
<div class='asset_actions' id='photo_42_asset_actions'>

<span id='photo_42_favorite'>
<a href="/pix/hot-ballet-chick/favorites.js" class="add_favorite" title="Add to my page">Add to my page</a>

</span>

<span id='photo_42_send_to_friend'>
<a href="/pix/hot-ballet-chick/send_to_friend/new" class="send_to_friend" title="Send to friend">Send to friend</a>
</span>


</div>

</div>
</li>
</ul>
<ul class='gallery jcarousel-skin-tango'>
<div class='photo_index'></div>
<li>
<a href="http://staticassets.www.theslap.com/images/34093/large.jpg?1270953349"><img alt="Thumb" height="40" src="http://staticassets.www.theslap.com/images/34093/thumb.jpg?1270953349" width="52" />
</a></li>
<li>
<a href="http://staticassets.www.theslap.com/images/34092/large.jpg?1270953306"><img alt="Thumb" height="40" src="http://staticassets.www.theslap.com/images/34092/thumb.jpg?1270953306" width="52" />
</a></li>
<li>
<a href="http://staticassets.www.theslap.com/images/34091/large.jpg?1270953261"><img alt="Thumb" height="40" src="http://staticassets.www.theslap.com/images/34091/thumb.jpg?1270953261" width="52" />
</a></li>
<li>
<a href="http://staticassets.www.theslap.com/images/34085/large.jpg?1270953097"><img alt="Thumb" height="40" src="http://staticassets.www.theslap.com/images/34085/thumb.jpg?1270953097" width="52" />
</a></li>
<li>
<a href="http://staticassets.www.theslap.com/images/34079/large.jpg?1270953040"><img alt="Thumb" height="40" src="http://staticassets.www.theslap.com/images/34079/thumb.jpg?1270953040" width="52" />
</a></li>
</ul>

</div>
<script type='text/javascript'>
  //<![CDATA[
    var defaultImagePath = "http://staticassets.www.theslap.com/images/34093/large.jpg?1270953349"
    var metaData = [{"title":"Boys in Tights","description":"Wow, this is me and my boy Andre. We look GOOD in tights. Robbie doesn't, which is why I cut him out of the pic!"},{"title":"Ballet Bites","description":"I would have slapped these jokers in the ears if my arms weren't sore from doing the ballet moves.\u00a0"},{"title":"Me and Rob","description":"Me and Rob had to drive all the way to the valley to get me these shoes from Teeny Ballerina. I got a free pink tutu if anybody wants it."},{"title":"Robbie and Me\u00a0","description":"This is what we look like when we're not stuffing ourselves into tights! Pretty good, huh ladies?"},{"title":"Hot Ballet Chick!","description":"If this girl knew her ballet class would be full of sweaty dudes, she would have taken Woodshop instead -- which by the way is a class I don't approve of (saws freak me out)."}]
  //]]>
</script>

</div>
<div id='content_bottom'>
<div id='col_secondary'><div id='block_ad_container'>
<div id='block_ad_tab'>
<div class='title'>
advertisement
</div>
</div>
<div id='block_ad'>
<script type='text/javascript'>
  //<![CDATA[
    mtvn.btg.Controller.placeAd({size:'300x250',contentType:"adi",keyValues:"!category=expand;!category=vic",sections:zone})
  //]]>
</script>
</div>
</div>

</div>
<div id='col_primary'><div class='fancy_info_block info_footer'>
<div class='row uploaded_by'>
<h2 class='label'>Photo Added By:</h2>
<h2 class='value'><a href="/profiles/rex-powers">Rex Powers</a></h2>
</div>
<div class='row playlist_created_by'>
</div>
<div class='row slapped'>
<h2 class='label'>Who is Slapped:</h2>
<ul class='all_slapped_list'>
<li>
<div class='value slapped_container slapped_thumbnails'>
<div>
<a href="/pix?slapped=1"><img alt="Andre Harris" src="http://staticassets.www.theslap.com/square_profile_images/33/medium.png?1295478655" /></a>
<br />
<strong>
<a href="/pix?slapped=1" title="Andre Harris">Andre</a>
</strong>
</div>
<div>
<a href="/pix?slapped=5"><img alt="Rex Powers" src="http://staticassets.www.theslap.com/square_profile_images/53/medium.jpg?1269736637" /></a>
<br />
<strong>
<a href="/pix?slapped=5" title="Rex Powers">Rex</a>
</strong>
</div>

</div>
</li>
<li>
<div class='value slapped_container slapped_thumbnails'>
<div>
<a href="/pix?slapped=6"><img alt="Robbie Shapiro" src="http://staticassets.www.theslap.com/square_profile_images/58/medium.jpg?1269736640" /></a>
<br />
<strong>
<a href="/pix?slapped=6" title="Robbie Shapiro">Robbie</a>
</strong>
</div>
<div>
<a href="/pix?slapped=1"><img alt="Andre Harris" src="http://staticassets.www.theslap.com/square_profile_images/33/medium.png?1295478655" /></a>
<br />
<strong>
<a href="/pix?slapped=1" title="Andre Harris">Andre</a>
</strong>
</div>
<div>
<a href="/pix?slapped=5"><img alt="Rex Powers" src="http://staticassets.www.theslap.com/square_profile_images/53/medium.jpg?1269736637" /></a>
<br />
<strong>
<a href="/pix?slapped=5" title="Rex Powers">Rex</a>
</strong>
</div>
<div>
<a href="/pix?slapped=4"><img alt="Beck Oliver" src="http://staticassets.www.theslap.com/square_profile_images/48/medium.jpg?1269736634" /></a>
<br />
<strong>
<a href="/pix?slapped=4" title="Beck Oliver">Beck</a>
</strong>
</div>
<div>
<a href="/pix?slapped=6"><img alt="Robbie Shapiro" src="http://staticassets.www.theslap.com/square_profile_images/58/medium.jpg?1269736640" /></a>
<br />
<strong>
<a href="/pix?slapped=6" title="Robbie Shapiro">Robbie</a>
</strong>
</div>
<div>
<a href="/pix?slapped=9"><img alt="Sinjin Van Cleef" src="http://staticassets.www.theslap.com/square_profile_images/241997/medium.png?1295477173" /></a>
<br />
<strong>
<a href="/pix?slapped=9" title="Sinjin Van Cleef">Sinjin</a>
</strong>
</div>

</div>
</li>
<li>
<div class='value slapped_container slapped_thumbnails'>
<div>
<a href="/pix?slapped=5"><img alt="Rex Powers" src="http://staticassets.www.theslap.com/square_profile_images/53/medium.jpg?1269736637" /></a>
<br />
<strong>
<a href="/pix?slapped=5" title="Rex Powers">Rex</a>
</strong>
</div>
<div>
<a href="/pix?slapped=6"><img alt="Robbie Shapiro" src="http://staticassets.www.theslap.com/square_profile_images/58/medium.jpg?1269736640" /></a>
<br />
<strong>
<a href="/pix?slapped=6" title="Robbie Shapiro">Robbie</a>
</strong>
</div>

</div>
</li>
<li>
<div class='value slapped_container slapped_thumbnails'>
<div>
<a href="/pix?slapped=6"><img alt="Robbie Shapiro" src="http://staticassets.www.theslap.com/square_profile_images/58/medium.jpg?1269736640" /></a>
<br />
<strong>
<a href="/pix?slapped=6" title="Robbie Shapiro">Robbie</a>
</strong>
</div>
<div>
<a href="/pix?slapped=5"><img alt="Rex Powers" src="http://staticassets.www.theslap.com/square_profile_images/53/medium.jpg?1269736637" /></a>
<br />
<strong>
<a href="/pix?slapped=5" title="Rex Powers">Rex</a>
</strong>
</div>
<div>
<a href="/pix?slapped=8"><img alt="Jade West" src="http://staticassets.www.theslap.com/square_profile_images/68/medium.png?1295476910" /></a>
<br />
<strong>
<a href="/pix?slapped=8" title="Jade West">Jade</a>
</strong>
</div>
<div>
<a href="/pix?slapped=6"><img alt="Robbie Shapiro" src="http://staticassets.www.theslap.com/square_profile_images/58/medium.jpg?1269736640" /></a>
<br />
<strong>
<a href="/pix?slapped=6" title="Robbie Shapiro">Robbie</a>
</strong>
</div>
<div>
<a href="/pix?slapped=9"><img alt="Sinjin Van Cleef" src="http://staticassets.www.theslap.com/square_profile_images/241997/medium.png?1295477173" /></a>
<br />
<strong>
<a href="/pix?slapped=9" title="Sinjin Van Cleef">Sinjin</a>
</strong>
</div>
<div>
<a href="/pix?slapped=3"><img alt="Tori Vega" src="http://staticassets.www.theslap.com/square_profile_images/43/medium.jpg?1269736632" /></a>
<br />
<strong>
<a href="/pix?slapped=3" title="Tori Vega">Tori</a>
</strong>
</div>
<div>
<a href="/pix?slapped=2"><img alt="Trina Vega" src="http://staticassets.www.theslap.com/square_profile_images/38/medium.jpg?1269736627" /></a>
<br />
<strong>
<a href="/pix?slapped=2" title="Trina Vega">Trina</a>
</strong>
</div>

</div>
</li>
<li>
<div class='value slapped_container slapped_thumbnails'>

</div>
</li>
</ul>
</div>
</div>
<ul class='all_comments_list'>
<li>
<div class='value comments_container photo_comments'>
<div class='comments_container list_section'>
<div class='subheader'>
<div class='comment_title'>
Comments
</div>
</div>
<div class='list_and_footer_container'>
<div class='list_container' id='photo_47_comments_list_container'>
<div class='comments' id='comments_photo_47'>
<div class='comment_action' id='comment_action_photo_47'>
<a href="/pix/boys-in-tights/comments/new" class="new_comment" target="#form_container_photo_47">Comment</a>
</div>

<div class='comment' id='comment_95163'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/39340/tiny.png?1271044263" /></div>
<div class='comment_body'>
<span class='commenter_name'>kay3</span>
boys in tights are just creepy but u got my attention
</div>

</div>
<div class='comment' id='comment_97662'>
<div class='photo'></div>
<div class='comment_body'>
<span class='commenter_name'>MAGICALTA</span>
AHAHAHAHHA WOW?

</div>

</div>
<div class='comment' id='comment_162903'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/63754/tiny.png?1271648369" /></div>
<div class='comment_body'>
<span class='commenter_name'>antluv13</span>
nice
</div>

</div>
<div class='comment' id='comment_163063'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/69770/tiny.png?1271817967" /></div>
<div class='comment_body'>
<span class='commenter_name'>atirqa</span>
dude, really, TIGHTS?
</div>

</div>
<div class='comment' id='comment_165073'>
<div class='photo'></div>
<div class='comment_body'>
<span class='commenter_name'>superbabex</span>
i dont think all guys are creepy in tights... you guys loook goooood (:
</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/pix/boys-in-tights/comments?comments_page=2&amp;id=7" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_photo_47'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_photo_47'>
<a href="/pix/boys-in-tights/likes" class="like" target="#likes_photo_47">I like this</a>
</div>

<div class='comment_action_icon'></div>
<div class='comment_action' id='comment_action_photo_47'>
<a href="/pix/boys-in-tights/comments/new" class="new_comment" target="#form_container_photo_47">Comment</a>
</div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_photo_47'>
2,569 people like this
</div>

</div>
</div>
</div>

</div>

</div>
</li>
<li>
<div class='value comments_container photo_comments'>
<div class='comments_container list_section'>
<div class='subheader'>
<div class='comment_title'>
Comments
</div>
</div>
<div class='list_and_footer_container'>
<div class='list_container' id='photo_46_comments_list_container'>
<div class='comments' id='comments_photo_46'>
<div class='comment_action' id='comment_action_photo_46'>
<a href="/pix/ballet-bites/comments/new" class="new_comment" target="#form_container_photo_46">Comment</a>
</div>

<div class='comment' id='comment_309481'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/108521/tiny.png?1272890882" /></div>
<div class='comment_body'>
<span class='commenter_name'>jodan2248</span>
:) ha 
</div>

</div>
<div class='comment' id='comment_309770'>
<div class='photo'></div>
<div class='comment_body'>
<span class='commenter_name'>Bennac</span>
I wanna hear your song about volcancit ash
</div>

</div>
<div class='comment' id='comment_373746'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/201205/tiny.png?1274462663" /></div>
<div class='comment_body'>
<span class='commenter_name'>izzyrox14</span>
lol! rex u look funny!!haha
</div>

</div>
<div class='comment' id='comment_373774'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/261066/tiny.png?1275265557" /></div>
<div class='comment_body'>
<span class='commenter_name'>rexfan1245</span>
ha ha
</div>

</div>
<div class='comment' id='comment_748769'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/421157/tiny.png?1276528327" /></div>
<div class='comment_body'>
<span class='commenter_name'>tileatha</span>
LOL
</div>

</div>




<div class='comment_form_container' id='form_container_photo_46'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_photo_46'>
<a href="/pix/ballet-bites/likes" class="like" target="#likes_photo_46">I like this</a>
</div>

<div class='comment_action_icon'></div>
<div class='comment_action' id='comment_action_photo_46'>
<a href="/pix/ballet-bites/comments/new" class="new_comment" target="#form_container_photo_46">Comment</a>
</div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_photo_46'>
4,244 people like this
</div>

</div>
</div>
</div>

</div>

</div>
</li>
<li>
<div class='value comments_container photo_comments'>
<div class='comments_container list_section'>
<div class='subheader'>
<div class='comment_title'>
Comments
</div>
</div>
<div class='list_and_footer_container'>
<div class='list_container' id='photo_45_comments_list_container'>
<div class='comments' id='comments_photo_45'>
<div class='comment_action' id='comment_action_photo_45'>
<a href="/pix/me-and-rob/comments/new" class="new_comment" target="#form_container_photo_45">Comment</a>
</div>

<div class='comment' id='comment_97518'>
<div class='photo'></div>
<div class='comment_body'>
<span class='commenter_name'>LAYLAY1020</span>
STRANGE
</div>

</div>
<div class='comment' id='comment_164963'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/1904824/tiny.png?1293913957" /></div>
<div class='comment_body'>
<span class='commenter_name'>PeaceLoveB</span>
I'll take the tutu! 
</div>

</div>
<div class='comment' id='comment_164979'>
<div class='photo'></div>
<div class='comment_body'>
<span class='commenter_name'>hulk</span>
thats a lil strange
</div>

</div>
<div class='comment' id='comment_165283'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/1904824/tiny.png?1293913957" /></div>
<div class='comment_body'>
<span class='commenter_name'>PeaceLoveB</span>
i &lt;3 Sikowitz 
</div>

</div>




<div class='comment_form_container' id='form_container_photo_45'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_photo_45'>
<a href="/pix/me-and-rob/likes" class="like" target="#likes_photo_45">I like this</a>
</div>

<div class='comment_action_icon'></div>
<div class='comment_action' id='comment_action_photo_45'>
<a href="/pix/me-and-rob/comments/new" class="new_comment" target="#form_container_photo_45">Comment</a>
</div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_photo_45'>
3,379 people like this
</div>

</div>
</div>
</div>

</div>

</div>
</li>
<li>
<div class='value comments_container photo_comments'>
<div class='comments_container list_section'>
<div class='subheader'>
<div class='comment_title'>
Comments
</div>
</div>
<div class='list_and_footer_container'>
<div class='list_container' id='photo_44_comments_list_container'>
<div class='comments' id='comments_photo_44'>
<div class='comment_action' id='comment_action_photo_44'>
<a href="/pix/robbie-and-me/comments/new" class="new_comment" target="#form_container_photo_44">Comment</a>
</div>

<div class='comment' id='comment_95203'>
<div class='photo'></div>
<div class='comment_body'>
<span class='commenter_name'>robbie22</span>
hey Robbie. i know you look so much better then Rex. Hez not as talented as you.
</div>

</div>
<div class='comment' id='comment_162675'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/63514/tiny.png?1271646280" /></div>
<div class='comment_body'>
<span class='commenter_name'>Bluekit</span>
lol
</div>

</div>
<div class='comment' id='comment_163037'>
<div class='photo'></div>
<div class='comment_body'>
<span class='commenter_name'>sofia12345</span>
yes you do look better then rex
</div>

</div>
<div class='comment' id='comment_165375'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/64684/tiny.png?1271700355" /></div>
<div class='comment_body'>
<span class='commenter_name'>TrinaCat</span>
I actually like u better then Rex!
</div>

</div>
<div class='comment' id='comment_309854'>
<div class='photo'></div>
<div class='comment_body'>
<span class='commenter_name'>tay8200</span>
REX IS AWESOME
</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/pix/robbie-and-me/comments?comments_page=2&amp;id=7" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_photo_44'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_photo_44'>
<a href="/pix/robbie-and-me/likes" class="like" target="#likes_photo_44">I like this</a>
</div>

<div class='comment_action_icon'></div>
<div class='comment_action' id='comment_action_photo_44'>
<a href="/pix/robbie-and-me/comments/new" class="new_comment" target="#form_container_photo_44">Comment</a>
</div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_photo_44'>
2,351 people like this
</div>

</div>
</div>
</div>

</div>

</div>
</li>
<li>
<div class='value comments_container photo_comments'>
<div class='comments_container list_section'>
<div class='subheader'>
<div class='comment_title'>
Comments
</div>
</div>
<div class='list_and_footer_container'>
<div class='list_container' id='photo_42_comments_list_container'>
<div class='comments' id='comments_photo_42'>
<div class='comment_action' id='comment_action_photo_42'>
<a href="/pix/hot-ballet-chick/comments/new" class="new_comment" target="#form_container_photo_42">Comment</a>
</div>





<div class='comment_form_container' id='form_container_photo_42'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_photo_42'>
<a href="/pix/hot-ballet-chick/likes" class="like" target="#likes_photo_42">I like this</a>
</div>

<div class='comment_action_icon'></div>
<div class='comment_action' id='comment_action_photo_42'>
<a href="/pix/hot-ballet-chick/comments/new" class="new_comment" target="#form_container_photo_42">Comment</a>
</div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_photo_42'>
685 people like this
</div>

</div>
</div>
</div>

</div>

</div>
</li>
</ul>
</div>

</div>

</div>
<div id='content_footer'></div>
</div>
<div id='sidebar_container'>
<div id='sidebar_header'>
<div class='title'></div>
</div>
<div id='sidebar_content'>
<div class='module_container the_games'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='list_container' id='sidebar_game_container'>
<div class='game_of_months_title_container'></div>
<ul class='list game_of_months jcarousel-skin-tango'>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/2291773/small.png?1298511142')">
<div class='link default_link'><a href="/games/toris-mustache-bash" title="Tori's Mustache Bash"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/2173457/small.png?1296864453')">
<div class='link default_link'><a href="/games/diddly-bops-food-drop" title="Diddly Bops Game Promo"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/1857142/small.png?1293523083')">
<div class='link default_link'><a href="/games/cookie-wrap" title="TheSlap Cookie Wrap"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/1696694/small.png?1291426056')">
<div class='link default_link'><a href="/games/freak-the-freak-out-confused-karaoke" title="Freak the Freak Out Confused Karaoke!"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/1442585/small.png?1287435653')">
<div class='link default_link'><a href="/games/ditch-the-fish" title="Ditch the Fish Promo"></a></div>
</li>
</ul>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

<div class='module_container the_tunes'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='sidebar_songs_container'>
<a href="/tunes#song-to-you" style="background-image: url(http://staticassets.www.theslap.com/images/2038304/sidebar.png?1295312876)">Song2You</a>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

<div class='hottest_pages module_container'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='hottest_pages_links_container'>
<a href="/profiles/tori-vega" title="Tori's Profile"><img alt="Tori's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146931/original.jpg?1273857395" /></a>
<a href="/profiles/andre-harris" title="Andre's Profile"><img alt="Andre's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146930/original.jpg?1273857393" /></a>
<a href="/profiles/trina-vega" title="Trina's Profile"><img alt="Trina's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146929/original.jpg?1273857392" /></a>
<a href="/profiles/robbie-shapiro" title="Robbie's Profile"><img alt="Robbie's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146928/original.jpg?1273857391" /></a>
<a href="/profiles/cat-valentine" title="Cat's Profile"><img alt="Cat's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146927/original.jpg?1273857390" /></a>
<a href="/profiles/beck-oliver" title="Beck's Profile"><img alt="Beck's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146926/original.jpg?1273857389" /></a>
<a href="/profiles/jade-west" title="Jade's Profile"><img alt="Jade's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146925/original.jpg?1273857387" /></a>
<a href="/profiles/rex-powers" title="Rex's Profile"><img alt="Rex's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146924/original.jpg?1273857386" /></a>
<a href="/profiles/sinjin-van-cleef" title="Sinjin's Profile Page"><img alt="Sinjin's Profile Page" src="http://staticassets.www.theslap.com/unprocessed_images/948376/original.jpg?1281388313" /></a>
<a href="/profiles/erwin-sikowitz" title="Sikowitz Hot Pages"><img alt="Sikowitz Hot Pages" src="http://staticassets.www.theslap.com/unprocessed_images/1219697/original.jpg?1284055516" /></a>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

</div>
<div id='sidebar_footer'></div>

</div>
</div>
<div id='body_shadow_right'></div>
</div>
<div id='body_shadow_bottom'></div>
<div id='footer_container'>
<div id='footer'>
<div id='footer_nav'>
<div class='link_block top_links'>
<a href="/">THE SLAP HOME</a>
<a href="/faq">FAQ/ABOUT US</a>
</div>
<div class='link_block'>
<a href="/">HOME</a>
<a href="/profiles">PROFILES</a>
<a href="/clips">CLIPS</a>
<a href="/pix">PIX</a>
<a href="/tunes">TUNES</a>
<a href="/games">GAMES</a>
</div>
<div class='link_block'>
<a href="http://www.nick.com/info/privacy-policy.html" rel="external">Privacy Policy/Your California Privacy Rights</a>
<a href="http://www.nick.com/info/terms-of-use.html" rel="external">Terms of Use</a>
</div>
<div class='link_block'>
<a href="http://www.nick.com/info/copyright.html" rel="external">Copyright Compliance Policy</a>
<a href="http://www.nick.com/info/safety-guide.html" rel="external">Safety Guide</a>
</div>
<div class='link_block'>
<a href="http://srp.mtvn.com/sitefaq.html" class="viacom" rel="external">Ad Choices</a>
</div>
<div class='link_block'>
&copy; Copyright 2011 Viacom International Inc. All Rights Reserved
</div>
<div class='link_block'>
<div class='friends_title'>
Friends of Victorious
</div>
<div class='friends_container'>
<a href="http://www.icarly.com"><img alt="SplashFace" src="/images/friends/logo_splashface.gif?1269720656" /></a>
<a href="http://www.icarly.com"><img alt="iCarly" src="/images/friends/logo_icarly.png?1269720656" /></a>
<a href="http://www.nick.com"><img alt="Nick" src="/images/friends/logo_nick_com.png?1269720656" /></a>
<a href="http://www.nick.com"><img alt="Nickelodean Kids &amp; Teens" src="/images/friends/logo_nick_kids_teens.gif?1269720656" /></a>
<a href="http://www.icarly.com"><img alt="SplashFace" src="/images/friends/logo_zaplook.gif?1269720656" /></a>
</div>
</div>
</div>

</div>
</div>
</div>
</body>
</html>


