
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

                
        



<html xmlns:esi='http://www.edge-delivery.org/esi/1.0' xmlns='http://www.w3.org/1999/xhtml'>
<head>
<title>
TheSlap | Hollywood Arts' Victorious - The Games
</title>
<script type='text/javascript'>
  //<![CDATA[
    var prop4 = 'Tori\'s Mustache Bash';
  //]]>
</script>


<link href='/images/favicon.ico' rel='shortcut icon' type='image/x-icon' />
<script src="/javascripts/bundled/theslap.js?1298056343" type="text/javascript"></script>
<link href="/stylesheets/bundled/theslap.css?1299187489" media="screen" rel="stylesheet" type="text/css" />
<script src="/javascripts/bundled/assets.js?1269378793" type="text/javascript"></script>


<!--[if lt IE 7]>
<link href="/stylesheets/compiled/ie.css?1299187487" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if lt IE 8]>
<link href="/stylesheets/compiled/ie7.css?1299187489" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->

</head>
<body class='bp game_page games'>

<div id='body_container'>
<div id='header_container'>
<div id='header'>
<div id='nav_adornment'></div>
<script type='text/javascript'>
  //<![CDATA[
    var user_menu_template = "    <ul>\n      <% try { %>\n        <li class=\"first\">Hello: <span class=\"user_name\"><%= user.username %><\/span><\/li>\n        <li><a href=\"/my/profile\">My profile<\/a><\/li>\n\n        <% if(user.admin) { %>\n          <li><a href=\"/admin/dashboard\">Admin dashboard<\/a><\/li>\n          <li><a href=\"/\">View site<\/a><\/li>\n        <% } %>\n        <li class=\"last\"><a href=\"/users/logout?return_to_after_logged_out=%2Fgames%2Ftoris-mustache-bash\">Logout<\/a><\/li>\n      <% } catch(err) { %>\n        <li><a href=\"/register\">Register<\/a><\/li>\n        <li class=\"last\"><a href=\"/users/login?return_to_if_logged_out=%2Fgames%2Ftoris-mustache-bash\" id=\"login_link\">Login<\/a><\/li>\n      <% } %>\n    <\/ul>\n";
  //]]>
</script>

<div id='user_menu'>
<noscript>
<h3 class='no_javascript_warning'>
Javascript is required to use TheSlap. Please enable Javascript and reload this page.
</h3>
</noscript>
</div>

<div id='logo'>
<a href='/'>
<object data='/swf/slap_logo.swf' height='103' id='slap_animation' type='application/x-shockwave-flash' width='327'>
<param name='wmode' value='transparent' />
<param name='movie' value='/swf/slap_logo.swf' />
<img alt='The Slap' src='/images/themes/default/home_logo.png' />
</object>
</a>
</div>
<div id='nav'>
<ul>
<li class='home first'><a href="/">Home</a></li>
<li class='characters'><a href="/profiles">Profiles</a></li>
<li class='videos'><a href="/clips?newest=true">Clips</a></li>
<li class='photos'><a href="/pix?newest=true">Pix</a></li>
<li class='songs'><a href="/tunes">Tunes</a></li>
<li class='games'><a href="/games">Games</a></li>
<li class='search last'><div id='search'>
<form action="/search" method="get">

<input class="search_field" id="q" name="q" placeholder="enter text here" size="15" type="text" />
<button id='search_button' type='submit'>
Search
</button>
</form>
</div>
</li>
</ul>
<div id='nav_bar_right_cap'></div>
</div>

</div>
</div>
<div id='main_container'>
<div id='body_shadow_top'></div>
<div id='body_shadow_left'></div>
<div id='main'>
<div id='content_container'>
<div id='content_callout_container'>
<div id='content_callout_tab'></div>
<div id='content_callout'>
<div id='banner_ad'>
<script type='text/javascript'>
  //<![CDATA[
    mtvn.btg.Controller.placeAd({size:'728x90',contentType:"adi",keyValues:"!category=expand;!category=vic",sections:zone});
  //]]>
</script>
</div>
</div>
</div>
<div id='content_header'>
<h1>The Games</h1>
<div id='header_controls'><div class='also_see_container'><a href="/games?newest=true">See All Games</a></div>
</div>

</div>
<div class='game' id='content'>

<div id='content_top'><div class='game_header_section'>
<div class='list_container'>
<ul class='list'>
<li class='item title'>
<div class='label_container'>
<div class='game_title_label'>
You're Playing
</div>
</div>
<h2 class='game_title'>Tori's Mustache Bash</h2>
</li>
<li class='item description'>
<div class='label_container'>
<div class='game_description_label'>
In this Game
</div>
</div>
<h2 class='game_description'>Everyone loves mustaches... so we figure everyone will love our new mustache game! Give it a whirl!</h2>
</li>
<li class='actions'>
<div class='asset_actions' id='game_355_asset_actions'>

<span id='game_355_favorite'>
<a href="/games/toris-mustache-bash/favorites.js" class="add_favorite" title="Add to my page">Add to my page</a>

</span>

<span id='game_355_send_to_friend'>
<a href="/games/toris-mustache-bash/send_to_friend/new" class="send_to_friend" title="Send to friend">Send to friend</a>
</span>


</div>

</li>
</ul>
</div>
</div>
<div class='game_container' id='game_container'>
<script src="http://games.mtvnservices.com/scripts/mtvn_game_ad_loader.1.2.3.js" type="text/javascript"></script>
<script type='text/javascript'>
  //<![CDATA[
    var gamePlayer = new GamePlayer(); 
    gamePlayer.adLoaderURL = "http://games.mtvnservices.com/swf/gameadloader/gameadloader.1.2.3.swf";
    gamePlayer.gameURL = "http://www.theslap.com/games/toris-mustache-bash/play";
    gamePlayer.gameWidth = 705; 
    gamePlayer.gameHeight = 480; 
    gamePlayer.gamePerAd = 0;
    gamePlayer.adURL = "http://ad.doubleclick.net/pfadx/theslap.nol/c/gv/action/theslap/action/TheslapGame;mode=clip;mtype=gamevideo;game_type=Action;game_id=1;game_name=TheslapGame;demo=none;franchise=theslap;!category=clip;!category=gamevideo;!category=slap;!category=games;tile=1;dcmt=text/xml;sz=640x480;u=mode-clip|mtype-gamevideo|game_type-Action|game_id-1|game_name-TheslapGame|demo-none|franchise-theslap|!category-clip|!category-gamevideo|!category-slap|!category-games|tile-1|dcmt-text/xml;ord=3761547440";
    gamePlayer.params = { quantCastID: "p-94wNw88f65Rhk" };
    
    gamePlayer.doubleClick.doubleClickEnabled = "false";
    gamePlayer.freeWheel.freeWheelEnabled = "true";
    gamePlayer.freeWheel.networkId = "82125";
    gamePlayer.freeWheel.siteSection = "TheSlap__Video_Games";
    gamePlayer.freeWheel.assetId = "mgid:game:the_slap:355";
    
    gamePlayer.init(document.getElementById("game_container"));
  //]]>
</script>


</div>
</div>
<div id='content_bottom'>
<div id='col_secondary'><div id='block_ad_container'>
<div id='block_ad_tab'>
<div class='title'>
advertisement
</div>
</div>
<div id='block_ad'>
<script type='text/javascript'>
  //<![CDATA[
    mtvn.btg.Controller.placeAd({size:'300x250',contentType:"adi",keyValues:"!category=expand;!category=vic",sections:zone})
  //]]>
</script>
</div>
</div>

</div>
<div id='col_primary'><div class='comments_container list_section'>
<div class='subheader'>
<div class='comment_title'>
Comments
</div>
</div>
<div class='list_and_footer_container'>
<div class='list_container' id='game_355_comments_list_container'>
<div class='comments' id='comments_game_355'>
<div class='comment_action' id='comment_action_game_355'>
<a href="/games/toris-mustache-bash/comments/new" class="new_comment" target="#form_container_game_355">Comment</a>
</div>

<div class='comment' id='comment_2916362'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/2277591/tiny.png?1298320206" /></div>
<div class='comment_body'>
<span class='commenter_name'>Brianna327</span>
hard but so fun !!!!!
</div>

</div>
<div class='comment' id='comment_2919347'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/2281461/tiny.png?1298342708" /></div>
<div class='comment_body'>
<span class='commenter_name'>jayne2010</span>
i love this game
</div>

</div>
<div class='comment' id='comment_2919465'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/2292775/tiny.png?1298528265" /></div>
<div class='comment_body'>
<span class='commenter_name'>KP1010</span>
WOW!
</div>

</div>
<div class='comment' id='comment_2919663'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/1396724/tiny.png?1286833763" /></div>
<div class='comment_body'>
<span class='commenter_name'>miyl12645</span>
Love this game!
</div>

</div>
<div class='comment' id='comment_2919817'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/2290755/tiny.png?1298504306" /></div>
<div class='comment_body'>
<span class='commenter_name'>cath12337</span>
this game is awsome
</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/games/toris-mustache-bash/comments?comments_page=2&amp;id=toris-mustache-bash" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_game_355'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_game_355'>
<a href="/games/toris-mustache-bash/likes" class="like" target="#likes_game_355">I like this</a>
</div>

<div class='comment_action_icon'></div>
<div class='comment_action' id='comment_action_game_355'>
<a href="/games/toris-mustache-bash/comments/new" class="new_comment" target="#form_container_game_355">Comment</a>
</div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_game_355'>
5,327 people like this
</div>

</div>
</div>
</div>

</div>

</div>

</div>

</div>
<div id='content_footer'></div>
</div>
<div id='sidebar_container'>
<div id='sidebar_header'>
<div class='title'></div>
</div>
<div id='sidebar_content'>
<div class='module_container sponsored_by'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='sidebar_sponsored_by_container'>
<script type='text/javascript'>
  //<![CDATA[
    mtvn.btg.Controller.placeAd( { size:'120x60',contentType:'adi',keyValues:'!category=expand;!category=vic',sections:zone} );
  //]]>
</script>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

<div class='module_container the_games'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='list_container' id='sidebar_game_container'>
<div class='game_of_months_title_container'></div>
<ul class='list game_of_months jcarousel-skin-tango'>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/2291773/small.png?1298511142')">
<div class='link default_link'><a href="/games/toris-mustache-bash" title="Tori's Mustache Bash"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/2173457/small.png?1296864453')">
<div class='link default_link'><a href="/games/diddly-bops-food-drop" title="Diddly Bops Game Promo"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/1857142/small.png?1293523083')">
<div class='link default_link'><a href="/games/cookie-wrap" title="TheSlap Cookie Wrap"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/1696694/small.png?1291426056')">
<div class='link default_link'><a href="/games/freak-the-freak-out-confused-karaoke" title="Freak the Freak Out Confused Karaoke!"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/1442585/small.png?1287435653')">
<div class='link default_link'><a href="/games/ditch-the-fish" title="Ditch the Fish Promo"></a></div>
</li>
</ul>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

<div class='module_container the_tunes'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='sidebar_songs_container'>
<a href="/tunes#song-to-you" style="background-image: url(http://staticassets.www.theslap.com/images/2038304/sidebar.png?1295312876)">Song2You</a>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

<div class='hottest_pages module_container'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='hottest_pages_links_container'>
<a href="/profiles/tori-vega" title="Tori's Profile"><img alt="Tori's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146931/original.jpg?1273857395" /></a>
<a href="/profiles/andre-harris" title="Andre's Profile"><img alt="Andre's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146930/original.jpg?1273857393" /></a>
<a href="/profiles/trina-vega" title="Trina's Profile"><img alt="Trina's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146929/original.jpg?1273857392" /></a>
<a href="/profiles/robbie-shapiro" title="Robbie's Profile"><img alt="Robbie's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146928/original.jpg?1273857391" /></a>
<a href="/profiles/cat-valentine" title="Cat's Profile"><img alt="Cat's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146927/original.jpg?1273857390" /></a>
<a href="/profiles/beck-oliver" title="Beck's Profile"><img alt="Beck's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146926/original.jpg?1273857389" /></a>
<a href="/profiles/jade-west" title="Jade's Profile"><img alt="Jade's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146925/original.jpg?1273857387" /></a>
<a href="/profiles/rex-powers" title="Rex's Profile"><img alt="Rex's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146924/original.jpg?1273857386" /></a>
<a href="/profiles/sinjin-van-cleef" title="Sinjin's Profile Page"><img alt="Sinjin's Profile Page" src="http://staticassets.www.theslap.com/unprocessed_images/948376/original.jpg?1281388313" /></a>
<a href="/profiles/erwin-sikowitz" title="Sikowitz Hot Pages"><img alt="Sikowitz Hot Pages" src="http://staticassets.www.theslap.com/unprocessed_images/1219697/original.jpg?1284055516" /></a>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

</div>
<div id='sidebar_footer'></div>

</div>
</div>
<div id='body_shadow_right'></div>
</div>
<div id='body_shadow_bottom'></div>
<div id='footer_container'>
<div id='footer'>
<div id='footer_nav'>
<div class='link_block top_links'>
<a href="/">THE SLAP HOME</a>
<a href="/faq">FAQ/ABOUT US</a>
</div>
<div class='link_block'>
<a href="/">HOME</a>
<a href="/profiles">PROFILES</a>
<a href="/clips">CLIPS</a>
<a href="/pix">PIX</a>
<a href="/tunes">TUNES</a>
<a href="/games">GAMES</a>
</div>
<div class='link_block'>
<a href="http://www.nick.com/info/privacy-policy.html" rel="external">Privacy Policy/Your California Privacy Rights</a>
<a href="http://www.nick.com/info/terms-of-use.html" rel="external">Terms of Use</a>
</div>
<div class='link_block'>
<a href="http://www.nick.com/info/copyright.html" rel="external">Copyright Compliance Policy</a>
<a href="http://www.nick.com/info/safety-guide.html" rel="external">Safety Guide</a>
</div>
<div class='link_block'>
<a href="http://srp.mtvn.com/sitefaq.html" class="viacom" rel="external">Ad Choices</a>
</div>
<div class='link_block'>
&copy; Copyright 2011 Viacom International Inc. All Rights Reserved
</div>
<div class='link_block'>
<div class='friends_title'>
Friends of Victorious
</div>
<div class='friends_container'>
<a href="http://www.icarly.com"><img alt="SplashFace" src="/images/friends/logo_splashface.gif?1269720656" /></a>
<a href="http://www.icarly.com"><img alt="iCarly" src="/images/friends/logo_icarly.png?1269720656" /></a>
<a href="http://www.nick.com"><img alt="Nick" src="/images/friends/logo_nick_com.png?1269720656" /></a>
<a href="http://www.nick.com"><img alt="Nickelodean Kids &amp; Teens" src="/images/friends/logo_nick_kids_teens.gif?1269720656" /></a>
<a href="http://www.icarly.com"><img alt="SplashFace" src="/images/friends/logo_zaplook.gif?1269720656" /></a>
</div>
</div>
</div>

</div>
</div>
</div>
</body>
</html>


