<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

                
        



<html xmlns:esi='http://www.edge-delivery.org/esi/1.0' xmlns='http://www.w3.org/1999/xhtml'>
<head>
<title>
Sikowitz | TheSlap | Hollywood Arts' Victorious
</title>
<meta content='The Slap' property='og:site_name' />
<meta content='http://www.theslap.com/profiles/erwin-sikowitz' property='og:url' />
<meta content='Erwin Sikowitz, Hollywood Arts High - Victorious ' property='og:title' />
<meta content='http://staticassets.www.theslap.com/profile_images/1175571/original.jpg?1348348441' property='og:image' />
<meta content='' property='og:description' />

<link href='/images/favicon.ico' rel='shortcut icon' type='image/x-icon' />
<script src="/javascripts/bundled/theslap.js?1451922776" type="text/javascript"></script>
<link href="/stylesheets/bundled/theslap.css?1451924671" media="screen" rel="stylesheet" type="text/css" />
<script src="/javascripts/custom/fans/init.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/fontjazz/fontjazz.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/custom/characters/init.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/fontjazz/charnames.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/character.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/flowplayer-3.1.4.min.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/support/swfobject.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/support/vplayer.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/custom/video/init.js?1451922776" type="text/javascript"></script>


<!--[if lt IE 7]>
<link href="/stylesheets/compiled/ie.css?1451924669" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if lt IE 8]>
<link href="/stylesheets/compiled/ie7.css?1451924671" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->

</head>
<body class='bp character_page characters'>
<script src="/javascripts/support/adunit.js?1451922776" type="text/javascript"></script>
<script src="http://btg.mtvnservices.com/aria/coda.html?site=theslap.com" type="text/javascript"></script>
<script src="/javascripts/support/coda_config.js?1451922776" type="text/javascript"></script>

<div id='body_container'>
<div id='header_container'>
<div id='header'>
<div id='nav_adornment'></div>
<div id='logo_bg'></div>
<script type='text/javascript'>
  //<![CDATA[
    var user_menu_template = "    <ul>\n      <% try { %>\n        <li class=\"first\">Hello: <span class=\"user_name\"><%= user.username %><\/span><\/li>\n        <li><a href=\"/my/profile\">My profile<\/a><\/li>\n\n        <% if(user.admin) { %>\n          <li><a href=\"/admin/dashboard\">Admin dashboard<\/a><\/li>\n          <li><a href=\"/\">View site<\/a><\/li>\n        <% } %>\n        <li class=\"last\"><a href=\"/users/logout?return_to_after_logged_out=%2Fprofiles%2Ferwin-sikowitz\">Logout<\/a><\/li>\n      <% } catch(err) { %>\n        <li><a href=\"/register\">Register<\/a><\/li>\n        <li class=\"last\"><a href=\"/users/pickles?return_to_if_logged_out=%2Fprofiles%2Ferwin-sikowitz\" id=\"login_link\">Login<\/a><\/li>\n      <% } %>\n    <\/ul>\n";
  //]]>
</script>

<a href='http://www.theslap.com/users/pickles' id='admin_login_link'></a>
<div id='deprecated_user_menu'>
<noscript>
<h3 class='no_javascript_warning'>
Javascript is required to use TheSlap. Please enable Javascript and reload this page.
</h3>
</noscript>
</div>

<div id='logo'>
<a href='/'>
<object data='/swf/slap_logo.swf' height='103' id='slap_animation' type='application/x-shockwave-flash' width='327'>
<param name='wmode' value='transparent' />
<param name='movie' value='/swf/slap_logo.swf' />
<img alt='The Slap' src='/images/themes/default/home_logo.png' />
</object>
</a>
</div>
<div id='nav'>
<ul>
<li class='home first'><a href="/">Home</a></li>
<li class='characters'><a href="/profiles">Profiles</a></li>
<li class='videos'><a href="/clips?newest=true">Clips</a></li>
<li class='photos'><a href="/pix?newest=true">Pix</a></li>
<li class='songs'><a href="/tunes">Tunes</a></li>
<li class='games'><a href="/games">Games</a></li>
<li class='search last'><div id='search'>
<form action="/search" method="get">

<input class="search_field" id="q" name="q" placeholder="enter text here" size="15" type="text" />
<button id='search_button' type='submit'>
Search
</button>
</form>
</div>
</li>
</ul>
<div id='nav_bar_right_cap'></div>
</div>

</div>
</div>
<div id='main_container'>
<div id='body_shadow_top'></div>
<div id='body_shadow_left'></div>
<div id='main'>
<div id='content_container'>
<div id='content_callout_container'>
<div id='content_callout_tab'>
<div id='content_callout'>
<div id='banner_ad'>
<script type='text/javascript'>
  //<![CDATA[
    mtvn.btg.Controller.placeAd({size:'728x90',contentType:"adi",keyValues:"!category=expand;!category=vic",sections:zone});
  //]]>
</script>
</div>
</div>
</div>
</div>

<div id='content_header'>
<h1>Erwin Sikowitz, Hollywood Arts High - Victorious </h1>
<div id='header_controls'></div>

</div>
<div class='character' id='content'>

<div id='content_top'><div class='character' id='character_10'>
<div class='profile_header' style="background-image: url('http://staticassets.www.theslap.com/unprocessed_images/1175574/original.jpg?1283481590')">
<div class='photo_container'>
<div class='photo'>
<img alt="Sikowitz" src="http://staticassets.www.theslap.com/profile_images/1175571/medium.jpg?1348348441" />
</div>
<a href="/pix?slapped=10"><div class='photo_frame'></div>
</a></div>

<div class='info'>
<div class='name'>
<h2 style="background-image: url('http://staticassets.www.theslap.com/unprocessed_images/1175575/original.png?1283481590')">
Sikowitz's Page
</h2>
</div>
<div class='current_status'>
<div class='title'>
<span class='first_letter'>N</span>ewest <span class='first_letter'>U</span>pdate:
</div>
<div class='mood_container'>
<div class='mood_title'>
Mood
</div>
<div class='icon'><img alt="" src="http://staticassets.www.theslap.com/unprocessed_images/13/original.gif?1269736618" /></div>
<div class='mood_word'>
victorious
</div>
</div>

<div id='current_status_pulse'></div>
<div class='message'>This week I challenge you to say YES to everything!!! May you all have adventures worthy of a hit sitcom's series finale!</div>
</div>
<div class='fans_and_relationship_container'>
<div class='fans'>
<div class='fan_container'>
<div class='become_fan hidden'>
<a href="/profiles/erwin-sikowitz/become_fan" target=".fan_container">Become a fan</a>
</div>
<div class='fan_status'>
Sikowitz has <span class='count'>552,364</span> Fans!
</div>
</div>

</div>

<div class='relationship'>

</div>
</div>
</div>
</div>
</div>
</div>
<div id='content_bottom'>
<div id='col_secondary'><div class='character_favorite_videos'>
<div class='module_container'>
<div class='module_header'>
<div class='module_title'>
<div class='character_name'>
<h1>Sikowitz's</h1>
</div>
<h2 class='module_type'>Video</h2>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='list_backdrop'>
<div class='list_container video_favorite_list_container'>
<ul class='jcarousel-skin-tango list video_favorite_list'>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/how-trina-got-in-sikowitz-s-version">How Trina Got In: Sikowitz's Version</a></div>
<div class='cell image'><a href="/clips/how-trina-got-in-sikowitz-s-version"><img alt="How Trina Got In: Sikowitz's Version" src="http://staticassets.www.theslap.com/video_thumbnail_images/5724455/medium.png?1336177017" /></a></div>
<div class='cell cover'><a href="/clips/how-trina-got-in-sikowitz-s-version"></a></div>
<div class='cell description'><a href="/clips/how-trina-got-in-sikowitz-s-version">Here's how Trina REALLY got in to Hollywood Arts. The tale involves a rotten coconut and a hot dog, as most of my best stories usually do.</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/erwin-sikowitz">created by Sikowitz</a>
</div>
</li>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/sikowitz-s-bloopers-theslap-exclusive-2">Sikowitz's Bloopers (TheSlap Exclusive!)</a></div>
<div class='cell image'><a href="/clips/sikowitz-s-bloopers-theslap-exclusive-2"><img alt="Sikowitz's Bloopers (TheSlap Exclusive!)" src="http://staticassets.www.theslap.com/video_thumbnail_images/4860848/medium.png?1324863098" /></a></div>
<div class='cell cover'><a href="/clips/sikowitz-s-bloopers-theslap-exclusive-2"></a></div>
<div class='cell description'><a href="/clips/sikowitz-s-bloopers-theslap-exclusive-2">Okay, for some reason Sikowitz made a video of all my bloopers. So now… it's playback time!</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/tori-vega">created by Tori</a>
</div>
</li>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/a-storybook-ending">A Storybook Ending</a></div>
<div class='cell image'><a href="/clips/a-storybook-ending"><img alt="A Storybook Ending" src="http://staticassets.www.theslap.com/video_thumbnail_images/4713738/medium.png?1322870138" /></a></div>
<div class='cell cover'><a href="/clips/a-storybook-ending"></a></div>
<div class='cell description'><a href="/clips/a-storybook-ending">See how our Christmas story ends and find out who had to go Christmas Yodeling with Sikowitz! </a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/tori-vega">created by Tori</a>
</div>
</li>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/sikowtiz-vs-the-cops">Sikowtiz Vs. The Cops</a></div>
<div class='cell image'><a href="/clips/sikowtiz-vs-the-cops"><img alt="Sikowtiz Vs. The Cops" src="http://staticassets.www.theslap.com/video_thumbnail_images/4424097/medium.png?1318633440" /></a></div>
<div class='cell cover'><a href="/clips/sikowtiz-vs-the-cops"></a></div>
<div class='cell description'><a href="/clips/sikowtiz-vs-the-cops">When talking to the cops, never tell them you own a giant cupcake car. They never believe you.</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/erwin-sikowitz">created by Sikowitz</a>
</div>
</li>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/fun-in-a-hot-tub">Fun in a Hot Tub</a></div>
<div class='cell image'><a href="/clips/fun-in-a-hot-tub"><img alt="Fun in a Hot Tub" src="http://staticassets.www.theslap.com/video_thumbnail_images/4076083/medium.png?1314412602" /></a></div>
<div class='cell cover'><a href="/clips/fun-in-a-hot-tub"></a></div>
<div class='cell description'><a href="/clips/fun-in-a-hot-tub">Improv is always fun, especially in a celebrity's jacuzzi with a kinda-famous web star named Spencer (The awkward older brother from iCarly!) </a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/erwin-sikowitz">created by Sikowitz</a>
</div>
</li>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/party-at-sikowitz-s">Party at Sikowitz's!</a></div>
<div class='cell image'><a href="/clips/party-at-sikowitz-s"><img alt="Party at Sikowitz's!" src="http://staticassets.www.theslap.com/video_thumbnail_images/2470512/medium.png?1301099181" /></a></div>
<div class='cell cover'><a href="/clips/party-at-sikowitz-s"></a></div>
<div class='cell description'><a href="/clips/party-at-sikowitz-s">Our little "acting excercise" got a little out of hand. I put together this video to remind me to never invite these kids over to my house again!</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/beck-oliver">created by Beck</a>
</div>
</li>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/sikowitz-shakes-it">Sikowitz Shakes It!</a></div>
<div class='cell image'><a href="/clips/sikowitz-shakes-it"><img alt="Sikowitz Shakes It!" src="http://staticassets.www.theslap.com/video_thumbnail_images/1633861/medium.png?1290785691" /></a></div>
<div class='cell cover'><a href="/clips/sikowitz-shakes-it"></a></div>
<div class='cell description'><a href="/clips/sikowitz-shakes-it">Sikowitz goes karaoke crazy! We didn't know he had those kind of moves in him! You go Erwin!</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/erwin-sikowitz">created by Sikowitz</a>
</div>
</li>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/the-new-diddly-bops">The NEW Diddly Bops</a></div>
<div class='cell image'><a href="/clips/the-new-diddly-bops"><img alt="The NEW Diddly Bops" src="http://staticassets.www.theslap.com/video_thumbnail_images/2037459/medium.png?1295307253" /></a></div>
<div class='cell cover'><a href="/clips/the-new-diddly-bops"></a></div>
<div class='cell description'><a href="/clips/the-new-diddly-bops">The NEW Diddly Bops were NOT very popular. Children attacked us and destroyed our costumes. Geez, kids can be SO mean. :(</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/cat-valentine">created by Cat</a>
</div>
</li>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/drive-by-acting-exercises-beck-and-jade">Drive-By Acting Exercises: Beck and Jade</a></div>
<div class='cell image'><a href="/clips/drive-by-acting-exercises-beck-and-jade"><img alt="Drive-By Acting Exercises: Beck and Jade" src="http://staticassets.www.theslap.com/video_thumbnail_images/707597/medium.png?1279403349" /></a></div>
<div class='cell cover'><a href="/clips/drive-by-acting-exercises-beck-and-jade"></a></div>
<div class='cell description'><a href="/clips/drive-by-acting-exercises-beck-and-jade">Sikowitz attacked me and Beck with one of his random "Drive-By Acting Exercises." Enjoy our talent!</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/jade-west">created by Jade</a>
</div>
</li>
</ul>
</div>

</div>

</div>
<div class='module_body_footer'>
<a href="/clips?newest=true">See All</a>

</div>
</div>
<div class='module_footer'></div>
</div>

</div>
<div class='character_favorite_photo_playlists'>
<div class='module_container'>
<div class='module_header'>
<div class='module_title'>
<div class='character_name'>
<h1>Sikowitz's</h1>
</div>
<h2 class='module_type'>Photo Playlist</h2>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='list_backdrop'>
<div class='list_container photo_playlist_favorite_list_container'>
<ul class='jcarousel-skin-tango list photo_playlist_favorite_list'>
<li class='item photo_playlist_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/pix?playlist=111">Holy Mole-y!</a></div>
<div class='cell image'><a href="/pix?playlist=111"><img alt="Holy Mole-y!" src="http://staticassets.www.theslap.com/images/6674379/medium.jpg?1346268067" /></a></div>
<div class='cell cover'><a href="/pix?playlist=111"></a></div>
<div class='cell description'><a href="/pix?playlist=111">We've recently found out that a lot of our Hollywood Arts friends have very weird moles. Who knew Kwakoo had a mole of Texas on his bicep! And there's more...</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/cat-valentine">created by Cat</a>
</div>
</li>
<li class='item photo_playlist_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/pix?playlist=107">Hollywood Arts Flashback</a></div>
<div class='cell image'><a href="/pix?playlist=107"><img alt="Hollywood Arts Flashback" src="http://staticassets.www.theslap.com/images/6479929/medium.jpg?1344033989" /></a></div>
<div class='cell cover'><a href="/pix?playlist=107"></a></div>
<div class='cell description'><a href="/pix?playlist=107">A lot has changed since Tori first showed up at Hollywood Arts, including her friends. Here's how we all looked then and now.</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/tori-vega">created by Tori</a>
</div>
</li>
<li class='item photo_playlist_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/pix?playlist=73">New Christmas Photos! </a></div>
<div class='cell image'><a href="/pix?playlist=73"><img alt="New Christmas Photos! " src="http://staticassets.www.theslap.com/images/4814242/medium.jpg?1324339008" /></a></div>
<div class='cell cover'><a href="/pix?playlist=73"></a></div>
<div class='cell description'><a href="/pix?playlist=73">We had so many awesome holiday photos lying around we just had to make another gallery! See what else we did this Christmas! </a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/tori-vega">created by Tori</a>
</div>
</li>
<li class='item photo_playlist_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/pix?playlist=64">Tori Tortures Teacher</a></div>
<div class='cell image'><a href="/pix?playlist=64"><img alt="Tori Tortures Teacher" src="http://staticassets.www.theslap.com/images/4325161/medium.jpg?1317425833" /></a></div>
<div class='cell cover'><a href="/pix?playlist=64"></a></div>
<div class='cell description'><a href="/pix?playlist=64">After a week like ours, only pictures of cute fluffy bunnies can cheer us up! Good thing we got a gallery full of 'em. Trina dressed as a pizza girl is pretty funny, too!</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/erwin-sikowitz">created by Sikowitz</a>
</div>
</li>
<li class='item photo_playlist_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/pix?playlist=56">We Partied with iCarly! </a></div>
<div class='cell image'><a href="/pix?playlist=56"><img alt="We Partied with iCarly! " src="http://staticassets.www.theslap.com/images/3025380/medium.jpg?1307775822" /></a></div>
<div class='cell cover'><a href="/pix?playlist=56"></a></div>
<div class='cell description'><a href="/pix?playlist=56">See pics of us partyin' with the iCarlys, then go to iCarly.com to see even more! </a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/robbie-shapiro">created by Robbie</a>
</div>
</li>
<li class='item photo_playlist_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/pix?playlist=32">The Great Ping Pong Scam</a></div>
<div class='cell image'><a href="/pix?playlist=32"><img alt="The Great Ping Pong Scam" src="http://staticassets.www.theslap.com/images/1327668/medium.jpg?1285972382" /></a></div>
<div class='cell cover'><a href="/pix?playlist=32"></a></div>
<div class='cell description'><a href="/pix?playlist=32">Here are some photos of the "ping pong team" and I at our "ping pong tournament."</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/erwin-sikowitz">created by Sikowitz</a>
</div>
</li>
<li class='item photo_playlist_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/pix?playlist=6">I Rocked The Bird Scene (Tori's Gallery)</a></div>
<div class='cell image'><a href="/pix?playlist=6"><img alt="I Rocked The Bird Scene (Tori's Gallery)" src="http://staticassets.www.theslap.com/images/34064/medium.jpg?1270952209" /></a></div>
<div class='cell cover'><a href="/pix?playlist=6"></a></div>
<div class='cell description'><a href="/pix?playlist=6">Pics of Tori, her friends, and BIRDS!</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/tori-vega">created by Tori</a>
</div>
</li>
</ul>
</div>

</div>

</div>
<div class='module_body_footer'>
<a href="/pix?newest=true">See All</a>

</div>
</div>
<div class='module_footer'></div>
</div>

</div>
<div id='block_ad_container'>
<div id='block_ad_tab'>
<div class='title'>
advertisement
</div>
</div>
<div id='block_ad'>
<script type='text/javascript'>
  //<![CDATA[
    mtvn.btg.Controller.placeAd({size:'300x250',contentType:"adi",keyValues:"!category=expand;!category=vic",sections:zone})
  //]]>
</script>
</div>
</div>

</div>
<div id='col_primary'><div class='buzz list_container wall_item_list_container' id='buzz_character_10'>
<div class='list_title_container'>
<div class='character_name'>
<h1>Sikowitz's</h1>
</div>
<div class='list_title'>Board</div>
</div>
<div class='list wall_item_list'>
<div class='list_item status_update wall_item_item' id='wall_item_3851'>
<div id='status_update_1581'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/erwin-sikowitz"><img alt="Sikowitz" src="http://staticassets.www.theslap.com/square_profile_images/1175572/medium.jpg?1348348442" /></a>
</div>
<a href="/profiles/erwin-sikowitz">Sikowitz</a>
</div>
<div class='post_container'>
<div class='mood_container'>
<div class='mood_title'>Mood</div>
<div class='cell mood'><div class='mood_icon'><img alt="" src="http://staticassets.www.theslap.com/unprocessed_images/13/original.gif?1269736618" /></div>
<div class='mood_word'>victorious</div>
</div>
</div>
<div class='cell message'>
This week I challenge you to say YES to everything!!! May you all have adventures worthy of a hit sitcom's series finale!
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3851_comments_list_container'>
<div class='comments' id='comments_wall_item_3851'>

<div class='comment' id='comment_8506898'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7521737/tiny.png?1364095851" /></div>
<div class='comment_body'>
<span class='commenter_name'>estina6635</span>
why do we have to do this?! :(
</div>

</div>
<div class='comment' id='comment_8507032'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7362300/tiny.png?1359907502" /></div>
<div class='comment_body'>
<span class='commenter_name'>HeyItsFay4</span>
I am not doing that, sorry Sikowitz.
</div>

</div>
<div class='comment' id='comment_8507096'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7362430/tiny.png?1359909134" /></div>
<div class='comment_body'>
<span class='commenter_name'>lucywow</span>
yessssssssssss
</div>

</div>
<div class='comment' id='comment_8507326'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/6921611/tiny.png?1351346014" /></div>
<div class='comment_body'>
<span class='commenter_name'>Hiphop614</span>
Thats hard
</div>

</div>
<div class='comment' id='comment_8507390'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7362641/tiny.png?1359911251" /></div>
<div class='comment_body'>
<span class='commenter_name'>MINNIE1036</span>
AWWWWW.POOR ANDRE.
</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/wall_items/3851/comments?comments_page=2&amp;id=erwin-sikowitz" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_wall_item_3851'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3851'>
<a href="/wall_items/3851/likes" class="like" target="#likes_wall_item_3851">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3851'>
7,786 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='status_update_1581_asset_actions'>



</div>


</div>
</div>

</div>
<div class='list_item photo_playlist wall_item_item' id='wall_item_3853'>
<div id='photo_playlist_132'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/erwin-sikowitz"><img alt="Sikowitz" src="http://staticassets.www.theslap.com/square_profile_images/1175572/medium.jpg?1348348442" /></a>
</div>
<a href="/profiles/erwin-sikowitz">Sikowitz</a>
</div>
<div class='post_container'>
<div class='cell message'>
<a href="/pix?playlist=132">Sikowitz slapped Andre, Beck, Cat, Jade, Robbie, Sinjin, Tori, and Trina in a photo gallery</a>
</div>
<div class='cell enclosure'>
<div class='cell image'>
<a href="/galleries/132/slideshow#http://staticassets.www.theslap.com/images/7358731/large.jpg"><img alt="!Divertisimo!" src="http://staticassets.www.theslap.com/images/7358731/thumb.jpg?1359847351" /></a>
<a href="/galleries/132/slideshow#http://staticassets.www.theslap.com/images/7358708/large.jpg"><img alt="Pajelehoochos!" src="http://staticassets.www.theslap.com/images/7358708/thumb.jpg?1359847224" /></a>
<a href="/galleries/132/slideshow#http://staticassets.www.theslap.com/images/7358647/large.jpg"><img alt="Mariachi Band" src="http://staticassets.www.theslap.com/images/7358647/thumb.jpg?1359847026" /></a>
</div>
<div class='meta_data'>
<div class='cell title'>
<a href="/pix?playlist=132">Victori-Yes!</a>
</div>
<div class='cell description'>
<a href="/pix?playlist=132">I challenged you kids to go out there and say YES to life! And while your pictures confuse and befuddle me, they also make me a very proud Sikowitz!</a>
</div>
</div>
</div>

</div>
</div>

</div>
<div class='list_item video wall_item_item' id='wall_item_3821'>
<div id='video_1346'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/cat-valentine"><img alt="Cat" src="http://staticassets.www.theslap.com/square_profile_images/63/medium.png?1350689024" /></a>
</div>
<a href="/profiles/cat-valentine">Cat</a>
</div>
<div class='post_container'>
<div class='cell message'>
<a href="/clips/pajelehoocho-commercial">Cat slapped Sikowitz in a video</a>
</div>
<div class='cell enclosure'><div class='cell image'>
<a href="/clips/pajelehoocho-commercial"><img alt="Pajelehoocho Commercial" src="http://staticassets.www.theslap.com/video_thumbnail_images/7353743/small.png?1359771336" /></a>
</div>
<div class='meta_data'>
<div class='cell title'>
<a href="/clips/pajelehoocho-commercial">Pajelehoocho Commercial</a>
</div>
<div class='cell description'>
<a href="/clips/pajelehoocho-commercial">Do you wanna feel normal and popular?!? All you need to do is buy a Pajelehoocho! Note: Pajelehoochos are not guaranteed to make everyone popular and normal.</a>
</div>
</div>
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3821_comments_list_container'>
<div class='comments' id='comments_wall_item_3821'>

<div class='comment' id='comment_8510593'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7371433/tiny.png?1360108286" /></div>
<div class='comment_body'>
<span class='commenter_name'>lolabugs</span>
id want one but cant lol
</div>

</div>
<div class='comment' id='comment_8510657'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7366591/tiny.png?1359951543" /></div>
<div class='comment_body'>
<span class='commenter_name'>wzupp</span>
what are pajelehoochos?
</div>

</div>
<div class='comment' id='comment_8510832'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7369518/tiny.png?1360032935" /></div>
<div class='comment_body'>
<span class='commenter_name'>joiha12345</span>
i love your red hair

</div>

</div>
<div class='comment' id='comment_8510921'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7367030/tiny.png?1359988742" /></div>
<div class='comment_body'>
<span class='commenter_name'>PJONES1O</span>
i like cat shes so funny
</div>

</div>
<div class='comment' id='comment_8511084'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7370369/tiny.png?1360087491" /></div>
<div class='comment_body'>
<span class='commenter_name'>pesly12367</span>
i love you so much cat

</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/wall_items/3821/comments?comments_page=2&amp;id=erwin-sikowitz" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_wall_item_3821'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3821'>
<a href="/wall_items/3821/likes" class="like" target="#likes_wall_item_3821">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3821'>
91,615 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='video_1346_asset_actions'>


<span id='video_1346_embed'>
<a href="/clips/pajelehoocho-commercial/embed/new" class="embed" title="Embed on your webpage">Embed on your webpage</a>
</span>

</div>


</div>
</div>

</div>
<div class='list_item status_update wall_item_item' id='wall_item_3800'>
<div id='status_update_1574'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/erwin-sikowitz"><img alt="Sikowitz" src="http://staticassets.www.theslap.com/square_profile_images/1175572/medium.jpg?1348348442" /></a>
</div>
<a href="/profiles/erwin-sikowitz">Sikowitz</a>
</div>
<div class='post_container'>
<div class='mood_container'>
<div class='mood_title'>Mood</div>
<div class='cell mood'><div class='mood_icon'><img alt="" src="http://staticassets.www.theslap.com/unprocessed_images/18/original.gif?1269736619" /></div>
<div class='mood_word'>nutty</div>
</div>
</div>
<div class='cell message'>
I found a coconut in the men's bathroom today. I'll drink it if it's not claimed after 3 hours. Or before that if I get really thirsty.
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3800_comments_list_container'>
<div class='comments' id='comments_wall_item_3800'>





<div class='comment_form_container' id='form_container_wall_item_3800'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3800'>
<a href="/wall_items/3800/likes" class="like" target="#likes_wall_item_3800">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3800'>
2,347 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='status_update_1574_asset_actions'>



</div>


</div>
</div>

</div>
<div class='list_item photo_playlist wall_item_item' id='wall_item_3793'>
<div id='photo_playlist_131'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/tori-vega"><img alt="Tori" src="http://staticassets.www.theslap.com/square_profile_images/43/medium.jpg?1348347275" /></a>
</div>
<a href="/profiles/tori-vega">Tori</a>
</div>
<div class='post_container'>
<div class='cell message'>
<a href="/pix?playlist=131">Tori slapped Sikowitz in a photo gallery</a>
</div>
<div class='cell enclosure'>
<div class='cell image'>
<a href="/galleries/131/slideshow#http://staticassets.www.theslap.com/images/7323201/large.jpg"><img alt="Tori and Buck" src="http://staticassets.www.theslap.com/images/7323201/thumb.jpg?1359237700" /></a>
<a href="/galleries/131/slideshow#http://staticassets.www.theslap.com/images/7323100/large.jpg"><img alt="Sikowitz's Dog Buddy" src="http://staticassets.www.theslap.com/images/7323100/thumb.jpg?1359236843" /></a>
<a href="/galleries/131/slideshow#http://staticassets.www.theslap.com/images/7323153/large.jpg"><img alt="Cat's New Digs " src="http://staticassets.www.theslap.com/images/7323153/thumb.jpg?1359237307" /></a>
</div>
<div class='meta_data'>
<div class='cell title'>
<a href="/pix?playlist=131">Star-Spangled Tori</a>
</div>
<div class='cell description'>
<a href="/pix?playlist=131">Tori faces off against a frisky dog, Cat goes into hiding, and we teach a talk show host a thing or two about pranks. It's all in this week's gallery! </a>
</div>
</div>
</div>

</div>
</div>

</div>
<div class='list_item status_update wall_item_item' id='wall_item_3619'>
<div id='status_update_1533'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/erwin-sikowitz"><img alt="Sikowitz" src="http://staticassets.www.theslap.com/square_profile_images/1175572/medium.jpg?1348348442" /></a>
</div>
<a href="/profiles/erwin-sikowitz">Sikowitz</a>
</div>
<div class='post_container'>
<div class='mood_container'>
<div class='mood_title'>Mood</div>
<div class='cell mood'><div class='mood_icon'><img alt="" src="http://staticassets.www.theslap.com/unprocessed_images/1404994/original.gif?1287003538" /></div>
<div class='mood_word'>fishy</div>
</div>
</div>
<div class='cell message'>
I'm currently trying to identify an object I found in my beard. I think it's tuna, but I haven't eaten sushi in days. Hmmmm….
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3619_comments_list_container'>
<div class='comments' id='comments_wall_item_3619'>

<div class='comment' id='comment_8416462'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7191659/tiny.png?1356835468" /></div>
<div class='comment_body'>
<span class='commenter_name'>salangel4</span>
well that's weird(:
</div>

</div>
<div class='comment' id='comment_8416602'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7234685/tiny.png?1357512673" /></div>
<div class='comment_body'>
<span class='commenter_name'>4025lane</span>
maby it's cocnut hair?! :)
</div>

</div>
<div class='comment' id='comment_8416847'>
<div class='photo'></div>
<div class='comment_body'>
<span class='commenter_name'>apple10598</span>
you like sushi i thought you liked cocunut
</div>

</div>
<div class='comment' id='comment_8417178'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7407894/tiny.png?1361037338" /></div>
<div class='comment_body'>
<span class='commenter_name'>ashleeg</span>
lol!
</div>

</div>
<div class='comment' id='comment_8417630'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7236658/tiny.png?1357569847" /></div>
<div class='comment_body'>
<span class='commenter_name'>021202heb</span>
gross
</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/wall_items/3619/comments?comments_page=2&amp;id=erwin-sikowitz" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_wall_item_3619'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3619'>
<a href="/wall_items/3619/likes" class="like" target="#likes_wall_item_3619">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3619'>
2,509 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='status_update_1533_asset_actions'>



</div>


</div>
</div>

</div>
<div class='list_item status_update wall_item_item' id='wall_item_3577'>
<div id='status_update_1514'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/erwin-sikowitz"><img alt="Sikowitz" src="http://staticassets.www.theslap.com/square_profile_images/1175572/medium.jpg?1348348442" /></a>
</div>
<a href="/profiles/erwin-sikowitz">Sikowitz</a>
</div>
<div class='post_container'>
<div class='mood_container'>
<div class='mood_title'>Mood</div>
<div class='cell mood'><div class='mood_icon'><img alt="" src="http://staticassets.www.theslap.com/unprocessed_images/6/original.gif?1269736616" /></div>
<div class='mood_word'>hurty</div>
</div>
</div>
<div class='cell message'>
That's the second time I've been egged while bathing!!! Can't a man shower in peace!
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3577_comments_list_container'>
<div class='comments' id='comments_wall_item_3577'>

<div class='comment' id='comment_8408000'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7080161/tiny.png?1354488869" /></div>
<div class='comment_body'>
<span class='commenter_name'>starlove97</span>
aww poor you
</div>

</div>
<div class='comment' id='comment_8408494'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7224690/tiny.png?1357357655" /></div>
<div class='comment_body'>
<span class='commenter_name'>Kat1718</span>
exactly
</div>

</div>
<div class='comment' id='comment_8408728'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7224921/tiny.png?1357361666" /></div>
<div class='comment_body'>
<span class='commenter_name'>ezbw</span>
NOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
</div>

</div>
<div class='comment' id='comment_8408806'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7157596/tiny.png?1356232818" /></div>
<div class='comment_body'>
<span class='commenter_name'>PrettiBrat</span>
You got hit by a egg? How?
</div>

</div>
<div class='comment' id='comment_8410232'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7213230/tiny.png?1357165320" /></div>
<div class='comment_body'>
<span class='commenter_name'>dani3elle3</span>
you got that right pawl
</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/wall_items/3577/comments?comments_page=2&amp;id=erwin-sikowitz" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_wall_item_3577'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3577'>
<a href="/wall_items/3577/likes" class="like" target="#likes_wall_item_3577">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3577'>
2,487 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='status_update_1514_asset_actions'>



</div>


</div>
</div>

</div>
<div class='list_item photo_playlist wall_item_item' id='wall_item_3591'>
<div id='photo_playlist_126'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/robbie-shapiro"><img alt="Robbie" src="http://staticassets.www.theslap.com/square_profile_images/58/medium.jpg?1348347536" /></a>
</div>
<a href="/profiles/robbie-shapiro">Robbie</a>
</div>
<div class='post_container'>
<div class='cell message'>
<a href="/pix?playlist=126">Robbie slapped Sikowitz in a photo gallery</a>
</div>
<div class='cell enclosure'>
<div class='cell image'>
<a href="/galleries/126/slideshow#http://staticassets.www.theslap.com/images/7125615/large.jpg"><img alt="Robbie and Goonter" src="http://staticassets.www.theslap.com/images/7125615/thumb.jpg?1355599624" /></a>
<a href="/galleries/126/slideshow#http://staticassets.www.theslap.com/images/7125545/large.jpg"><img alt="The Flour Bomber Strikes: Tori and Beck" src="http://staticassets.www.theslap.com/images/7125545/thumb.jpg?1355599053" /></a>
<a href="/galleries/126/slideshow#http://staticassets.www.theslap.com/images/7125600/large.jpg"><img alt="Hot-Durgers" src="http://staticassets.www.theslap.com/images/7125600/thumb.jpg?1355599481" /></a>
</div>
<div class='meta_data'>
<div class='cell title'>
<a href="/pix?playlist=126">Robbie Sells Rex</a>
</div>
<div class='cell description'>
<a href="/pix?playlist=126">Robbie sells Rex and gets a new (horrible) friend! And we try to discover the identity of the Flour Bomber. See the pics now! </a>
</div>
</div>
</div>

</div>
</div>

</div>
<div class='list_item status_update wall_item_item' id='wall_item_3504'>
<div id='status_update_1499'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/erwin-sikowitz"><img alt="Sikowitz" src="http://staticassets.www.theslap.com/square_profile_images/1175572/medium.jpg?1348348442" /></a>
</div>
<a href="/profiles/erwin-sikowitz">Sikowitz</a>
</div>
<div class='post_container'>
<div class='mood_container'>
<div class='mood_title'>Mood</div>
<div class='cell mood'><div class='mood_icon'><img alt="" src="http://staticassets.www.theslap.com/unprocessed_images/7/original.gif?1269736617" /></div>
<div class='mood_word'>confused</div>
</div>
</div>
<div class='cell message'>
I'm cooking pancakes for breakfast! Except, I couldn't find a pan. And they're kinda pie-shaped. I don't know what I'm doing. 
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3504_comments_list_container'>
<div class='comments' id='comments_wall_item_3504'>

<div class='comment' id='comment_8380427'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7190287/tiny.png?1356824354" /></div>
<div class='comment_body'>
<span class='commenter_name'>leslie4530</span>
how are u making pancakes then im confused

</div>

</div>
<div class='comment' id='comment_8382675'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7186296/tiny.png?1356750873" /></div>
<div class='comment_body'>
<span class='commenter_name'>penguin136</span>
I just had pancakes that are shaped like a ball.You are not alone.
</div>

</div>
<div class='comment' id='comment_8383094'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7193506/tiny.png?1356883914" /></div>
<div class='comment_body'>
<span class='commenter_name'>Punk33Girl</span>
try the oven
</div>

</div>
<div class='comment' id='comment_8386046'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7196914/tiny.png?1356912384" /></div>
<div class='comment_body'>
<span class='commenter_name'>jen0324</span>
i get it
</div>

</div>
<div class='comment' id='comment_8386381'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7223501/tiny.png?1357342456" /></div>
<div class='comment_body'>
<span class='commenter_name'>fleasack99</span>
you were making breakfast I thought
</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/wall_items/3504/comments?comments_page=2&amp;id=erwin-sikowitz" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_wall_item_3504'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3504'>
<a href="/wall_items/3504/likes" class="like" target="#likes_wall_item_3504">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3504'>
2,106 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='status_update_1499_asset_actions'>



</div>


</div>
</div>

</div>
<div class='list_item video wall_item_item' id='wall_item_3491'>
<div id='video_1243'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/jade-west"><img alt="Jade" src="http://staticassets.www.theslap.com/square_profile_images/68/medium.jpg?1327736731" /></a>
</div>
<a href="/profiles/jade-west">Jade</a>
</div>
<div class='post_container'>
<div class='cell message'>
<a href="/clips/jade-s-music-video">Jade slapped Sikowitz in a video</a>
</div>
<div class='cell enclosure'><div class='cell image'>
<a href="/clips/jade-s-music-video"><img alt="Jade's Music Video!" src="http://staticassets.www.theslap.com/video_thumbnail_images/7067605/small.png?1354329928" /></a>
</div>
<div class='meta_data'>
<div class='cell title'>
<a href="/clips/jade-s-music-video">Jade's Music Video!</a>
</div>
<div class='cell description'>
<a href="/clips/jade-s-music-video">My new song has its very own music video! Check it out now and then tell me how much you loved it. Because I know you will. </a>
</div>
</div>
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3491_comments_list_container'>
<div class='comments' id='comments_wall_item_3491'>

<div class='comment' id='comment_8296349'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7081550/tiny.png?1354505325" /></div>
<div class='comment_body'>
<span class='commenter_name'>chikis255</span>
i saw it i loved it it was cool
</div>

</div>
<div class='comment' id='comment_8296470'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7081612/tiny.png?1354507436" /></div>
<div class='comment_body'>
<span class='commenter_name'>jayroc7881</span>
really?
</div>

</div>
<div class='comment' id='comment_8296582'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7467818/tiny.png?1362336153" /></div>
<div class='comment_body'>
<span class='commenter_name'>twin619</span>
 you guys are pretty!!
</div>

</div>
<div class='comment' id='comment_8296758'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/6725885/tiny.png?1347135984" /></div>
<div class='comment_body'>
<span class='commenter_name'>blew11</span>
i really liked this song
</div>

</div>
<div class='comment' id='comment_8296817'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7081983/tiny.png?1354547412" /></div>
<div class='comment_body'>
<span class='commenter_name'>kballia</span>
nice !!! you are right :)

</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/wall_items/3491/comments?comments_page=2&amp;id=erwin-sikowitz" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_wall_item_3491'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3491'>
<a href="/wall_items/3491/likes" class="like" target="#likes_wall_item_3491">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3491'>
12,797 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='video_1243_asset_actions'>


<span id='video_1243_embed'>
<a href="/clips/jade-s-music-video/embed/new" class="embed" title="Embed on your webpage">Embed on your webpage</a>
</span>

</div>


</div>
</div>

</div>

</div>
<div class='pagination_container'>
<div class="pagination" id="wall_items_pagination"><span class="disabled prev_page">&laquo; Previous</span> <span class="current">1</span> <a href="/profiles/erwin-sikowitz?page=2" rel="next">2</a> <a href="/profiles/erwin-sikowitz?page=3">3</a> <a href="/profiles/erwin-sikowitz?page=4">4</a> <a href="/profiles/erwin-sikowitz?page=5">5</a> <a href="/profiles/erwin-sikowitz?page=6">6</a> <a href="/profiles/erwin-sikowitz?page=7">7</a> <a href="/profiles/erwin-sikowitz?page=8">8</a> <a href="/profiles/erwin-sikowitz?page=9">9</a> <span class="gap">&hellip;</span> <a href="/profiles/erwin-sikowitz?page=17">17</a> <a href="/profiles/erwin-sikowitz?page=18">18</a> <a href="/profiles/erwin-sikowitz?page=2" class="next_page" rel="next">Next &raquo;</a></div>
<div class='loading hidden'></div>
</div>
</div>
</div>

</div>

</div>
<div id='content_footer'></div>
</div>
<div id='sidebar_container'>
<div id='sidebar_header'>
<div class='title'></div>
</div>
<div id='sidebar_content'>
<div class='module_container the_games'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='list_container' id='sidebar_game_container'>
<div class='game_of_months_title_container'></div>
<ul class='list game_of_months jcarousel-skin-tango'>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/7367786/small.png?1360007882')">
<div class='link default_link'><a href="/games/cats-heartbreaker-game" title="Heartbreaker Game"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/7255379/small.png?1358033925')">
<div class='link default_link'><a href="/games/sinjin-sock-hop" title="Sinjin Sock Puppet Game"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/7094958/small.png?1354921421')">
<div class='link default_link'><a href="/games/skate-with-cat-game" title="Skate with Cat promo"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/6890337/small.png?1350691328')">
<div class='link default_link'><a href="/games/jades-zombie-smasher-game" title="Jade's Zombie Smasher"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/6799490/small.png?1348611239')">
<div class='link default_link'><a href="/games/wankos-warehouse-game" title="Wanko's Warehouse"></a></div>
</li>
</ul>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

<div class='module_container the_tunes'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='sidebar_songs_container'>
<a href="/tunes#here-s-to-us" style="background-image: url(http://staticassets.www.theslap.com/images/6938293/sidebar.jpg?1352174971)">Here's 2 Us</a>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

<div class='hottest_pages module_container'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='hottest_pages_links_container'>
<a href="/profiles/tori-vega" title="Tori Vega"><img alt="Tori Vega" src="http://staticassets.www.theslap.com/unprocessed_images/146931/original.jpg?1273857395" /></a>
<a href="/profiles/andre-harris" title="Andre Harris"><img alt="Andre Harris" src="http://staticassets.www.theslap.com/unprocessed_images/146930/original.jpg?1273857393" /></a>
<a href="/profiles/trina-vega" title="Trina Vega"><img alt="Trina Vega" src="http://staticassets.www.theslap.com/unprocessed_images/146929/original.jpg?1273857392" /></a>
<a href="/profiles/robbie-shapiro" title="Robbie Shapiro"><img alt="Robbie Shapiro" src="http://staticassets.www.theslap.com/unprocessed_images/146928/original.jpg?1273857391" /></a>
<a href="/profiles/cat-valentine" title="Cat Valentine"><img alt="Cat Valentine" src="http://staticassets.www.theslap.com/unprocessed_images/146927/original.jpg?1273857390" /></a>
<a href="/profiles/beck-oliver" title="Beck Oliver"><img alt="Beck Oliver" src="http://staticassets.www.theslap.com/unprocessed_images/146926/original.jpg?1273857389" /></a>
<a href="/profiles/jade-west" title="Jade West"><img alt="Jade West" src="http://staticassets.www.theslap.com/unprocessed_images/146925/original.jpg?1273857387" /></a>
<a href="/profiles/rex-powers" title="Rex Powers"><img alt="Rex Powers" src="http://staticassets.www.theslap.com/unprocessed_images/146924/original.jpg?1273857386" /></a>
<a href="/profiles/sinjin-van-cleef" title="Sinjin Van Cleef"><img alt="Sinjin Van Cleef" src="http://staticassets.www.theslap.com/unprocessed_images/948376/original.jpg?1281388313" /></a>
<a href="/profiles/erwin-sikowitz" title="Erwin Sikowitz"><img alt="Erwin Sikowitz" src="http://staticassets.www.theslap.com/unprocessed_images/1219697/original.jpg?1284055516" /></a>
<a href="/profiles/lane-alexander" title="Lane Alexander"><img alt="Lane Alexander" src="http://staticassets.www.theslap.com/unprocessed_images/4108536/original.png?1314733249" /></a>
<a href="/profiles/festus" title="Festus"><img alt="Festus" src="http://staticassets.www.theslap.com/unprocessed_images/5635405/original.jpg?1334777370" /></a>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

</div>
<div id='sidebar_footer'></div>

</div>
</div>
<div id='body_shadow_right'></div>
</div>
<div id='body_shadow_bottom'></div>
<div id='footer_container'>
<div id='footer'>
<div id='footer_nav'>
<div class='link_block top_links'>
<a href="/">THE SLAP HOME</a>
<a href="/bump?to=%2Ffaq">FAQ/ABOUT US</a>
</div>
<div class='link_block'>
<a href="/">HOME</a>
<a href="/bump?to=%2Fprofiles">PROFILES</a>
<a href="/bump?to=%2Fclips">CLIPS</a>
<a href="/bump?to=%2Fpix">PIX</a>
<a href="/bump?to=%2Ftunes">TUNES</a>
<a href="/bump?to=%2Fgames">GAMES</a>
</div>
<div class='link_block'>
<a href="http://www.nick.com/legal/nickelodeon-privacy-policy/" rel="external">Privacy Policy/Your California Privacy Rights (updated 2/9/2016)</a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com%2Fclub%2Fparents-terms-of-use.html" rel="external">Terms of Use</a>
</div>
<div class='link_block'>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com%2Finfo%2Fcopyright.html" rel="external">Copyright Compliance Policy</a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com%2Finfo%2Fsafety-guide.html" rel="external">Safety Guide</a>
</div>
<div class='link_block'>
<a href="/bump?to=http%3A%2F%2Fsrp.mtvn.com%2Fsitefaq.html" class="viacom" rel="external">Ad Choices</a>
</div>
<div class='link_block'>
&copy; Copyright 2018 Viacom International Inc. All Rights Reserved
</div>
<div class='link_block'>
<div class='friends_title'>
Friends of Victorious
</div>
<div class='friends_container'>
<a href="/bump?to=http%3A%2F%2Fwww.icarly.com"><img alt="SplashFace" src="/images/friends/logo_splashface.gif?1451922775" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.icarly.com"><img alt="iCarly" src="/images/friends/logo_icarly.png?1451922775" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com"><img alt="Nick" src="/images/friends/logo_nick_com.png?1451922775" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com"><img alt="Nickelodean Kids &amp; Teens" src="/images/friends/logo_nick_kids_teens.gif?1451922775" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.icarly.com"><img alt="SplashFace" src="/images/friends/logo_zaplook.gif?1451922775" /></a>
</div>
</div>
</div>

</div>
</div>
</div>

</body>
</html>

