
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

                
        



<html xmlns:esi='http://www.edge-delivery.org/esi/1.0' xmlns='http://www.w3.org/1999/xhtml'>
<head>
<title>
Jades Zombie Smasher Game | TheSlap | Hollywood Arts' Victorious
</title>
<meta content="It's time for Jade's favorite holiday, Halloween! Celebrate by playing her wicked new game: Jade's Zombie Smasher! " name='description' />
<script type='text/javascript'>
  //<![CDATA[
    var prop4 = 'Jades Zombie Smasher Game';
  //]]>
</script>


<link href='/images/favicon.ico' rel='shortcut icon' type='image/x-icon' />
<script src="/javascripts/bundled/theslap.js?1315406881" type="text/javascript"></script>
<link href="/stylesheets/bundled/theslap.css?1353618516" media="screen" rel="stylesheet" type="text/css" />
<script src="/javascripts/bundled/assets.js?1343227105" type="text/javascript"></script>
<script src="/javascripts/flowplayer-3.1.4.min.js?1316718152" type="text/javascript"></script>
<script src="/javascripts/support/swfobject.js?1269378793" type="text/javascript"></script>
<script src="/javascripts/support/vplayer.js?1320191142" type="text/javascript"></script>
<script src="/javascripts/custom/video/init.js?1316718152" type="text/javascript"></script>


<!--[if lt IE 7]>
<link href="/stylesheets/compiled/ie.css?1353618513" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if lt IE 8]>
<link href="/stylesheets/compiled/ie7.css?1353618516" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->

</head>
<body class='bp game_page games'>
<script src="/javascripts/support/coda.js?1321556352" type="text/javascript"></script>
<script src="/javascripts/support/coda_config.js?1321556352" type="text/javascript"></script>

<div id='body_container'>
<div id='header_container'>
<div id='header'>
<div id='nav_adornment'></div>
<div id='logo_bg'></div>
<script type='text/javascript'>
  //<![CDATA[
    var user_menu_template = "    <ul>\n      <% try { %>\n        <li class=\"first\">Hello: <span class=\"user_name\"><%= user.username %><\/span><\/li>\n        <li><a href=\"/my/profile\">My profile<\/a><\/li>\n\n        <% if(user.admin) { %>\n          <li><a href=\"/admin/dashboard\">Admin dashboard<\/a><\/li>\n          <li><a href=\"/\">View site<\/a><\/li>\n        <% } %>\n        <li class=\"last\"><a href=\"/users/logout?return_to_after_logged_out=%2Fgames%2Fjades-zombie-smasher-game%3Fnavid%3DaLevel4\">Logout<\/a><\/li>\n      <% } catch(err) { %>\n        <li><a href=\"/register\">Register<\/a><\/li>\n        <li class=\"last\"><a href=\"/users/login?return_to_if_logged_out=%2Fgames%2Fjades-zombie-smasher-game%3Fnavid%3DaLevel4\" id=\"login_link\">Login<\/a><\/li>\n      <% } %>\n    <\/ul>\n";
  //]]>
</script>

<div id='user_menu'>
<noscript>
<h3 class='no_javascript_warning'>
Javascript is required to use TheSlap. Please enable Javascript and reload this page.
</h3>
</noscript>
</div>

<div id='logo'>
<a href='/'>
<object data='/swf/slap_logo.swf' height='103' id='slap_animation' type='application/x-shockwave-flash' width='327'>
<param name='wmode' value='transparent' />
<param name='movie' value='/swf/slap_logo.swf' />
<img alt='The Slap' src='/images/themes/default/home_logo.png' />
</object>
</a>
</div>
<div id='nav'>
<ul>
<li class='home first'><a href="/">Home</a></li>
<li class='characters'><a href="/profiles">Profiles</a></li>
<li class='videos'><a href="/clips?newest=true">Clips</a></li>
<li class='photos'><a href="/pix?newest=true">Pix</a></li>
<li class='songs'><a href="/tunes">Tunes</a></li>
<li class='games'><a href="/games">Games</a></li>
<li class='search last'><div id='search'>
<form action="/search" method="get">

<input class="search_field" id="q" name="q" placeholder="enter text here" size="15" type="text" />
<button id='search_button' type='submit'>
Search
</button>
</form>
</div>
</li>
</ul>
<div id='nav_bar_right_cap'></div>
</div>

</div>
</div>
<div id='main_container'>
<div id='body_shadow_top'></div>
<div id='body_shadow_left'></div>
<div id='main'>
<div id='content_container'>
<div id='content_callout_container'>
<div id='content_callout_tab'>
<div id='content_callout'>
<div id='banner_ad'>
<script type='text/javascript'>
  //<![CDATA[
    mtvn.btg.Controller.placeAd({size:'728x90',contentType:"adi",keyValues:"!category=expand;!category=vic",sections:zone});
  //]]>
</script>
</div>
</div>
</div>
</div>

<div id='content_header'>
<h1>The Games</h1>
<div id='header_controls'><div class='also_see_container'><a href="/games?newest=true">See All Games</a></div>
</div>

</div>
<div class='game' id='content'>

<div id='content_top'><div class='game_header_section'>
<div class='list_container'>
<ul class='list'>
<li class='item title'>
<div class='label_container'>
<div class='game_title_label'>
You're Playing
</div>
</div>
<h2 class='game_title'>Jades Zombie Smasher Game</h2>
</li>
<li class='item description'>
<div class='label_container'>
<div class='game_description_label'>
In this Game
</div>
</div>
<h2 class='game_description'>It's time for Jade's favorite holiday, Halloween! Celebrate by playing her wicked new game: Jade's Zombie Smasher! </h2>
</li>
<li class='actions'>
<div class='asset_actions' id='game_1176_asset_actions'>

<span id='game_1176_favorite'>
<a href="/games/jades-zombie-smasher-game/favorites.js" class="add_favorite" title="Add to my page">Add to my page</a>

</span>

<span id='game_1176_send_to_friend'>
<a href="/games/jades-zombie-smasher-game/send_to_friend/new" class="send_to_friend" title="Send to friend">Send to friend</a>
</span>


</div>

</li>
</ul>
</div>
</div>
<div class='game_container' id='game_container'>
<script src="http://games.mtvnservices.com/scripts/mtvngameloader.1.0.2.js" type="text/javascript"></script>
<script type='text/javascript'>
  //<![CDATA[
    com.mtvnet.games.GameSettings.Ad.FreeWheel.enabled = "true";
    com.mtvnet.games.GameSettings.Ad.DoubleClick.enabled = "false";
    
    com.mtvnet.games.GameSettings.Ad.FreeWheel.networkId = "82125";
    com.mtvnet.games.GameSettings.Ad.FreeWheel.siteSection = "TheSlap__Video_Games";
    com.mtvnet.games.GameSettings.Ad.FreeWheel.assetId = "mgid:game:the_slap:1176";
                 
    com.mtvnet.games.GameSettings.Reporting.GoogleAnalytics.enabled = true;
    com.mtvnet.games.GameSettings.Reporting.GoogleAnalytics.account = "UA-1922428-3";
    
    com.mtvnet.games.GameSettings.Game.height = 480;
    com.mtvnet.games.GameSettings.Game.width = 705;
    com.mtvnet.games.GameSettings.Game.metadata.gameURL = "http://www.theslap.com/games/jades-zombie-smasher-game/play";
    com.mtvnet.games.GameSettings.Game.metadata.gameTitle = "Jades Zombie Smasher Game";
    com.mtvnet.games.GameSettings.Game.metadata.gameId = "mgid:game:the_slap:1176";
    com.mtvnet.games.GameSettings.Game.metadata.gameGenre = "theSlap";
    com.mtvnet.games.GameSettings.Game.metadata.type = "network";
    
    com.mtvnet.games.GameLoader.init(document.getElementById("game_container"));
  //]]>
</script>


</div>
</div>
<div id='content_bottom'>
<div id='col_secondary'><div id='block_ad_container'>
<div id='block_ad_tab'>
<div class='title'>
advertisement
</div>
</div>
<div id='block_ad'>
<script type='text/javascript'>
  //<![CDATA[
    mtvn.btg.Controller.placeAd({size:'300x250',contentType:"adi",keyValues:"!category=expand;!category=vic",sections:zone})
  //]]>
</script>
</div>
</div>

</div>
<div id='col_primary'><div class='comments_container list_section'>
<div class='subheader'>
<div class='comment_title'>
Comments
</div>
</div>
<div class='list_and_footer_container'>
<div class='list_container' id='game_1176_comments_list_container'>
<div class='comments' id='comments_game_1176'>
<div class='comment_action' id='comment_action_game_1176'>
<a href="/games/jades-zombie-smasher-game/comments/new" class="new_comment" target="#form_container_game_1176">Comment</a>
</div>





<div class='comment_form_container' id='form_container_game_1176'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_game_1176'>
<a href="/games/jades-zombie-smasher-game/likes" class="like" target="#likes_game_1176">I like this</a>
</div>

<div class='comment_action_icon'></div>
<div class='comment_action' id='comment_action_game_1176'>
<a href="/games/jades-zombie-smasher-game/comments/new" class="new_comment" target="#form_container_game_1176">Comment</a>
</div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_game_1176'>
13,300 people like this
</div>

</div>
</div>
</div>

</div>

</div>

</div>

</div>
<div id='content_footer'></div>
</div>
<div id='sidebar_container'>
<div id='sidebar_header'>
<div class='title'></div>
</div>
<div id='sidebar_content'>
<div class='module_container the_games'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='list_container' id='sidebar_game_container'>
<div class='game_of_months_title_container'></div>
<ul class='list game_of_months jcarousel-skin-tango'>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/6890337/small.png?1350691328')">
<div class='link default_link'><a href="/games/jades-zombie-smasher-game" title="Jade's Zombie Smasher"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/6799490/small.png?1348611239')">
<div class='link default_link'><a href="/games/wankos-warehouse-game" title="Wanko's Warehouse"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/6737913/small.png?1347319005')">
<div class='link default_link'><a href="/games/kwakoo-sushi-tower-game" title="Sushi Tower Game"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/6423688/small.png?1343440477')">
<div class='link default_link'><a href="/games/mood-match" title="Mood Match Game "></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/6008648/small.png?1339435722')">
<div class='link default_link'><a href="/games/becks-wave-rider-game" title="Beck's Wave Rider"></a></div>
</li>
</ul>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

<div class='module_container the_tunes'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='sidebar_songs_container'>
<a href="/tunes#here-s-to-us" style="background-image: url(http://staticassets.www.theslap.com/images/6938293/sidebar.jpg?1352174971)">Here's to Us</a>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

<div class='hottest_pages module_container'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='hottest_pages_links_container'>
<a href="/profiles/tori-vega" title="Tori Vega"><img alt="Tori Vega" src="http://staticassets.www.theslap.com/unprocessed_images/146931/original.jpg?1273857395" /></a>
<a href="/profiles/andre-harris" title="Andre Harris"><img alt="Andre Harris" src="http://staticassets.www.theslap.com/unprocessed_images/146930/original.jpg?1273857393" /></a>
<a href="/profiles/trina-vega" title="Trina Vega"><img alt="Trina Vega" src="http://staticassets.www.theslap.com/unprocessed_images/146929/original.jpg?1273857392" /></a>
<a href="/profiles/robbie-shapiro" title="Robbie Shapiro"><img alt="Robbie Shapiro" src="http://staticassets.www.theslap.com/unprocessed_images/146928/original.jpg?1273857391" /></a>
<a href="/profiles/cat-valentine" title="Cat Valentine"><img alt="Cat Valentine" src="http://staticassets.www.theslap.com/unprocessed_images/146927/original.jpg?1273857390" /></a>
<a href="/profiles/beck-oliver" title="Beck Oliver"><img alt="Beck Oliver" src="http://staticassets.www.theslap.com/unprocessed_images/146926/original.jpg?1273857389" /></a>
<a href="/profiles/jade-west" title="Jade West"><img alt="Jade West" src="http://staticassets.www.theslap.com/unprocessed_images/146925/original.jpg?1273857387" /></a>
<a href="/profiles/rex-powers" title="Rex Powers"><img alt="Rex Powers" src="http://staticassets.www.theslap.com/unprocessed_images/146924/original.jpg?1273857386" /></a>
<a href="/profiles/sinjin-van-cleef" title="Sinjin Van Cleef"><img alt="Sinjin Van Cleef" src="http://staticassets.www.theslap.com/unprocessed_images/948376/original.jpg?1281388313" /></a>
<a href="/profiles/erwin-sikowitz" title="Erwin Sikowitz"><img alt="Erwin Sikowitz" src="http://staticassets.www.theslap.com/unprocessed_images/1219697/original.jpg?1284055516" /></a>
<a href="/profiles/lane-alexander" title="Lane Alexander"><img alt="Lane Alexander" src="http://staticassets.www.theslap.com/unprocessed_images/4108536/original.png?1314733249" /></a>
<a href="/profiles/festus" title="Festus"><img alt="Festus" src="http://staticassets.www.theslap.com/unprocessed_images/5635405/original.jpg?1334777370" /></a>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

</div>
<div id='sidebar_footer'></div>

</div>
</div>
<div id='body_shadow_right'></div>
</div>
<div id='body_shadow_bottom'></div>
<div id='footer_container'>
<div id='footer'>
<div id='footer_nav'>
<div class='link_block top_links'>
<a href="/">THE SLAP HOME</a>
<a href="/bump?to=%2Ffaq">FAQ/ABOUT US</a>
</div>
<div class='link_block'>
<a href="/">HOME</a>
<a href="/bump?to=%2Fprofiles">PROFILES</a>
<a href="/bump?to=%2Fclips">CLIPS</a>
<a href="/bump?to=%2Fpix">PIX</a>
<a href="/bump?to=%2Ftunes">TUNES</a>
<a href="/bump?to=%2Fgames">GAMES</a>
</div>
<div class='link_block'>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com%2Finfo%2Fprivacy-policy.html" rel="external">Privacy Policy/Your California Privacy Rights</a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com%2Finfo%2Fterms-of-use.html" rel="external">Terms of Use</a>
</div>
<div class='link_block'>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com%2Finfo%2Fcopyright.html" rel="external">Copyright Compliance Policy</a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com%2Finfo%2Fsafety-guide.html" rel="external">Safety Guide</a>
</div>
<div class='link_block'>
<a href="/bump?to=http%3A%2F%2Fsrp.mtvn.com%2Fsitefaq.html" class="viacom" rel="external">Ad Choices</a>
</div>
<div class='link_block'>
&copy; Copyright 2012 Viacom International Inc. All Rights Reserved
</div>
<div class='link_block'>
<div class='friends_title'>
Friends of Victorious
</div>
<div class='friends_container'>
<a href="/bump?to=http%3A%2F%2Fwww.icarly.com"><img alt="SplashFace" src="/images/friends/logo_splashface.gif?1269720656" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.icarly.com"><img alt="iCarly" src="/images/friends/logo_icarly.png?1269720656" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com"><img alt="Nick" src="/images/friends/logo_nick_com.png?1269720656" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com"><img alt="Nickelodean Kids &amp; Teens" src="/images/friends/logo_nick_kids_teens.gif?1269720656" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.icarly.com"><img alt="SplashFace" src="/images/friends/logo_zaplook.gif?1269720656" /></a>
</div>
</div>
</div>

</div>
</div>
</div>

</body>
</html>


