
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:esi='http://www.edge-delivery.org/esi/1.0' xmlns='http://www.w3.org/1999/xhtml'>
<head>
<title>
TheSlap | Hollywood Arts' Victorious - The Clips
</title>
<link href='/images/favicon.ico' rel='shortcut icon' type='image/x-icon' />
<script src="/javascripts/bundled/theslap.js?1276628144" type="text/javascript"></script>
<link href="/stylesheets/bundled/theslap.css?1277245544" media="screen" rel="stylesheet" type="text/css" />
<script src="/javascripts/support/vplayer.js?1275007278" type="text/javascript"></script>
<script src="/javascripts/bundled/assets.js?1269378793" type="text/javascript"></script>
<script src="/javascripts/videos_and_photos.js?1269378793" type="text/javascript"></script>
<script src="/javascripts/video_and_photo_lists.js?1276628144" type="text/javascript"></script>


<!--[if lt IE 7]>
<link href="/stylesheets/compiled/ie.css?1277245542" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if lt IE 8]>
<link href="/stylesheets/compiled/ie7.css?1277245544" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->

</head>
<body class='bp video_page videos'>

<div id='body_container'>
<div id='header_container'>
<div id='header'>
<div id='nav_adornment'></div>
<script type='text/javascript'>
  //<![CDATA[
    var user_menu_template = "    <ul>\n      <% try { %>\n        <li class=\"first\">Hello: <span class=\"user_name\"><%= user.username %><\/span><\/li>\n        <li><a href=\"/my/profile\">My profile<\/a><\/li>\n\n        <% if(user.admin) { %>\n          <li><a href=\"/admin/dashboard\">Admin dashboard<\/a><\/li>\n          <li><a href=\"/\">View site<\/a><\/li>\n        <% } %>\n        <li class=\"last\"><a href=\"/users/logout?return_to_after_logged_out=%2Fclips%2F63\">Logout<\/a><\/li>\n      <% } catch(err) { %>\n        <li><a href=\"/register\">Register<\/a><\/li>\n        <li class=\"last\"><a href=\"/users/login?return_to_if_logged_out=%2Fclips%2F63\" id=\"login_link\">Login<\/a><\/li>\n      <% } %>\n    <\/ul>\n";
  //]]>
</script>

<div id='user_menu'>
<noscript>
<h3 class='no_javascript_warning'>
Javascript is required to use TheSlap. Please enable Javascript and reload this page.
</h3>
</noscript>
</div>

<div id='logo'>
<a href='/'>
<object data='/swf/slap_logo.swf' height='103' id='slap_animation' type='application/x-shockwave-flash' width='327'>
<param name='wmode' value='transparent' />
<param name='movie' value='/swf/slap_logo.swf' />
<img alt='The Slap' src='/images/themes/default/home_logo.png' />
</object>
</a>
</div>
<div id='nav'>
<ul>
<li class='home first'><a href="/">Home</a></li>
<li class='characters'><a href="/profiles">Profiles</a></li>
<li class='videos'><a href="/clips?newest=true">Clips</a></li>
<li class='photos'><a href="/pix?newest=true">Pix</a></li>
<li class='songs'><a href="/tunes">Tunes</a></li>
<li class='games'><a href="/games">Games</a></li>
<li class='search last'><div id='search'>
<form action="/search" method="get">

<input class="search_field" id="q" name="q" placeholder="enter text here" size="15" type="text" />
<button id='search_button' type='submit'>
Search
</button>
</form>
</div>
</li>
</ul>
<div id='nav_bar_right_cap'></div>
</div>

</div>
</div>
<div id='main_container'>
<div id='body_shadow_top'></div>
<div id='body_shadow_left'></div>
<div id='main'>
<div id='content_container'>
<div id='content_callout_container'>
<div id='content_callout_tab'></div>
<div id='content_callout'>
<div id='banner_ad'>
<script type='text/javascript'>
  //<![CDATA[
    com.mtvi.ads.AdManager.placeAd({size:'728x90'});
  //]]>
</script>
</div>
</div>
</div>
<div id='content_header'>
<h1>The Clips</h1>
<div id='header_controls'><div class='also_see_container'><a href="/clips?newest=true">See All Clips</a></div>
</div>

</div>
<div class='video' id='content'>

<div id='content_top'><div class='fancy_info_block info_header'>
<div class='row title'>
<h2 class='label'>You're Watching:</h2>
<h2 class='value'>Cat's Stage Fighting </h2>
</div>
<div class='row description'>
<h2 class='label'>In This Video:</h2>
<h2 class='value'>OMG, I just watched this video and thought that I really got punched... then I remembered that it was just a video of our teacher dude showing us how to get fake punched.</h2>
</div>
<div class='row playlist'>
<h2 class='label'>Category:</h2>
<h2 class='value'><a href="/clips?playlist=9">Stage Fighting</a></h2>
</div>
<div class='row'>
<div class='asset_actions' id='video_63_asset_actions'>
<span id='video_63_favorite'>
<a href="/clips/cat-s-stage-fighting/favorites.js" class="add_favorite" title="Add to my page">Add to my page</a>

</span>

<span id='video_63_send_to_friend'>
<a href="/clips/cat-s-stage-fighting/send_to_friend/new" class="send_to_friend" title="Send to friend">Send to friend</a>
</span>

<span id='video_63_embed'>
<a href="/clips/cat-s-stage-fighting/embed/new" class="embed" title="Embed on your webpage">Embed on your webpage</a>
</span>

</div>

</div>
</div>
<div class='player_container'>
<div class='videoContainer' id='video_player'>
<div class='videoInfo'>
src=http://staticassets.www.theslap.com/videos/63/original.mp4?1271550288,width=570,height=321,config=/clips/cat-s-stage-fighting/playlist.xml
</div>
<div class='videoOverlay' id='clickToPlay'>
<img alt="Cat's Stage Fighting " height="321" src="http://staticassets.www.theslap.com/video_thumbnail_images/56093/large.jpg?1271550288" width="570" />
<div class='playIcon'>
<img alt="Play" height="60" src="/images/play_icon.png?1269571366" width="60" />
</div>
<div class='videoLoadingIndicator'>
<img alt="Loading" height="32" src="/images/loading_video.gif?1269571366" width="32" />
</div>
</div>
</div>
</div>
</div>
<div id='content_bottom'>
<div id='col_secondary'><div id='block_ad_container'>
<div id='block_ad_tab'>
<div class='title'>
advertisement
</div>
</div>
<div id='block_ad'>
<script type='text/javascript'>
  //<![CDATA[
    com.mtvi.ads.AdManager.placeAd({size:'300x250'});
  //]]>
</script>
</div>
</div>

</div>
<div id='col_primary'><div class='fancy_info_block info_footer'>
<div class='row uploaded_by'>
<h2 class='label'>Video Uploaded By:</h2>
<h2 class='value'><a href="/profiles/cat-valentine">Cat Valentine</a></h2>
</div>
<div class='row slapped'>
<h2 class='label'>Who is Slapped In This Video:</h2>
<div class='value slapped_container slapped_thumbnails'>
<div>
<a href="/clips?slapped=7"><img alt="Cat Valentine" src="http://staticassets.www.theslap.com/square_profile_images/63/medium.jpg?1269736642" /></a>
<br />
<strong>
<a href="/clips?slapped=7" title="Cat Valentine">Cat</a>
</strong>
</div>

</div>
</div>
</div>
<div class='comments_container list_section'>
<div class='subheader'>
<div class='comment_title'>
Comments
</div>
</div>
<div class='list_and_footer_container'>
<div class='list_container' id='video_63_comments_list_container'>
<div class='comments' id='comments_video_63'>
<div class='comment_action' id='comment_action_video_63'>
<a href="/clips/cat-s-stage-fighting/comments/new" class="new_comment" target="#form_container_video_63">Comment</a>
</div>

<div class='comment' id='comment_162663'>
<div class='photo'></div>
<div class='comment_body'>
<span class='commenter_name'>1cloud7</span>
that was a cool video 
</div>

</div>
<div class='comment' id='comment_162684'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/44207/tiny.png?1271194218" /></div>
<div class='comment_body'>
<span class='commenter_name'>EllieR</span>
it really does look like ur getting punched.... maybe thats y they call it theslap.com ;)
</div>

</div>
<div class='comment' id='comment_162900'>
<div class='photo'></div>
<div class='comment_body'>
<span class='commenter_name'>abellamoo</span>
funny
</div>

</div>
<div class='comment' id='comment_164975'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/47696/tiny.png?1271352271" /></div>
<div class='comment_body'>
<span class='commenter_name'>CaNdYLuV01</span>
i know i thought u really got hurt that scared me and great acting!!!LOL

</div>

</div>
<div class='comment' id='comment_165371'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/64708/tiny.png?1271701306" /></div>
<div class='comment_body'>
<span class='commenter_name'>tmorris</span>
That video was so alsome 
</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/clips/cat-s-stage-fighting/comments?comments_page=2&amp;id=cat-s-stage-fighting" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_video_63'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_video_63'>
<a href="/clips/cat-s-stage-fighting/likes" class="like" target="#likes_video_63">I like this</a>
</div>

<div class='comment_action_icon'></div>
<div class='comment_action' id='comment_action_video_63'>
<a href="/clips/cat-s-stage-fighting/comments/new" class="new_comment" target="#form_container_video_63">Comment</a>
</div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_video_63'>
7,813 people like this
</div>

</div>
</div>
</div>

</div>

</div>
<script type='text/javascript'>
  //<![CDATA[
                       
    $(function() {
        $('#video_player').vplayer({
            videoInfo: '.videoInfo', 
            support: ['mtvn', 'html', 'link'],
            overlay: {start: '#clickToPlay', end: '#clickToPlay'},
            videoLoadingIndicator: '.videoLoadingIndicator',   
            playIcon: '.playIcon',
            center: ['.playIcon', '.videoLoadingIndicator']
        })
    })
  //]]>
</script>

</div>

</div>
<div id='content_footer'></div>
</div>
<div id='sidebar_container'>
<div id='sidebar_header'>
<div class='title'></div>
</div>
<div id='sidebar_content'>
<div class='module_container the_games'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='list_container' id='sidebar_game_container'>
<div class='game_of_months_title_container'></div>
<ul class='list game_of_months jcarousel-skin-tango'>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/147292/small.png?1273865043')">
<div class='link default_link'><a href="/games/28" title="Hollywood Beats: You're the Reason"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/146936/small.png?1273857445')">
<div class='link default_link'><a href="/games/89" title="Beck Escapes Hollywood Hotties!"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/146934/small.png?1273857441')">
<div class='link default_link'><a href="/games/67" title="Sinjin's Locker Game"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/146935/small.png?1273857442')">
<div class='link default_link'><a href="/games/28" title="Hollywood Beats"></a></div>
</li>
</ul>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

<div class='module_container the_tunes'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='sidebar_songs_container'>
<a href="/tunes#finally-falling" style="background-image: url(http://staticassets.www.theslap.com/images/121131/sidebar.jpg?1273359060)">Finally Falling</a>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

<div class='hottest_pages module_container'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='hottest_pages_links_container'>
<a href="/profiles/tori-vega" title="Tori's Profile"><img alt="Tori's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146931/original.jpg?1273857395" /></a>
<a href="/profiles/andre-harris" title="Andre's Profile"><img alt="Andre's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146930/original.jpg?1273857393" /></a>
<a href="/profiles/trina-vega" title="Trina's Profile"><img alt="Trina's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146929/original.jpg?1273857392" /></a>
<a href="/profiles/robbie-shapiro" title="Robbie's Profile"><img alt="Robbie's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146928/original.jpg?1273857391" /></a>
<a href="/profiles/cat-valentine" title="Cat's Profile"><img alt="Cat's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146927/original.jpg?1273857390" /></a>
<a href="/profiles/beck-oliver" title="Beck's Profile"><img alt="Beck's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146926/original.jpg?1273857389" /></a>
<a href="/profiles/jade-west" title="Jade's Profile"><img alt="Jade's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146925/original.jpg?1273857387" /></a>
<a href="/profiles/rex-powers" title="Rex's Profile"><img alt="Rex's Profile" src="http://staticassets.www.theslap.com/unprocessed_images/146924/original.jpg?1273857386" /></a>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

</div>
<div id='sidebar_footer'></div>

</div>
</div>
<div id='body_shadow_right'></div>
</div>
<div id='body_shadow_bottom'></div>
<div id='footer_container'>
<div id='footer'>
<div id='footer_nav'>
<div class='link_block top_links'>
<a href="/">THE SLAP HOME</a>
<a href="/faq">FAQ/ABOUT US</a>
</div>
<div class='link_block'>
<a href="/">HOME</a>
<a href="/profiles">PROFILES</a>
<a href="/clips">CLIPS</a>
<a href="/pix">PIX</a>
<a href="/tunes">TUNES</a>
<a href="/games">GAMES</a>
</div>
<div class='link_block'>
<a href="http://www.nick.com/info/privacy-policy.html" target="_new">Privacy Policy/Your California Privacy Rights</a>
<a href="http://www.nick.com/info/terms-of-use.html" target="_new">Terms of Use</a>
</div>
<div class='link_block'>
<a href="http://www.nick.com/info/copyright.html" target="_new">Copyright Compliance Policy</a>
<a href="http://www.nick.com/info/safety-guide.html" target="_new">Safety Guide</a>
</div>
<div class='link_block'>
&copy; Copyright 2010 Viacom International Inc. All Rights Reserved
</div>
<div class='link_block'>
<div class='friends_title'>
Friends of Victorious
</div>
<div class='friends_container'>
<a href="http://www.icarly.com"><img alt="SplashFace" src="/images/friends/logo_splashface.gif?1269720656" /></a>
<a href="http://www.icarly.com"><img alt="iCarly" src="/images/friends/logo_icarly.png?1269720656" /></a>
<a href="http://www.nick.com"><img alt="Nick" src="/images/friends/logo_nick_com.png?1269720656" /></a>
<a href="http://www.nick.com"><img alt="Nickelodean Kids &amp; Teens" src="/images/friends/logo_nick_kids_teens.gif?1269720656" /></a>
<a href="http://www.icarly.com"><img alt="SplashFace" src="/images/friends/logo_zaplook.gif?1269720656" /></a>
</div>
</div>
</div>

</div>
</div>
</div>
<script type='text/javascript'>
  //<![CDATA[
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  //]]>
</script>
<script type='text/javascript'>
  //<![CDATA[
    try {
    var pageTracker = _gat._getTracker("UA-12758561-1");
    pageTracker._trackPageview();
    } catch(err) {}
  //]]>
</script>

</body>
</html>


