<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

                
        



<html xmlns:esi='http://www.edge-delivery.org/esi/1.0' xmlns='http://www.w3.org/1999/xhtml'>
<head>
<title>
Festus | TheSlap | Hollywood Arts' Victorious
</title>
<meta content='The Slap' property='og:site_name' />
<meta content='http://www.theslap.com/profiles/festus' property='og:url' />
<meta content='Festus' property='og:title' />
<meta content='http://staticassets.www.theslap.com/profile_images/3649614/original.png?1311376800' property='og:image' />
<meta content='' property='og:description' />

<link href='/images/favicon.ico' rel='shortcut icon' type='image/x-icon' />
<script src="/javascripts/bundled/theslap.js?1451922776" type="text/javascript"></script>
<link href="/stylesheets/bundled/theslap.css?1451924671" media="screen" rel="stylesheet" type="text/css" />
<script src="/javascripts/custom/fans/init.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/fontjazz/fontjazz.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/custom/characters/init.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/fontjazz/charnames.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/character.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/flowplayer-3.1.4.min.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/support/swfobject.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/support/vplayer.js?1451922776" type="text/javascript"></script>
<script src="/javascripts/custom/video/init.js?1451922776" type="text/javascript"></script>


<!--[if lt IE 7]>
<link href="/stylesheets/compiled/ie.css?1451924669" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if lt IE 8]>
<link href="/stylesheets/compiled/ie7.css?1451924671" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->

</head>
<body class='bp character_page characters'>
<script src="/javascripts/support/adunit.js?1451922776" type="text/javascript"></script>
<script src="http://btg.mtvnservices.com/aria/coda.html?site=theslap.com" type="text/javascript"></script>
<script src="/javascripts/support/coda_config.js?1451922776" type="text/javascript"></script>

<div id='body_container'>
<div id='header_container'>
<div id='header'>
<div id='nav_adornment'></div>
<div id='logo_bg'></div>
<script type='text/javascript'>
  //<![CDATA[
    var user_menu_template = "    <ul>\n      <% try { %>\n        <li class=\"first\">Hello: <span class=\"user_name\"><%= user.username %><\/span><\/li>\n        <li><a href=\"/my/profile\">My profile<\/a><\/li>\n\n        <% if(user.admin) { %>\n          <li><a href=\"/admin/dashboard\">Admin dashboard<\/a><\/li>\n          <li><a href=\"/\">View site<\/a><\/li>\n        <% } %>\n        <li class=\"last\"><a href=\"/users/logout?return_to_after_logged_out=%2Fprofiles%2Ffestus\">Logout<\/a><\/li>\n      <% } catch(err) { %>\n        <li><a href=\"/register\">Register<\/a><\/li>\n        <li class=\"last\"><a href=\"/users/pickles?return_to_if_logged_out=%2Fprofiles%2Ffestus\" id=\"login_link\">Login<\/a><\/li>\n      <% } %>\n    <\/ul>\n";
  //]]>
</script>

<a href='http://www.theslap.com/users/pickles' id='admin_login_link'></a>
<div id='deprecated_user_menu'>
<noscript>
<h3 class='no_javascript_warning'>
Javascript is required to use TheSlap. Please enable Javascript and reload this page.
</h3>
</noscript>
</div>

<div id='logo'>
<a href='/'>
<object data='/swf/slap_logo.swf' height='103' id='slap_animation' type='application/x-shockwave-flash' width='327'>
<param name='wmode' value='transparent' />
<param name='movie' value='/swf/slap_logo.swf' />
<img alt='The Slap' src='/images/themes/default/home_logo.png' />
</object>
</a>
</div>
<div id='nav'>
<ul>
<li class='home first'><a href="/">Home</a></li>
<li class='characters'><a href="/profiles">Profiles</a></li>
<li class='videos'><a href="/clips?newest=true">Clips</a></li>
<li class='photos'><a href="/pix?newest=true">Pix</a></li>
<li class='songs'><a href="/tunes">Tunes</a></li>
<li class='games'><a href="/games">Games</a></li>
<li class='search last'><div id='search'>
<form action="/search" method="get">

<input class="search_field" id="q" name="q" placeholder="enter text here" size="15" type="text" />
<button id='search_button' type='submit'>
Search
</button>
</form>
</div>
</li>
</ul>
<div id='nav_bar_right_cap'></div>
</div>

</div>
</div>
<div id='main_container'>
<div id='body_shadow_top'></div>
<div id='body_shadow_left'></div>
<div id='main'>
<div id='content_container'>
<div id='content_callout_container'>
<div id='content_callout_tab'>
<div id='content_callout'>
<div id='banner_ad'>
<script type='text/javascript'>
  //<![CDATA[
    mtvn.btg.Controller.placeAd({size:'728x90',contentType:"adi",keyValues:"!category=expand;!category=vic",sections:zone});
  //]]>
</script>
</div>
</div>
</div>
</div>

<div id='content_header'>
<h1>Festus's Page</h1>
<div id='header_controls'></div>

</div>
<div class='character' id='content'>

<div id='content_top'><div class='character' id='character_12'>
<div class='profile_header' style="background-image: url('http://staticassets.www.theslap.com/unprocessed_images/3649617/original.jpg?1311376801')">
<div class='photo_container'>
<div class='photo'>
<img alt="Festus" src="http://staticassets.www.theslap.com/profile_images/3649614/medium.png?1311376800" />
</div>
<a href="/pix?slapped=12"><div class='photo_frame'></div>
</a></div>

<div class='info'>
<div class='name'>
<h2 style="background-image: url('http://staticassets.www.theslap.com/unprocessed_images/3649618/original.png?1311376800')">
Festus's Page
</h2>
</div>
<div class='current_status'>
<div class='title'>
<span class='first_letter'>N</span>ewest <span class='first_letter'>U</span>pdate:
</div>
<div class='mood_container'>
<div class='mood_title'>
Mood
</div>
<div class='icon'><img alt="" src="http://staticassets.www.theslap.com/unprocessed_images/9/original.gif?1269736617" /></div>
<div class='mood_word'>
sad
</div>
</div>

<div id='current_status_pulse'></div>
<div class='message'>Free lunch for whoever remembered my birthday yesterday!!! Oh that's right, no one remembered! No free lunches for anyone! </div>
</div>
<div class='fans_and_relationship_container'>
<div class='fans'>
<div class='fan_container'>
<div class='become_fan hidden'>
<a href="/profiles/festus/become_fan" target=".fan_container">Become a fan</a>
</div>
<div class='fan_status'>
Festus has <span class='count'>155,063</span> Fans!
</div>
</div>

</div>

<div class='relationship'>

</div>
</div>
</div>
</div>
</div>
</div>
<div id='content_bottom'>
<div id='col_secondary'><div class='character_favorite_videos'>
<div class='module_container'>
<div class='module_header'>
<div class='module_title'>
<div class='character_name'>
<h1>Festus's</h1>
</div>
<h2 class='module_type'>Video</h2>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='list_backdrop'>
<div class='list_container video_favorite_list_container'>
<ul class='jcarousel-skin-tango list video_favorite_list'>
<li class='item video_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/clips/the-wood">The Wood</a></div>
<div class='cell image'><a href="/clips/the-wood"><img alt="The Wood" src="http://staticassets.www.theslap.com/video_thumbnail_images/2174529/medium.png?1296870915" /></a></div>
<div class='cell cover'><a href="/clips/the-wood"></a></div>
<div class='cell description'><a href="/clips/the-wood">We got all excited about watching ourselves on REALITY TV! But we so didn't know that "reality" TV is TOTALLY FAKE!</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/andre-harris">created by Andre</a>
</div>
</li>
</ul>
</div>

</div>

</div>
<div class='module_body_footer'>
<a href="/clips?newest=true">See All</a>

</div>
</div>
<div class='module_footer'></div>
</div>

</div>
<div class='character_favorite_photo_playlists'>
<div class='module_container'>
<div class='module_header'>
<div class='module_title'>
<div class='character_name'>
<h1>Festus's</h1>
</div>
<h2 class='module_type'>Photo Playlist</h2>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='list_backdrop'>
<div class='list_container photo_playlist_favorite_list_container'>
<ul class='jcarousel-skin-tango list photo_playlist_favorite_list'>
<li class='item photo_playlist_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/pix?playlist=111">Holy Mole-y!</a></div>
<div class='cell image'><a href="/pix?playlist=111"><img alt="Holy Mole-y!" src="http://staticassets.www.theslap.com/images/6674379/medium.jpg?1346268067" /></a></div>
<div class='cell cover'><a href="/pix?playlist=111"></a></div>
<div class='cell description'><a href="/pix?playlist=111">We've recently found out that a lot of our Hollywood Arts friends have very weird moles. Who knew Kwakoo had a mole of Texas on his bicep! And there's more...</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/cat-valentine">created by Cat</a>
</div>
</li>
<li class='item photo_playlist_favorite_item'>
<div class='primary_container'>
<div class='cell title'><a href="/pix?playlist=44">The Wood</a></div>
<div class='cell image'><a href="/pix?playlist=44"><img alt="The Wood" src="http://staticassets.www.theslap.com/images/2171209/medium.jpg?1296850405" /></a></div>
<div class='cell cover'><a href="/pix?playlist=44"></a></div>
<div class='cell description'><a href="/pix?playlist=44">While filming "The Wood," we learned a few things: Reality TV is fake, Festus has a jank car, and Sinjin's a dork!</a></div>
</div>
<div class='cell created_by'>
<a href="/profiles/jade-west">created by Jade</a>
</div>
</li>
</ul>
</div>

</div>

</div>
<div class='module_body_footer'>
<a href="/pix?newest=true">See All</a>

</div>
</div>
<div class='module_footer'></div>
</div>

</div>
<div id='block_ad_container'>
<div id='block_ad_tab'>
<div class='title'>
advertisement
</div>
</div>
<div id='block_ad'>
<script type='text/javascript'>
  //<![CDATA[
    mtvn.btg.Controller.placeAd({size:'300x250',contentType:"adi",keyValues:"!category=expand;!category=vic",sections:zone})
  //]]>
</script>
</div>
</div>

</div>
<div id='col_primary'><div class='buzz list_container wall_item_list_container' id='buzz_character_12'>
<div class='list_title_container'>
<div class='character_name'>
<h1>Festus's</h1>
</div>
<div class='list_title'>Board</div>
</div>
<div class='list wall_item_list'>
<div class='list_item status_update wall_item_item' id='wall_item_3797'>
<div id='status_update_1571'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/festus"><img alt="Festus" src="http://staticassets.www.theslap.com/square_profile_images/3649615/medium.jpg?1311376801" /></a>
</div>
<a href="/profiles/festus">Festus</a>
</div>
<div class='post_container'>
<div class='mood_container'>
<div class='mood_title'>Mood</div>
<div class='cell mood'><div class='mood_icon'><img alt="" src="http://staticassets.www.theslap.com/unprocessed_images/9/original.gif?1269736617" /></div>
<div class='mood_word'>sad</div>
</div>
</div>
<div class='cell message'>
Free lunch for whoever remembered my birthday yesterday!!! Oh that's right, no one remembered! No free lunches for anyone! 
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3797_comments_list_container'>
<div class='comments' id='comments_wall_item_3797'>





<div class='comment_form_container' id='form_container_wall_item_3797'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3797'>
<a href="/wall_items/3797/likes" class="like" target="#likes_wall_item_3797">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3797'>
8,044 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='status_update_1571_asset_actions'>



</div>


</div>
</div>

</div>
<div class='list_item status_update wall_item_item' id='wall_item_3596'>
<div id='status_update_1521'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/festus"><img alt="Festus" src="http://staticassets.www.theslap.com/square_profile_images/3649615/medium.jpg?1311376801" /></a>
</div>
<a href="/profiles/festus">Festus</a>
</div>
<div class='post_container'>
<div class='mood_container'>
<div class='mood_title'>Mood</div>
<div class='cell mood'><div class='mood_icon'><img alt="" src="http://staticassets.www.theslap.com/unprocessed_images/20/original.gif?1269736619" /></div>
<div class='mood_word'>hairy</div>
</div>
</div>
<div class='cell message'>
I can't wait to get married because I hate trimming my nose hairs all by myself.  
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3596_comments_list_container'>
<div class='comments' id='comments_wall_item_3596'>

<div class='comment' id='comment_8345553'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7146610/tiny.png?1356048140" /></div>
<div class='comment_body'>
<span class='commenter_name'>luke2005</span>
hay  i  know  you  cook  can  you come  to  my  house  and  cook
</div>

</div>
<div class='comment' id='comment_8345659'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7285308/tiny.png?1358648545" /></div>
<div class='comment_body'>
<span class='commenter_name'>milerania</span>
I doubt a woman will do that for you, Festus
</div>

</div>
<div class='comment' id='comment_8345684'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7147046/tiny.png?1356053629" /></div>
<div class='comment_body'>
<span class='commenter_name'>moodygirl4</span>
your gross

</div>

</div>
<div class='comment' id='comment_8345818'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7453633/tiny.png?1362007653" /></div>
<div class='comment_body'>
<span class='commenter_name'>lot40152</span>
HUH?!?! 
</div>

</div>
<div class='comment' id='comment_8346087'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7140610/tiny.png?1355889173" /></div>
<div class='comment_body'>
<span class='commenter_name'>daisy33221</span>
ur getting married YAY
</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/wall_items/3596/comments?comments_page=2&amp;id=festus" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_wall_item_3596'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3596'>
<a href="/wall_items/3596/likes" class="like" target="#likes_wall_item_3596">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3596'>
5,055 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='status_update_1521_asset_actions'>



</div>


</div>
</div>

</div>
<div class='list_item status_update wall_item_item' id='wall_item_3501'>
<div id='status_update_1496'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/festus"><img alt="Festus" src="http://staticassets.www.theslap.com/square_profile_images/3649615/medium.jpg?1311376801" /></a>
</div>
<a href="/profiles/festus">Festus</a>
</div>
<div class='post_container'>
<div class='mood_container'>
<div class='mood_title'>Mood</div>
<div class='cell mood'><div class='mood_icon'><img alt="" src="http://staticassets.www.theslap.com/unprocessed_images/19/original.gif?1269736619" /></div>
<div class='mood_word'>hungry</div>
</div>
</div>
<div class='cell message'>
I'm always making food for you kids. Why don't you cook for me for a change!?! 
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3501_comments_list_container'>
<div class='comments' id='comments_wall_item_3501'>

<div class='comment' id='comment_8404581'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7219848/tiny.png?1357272611" /></div>
<div class='comment_body'>
<span class='commenter_name'>60793</span>
totaly agree
</div>

</div>
<div class='comment' id='comment_8407081'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7222873/tiny.png?1357335951" /></div>
<div class='comment_body'>
<span class='commenter_name'>ENVELOPE</span>
i agree with tori
</div>

</div>
<div class='comment' id='comment_8407322'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7219905/tiny.png?1357273787" /></div>
<div class='comment_body'>
<span class='commenter_name'>BATB</span>
Because you own  food truck and thats your job 
</div>

</div>
<div class='comment' id='comment_8407405'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7223328/tiny.png?1357340811" /></div>
<div class='comment_body'>
<span class='commenter_name'>acornchip</span>
cause they cant cook
</div>

</div>
<div class='comment' id='comment_8407889'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7224087/tiny.png?1357349618" /></div>
<div class='comment_body'>
<span class='commenter_name'>runner38</span>
maybe because it's your job to cook
</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/wall_items/3501/comments?comments_page=2&amp;id=festus" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_wall_item_3501'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3501'>
<a href="/wall_items/3501/likes" class="like" target="#likes_wall_item_3501">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3501'>
3,415 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='status_update_1496_asset_actions'>



</div>


</div>
</div>

</div>
<div class='list_item status_update wall_item_item' id='wall_item_3412'>
<div id='status_update_1469'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/festus"><img alt="Festus" src="http://staticassets.www.theslap.com/square_profile_images/3649615/medium.jpg?1311376801" /></a>
</div>
<a href="/profiles/festus">Festus</a>
</div>
<div class='post_container'>
<div class='mood_container'>
<div class='mood_title'>Mood</div>
<div class='cell mood'><div class='mood_icon'><img alt="" src="http://staticassets.www.theslap.com/unprocessed_images/19/original.gif?1269736619" /></div>
<div class='mood_word'>festive</div>
</div>
</div>
<div class='cell message'>
Thanksgiving Eve. The night when the Great Turkey comes down the chimney and puts green bean casserole in our stockings. 
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3412_comments_list_container'>
<div class='comments' id='comments_wall_item_3412'>

<div class='comment' id='comment_8241181'>
<div class='photo'><a href="/profiles/tori-vega"><img alt="Small" src="http://staticassets.www.theslap.com/square_profile_images/43/small.jpg?1348347275" /></a></div>
<div class='comment_body'>
<span class='commenter_name'><a href="/profiles/tori-vega">Tori</a></span>
That's actually not how we celebrate Thanksgiving -- AT ALL.
</div>

</div>
<div class='comment' id='comment_8268787'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/6766215/tiny.png?1347919348" /></div>
<div class='comment_body'>
<span class='commenter_name'>poney1</span>
lol
</div>

</div>
<div class='comment' id='comment_8268958'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7055289/tiny.png?1353982427" /></div>
<div class='comment_body'>
<span class='commenter_name'>pinkdoodle</span>
I agree with Tori!!!
</div>

</div>
<div class='comment' id='comment_8269081'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/6483995/tiny.png?1344096699" /></div>
<div class='comment_body'>
<span class='commenter_name'>doglova02</span>
Tori's right.
</div>

</div>
<div class='comment' id='comment_8269334'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7046561/tiny.png?1353866262" /></div>
<div class='comment_body'>
<span class='commenter_name'>vvictorius</span>
tori's right that is not how we celebrate Thanksgiving at
all
</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/wall_items/3412/comments?comments_page=2&amp;id=festus" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_wall_item_3412'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3412'>
<a href="/wall_items/3412/likes" class="like" target="#likes_wall_item_3412">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3412'>
3,307 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='status_update_1469_asset_actions'>



</div>


</div>
</div>

</div>
<div class='list_item status_update wall_item_item' id='wall_item_3384'>
<div id='status_update_1456'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/festus"><img alt="Festus" src="http://staticassets.www.theslap.com/square_profile_images/3649615/medium.jpg?1311376801" /></a>
</div>
<a href="/profiles/festus">Festus</a>
</div>
<div class='post_container'>
<div class='mood_container'>
<div class='mood_title'>Mood</div>
<div class='cell mood'><div class='mood_icon'><img alt="" src="http://staticassets.www.theslap.com/unprocessed_images/908850/original.gif?1281036940" /></div>
<div class='mood_word'>soggy</div>
</div>
</div>
<div class='cell message'>
I submerge my submarine sandwiches in a bucket of water before serving them. It makes them more like a real submarine. 
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3384_comments_list_container'>
<div class='comments' id='comments_wall_item_3384'>

<div class='comment' id='comment_8203630'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/6977300/tiny.png?1352558892" /></div>
<div class='comment_body'>
<span class='commenter_name'>bluegold13</span>
never eating that!!
</div>

</div>
<div class='comment' id='comment_8205271'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/6950071/tiny.png?1351951434" /></div>
<div class='comment_body'>
<span class='commenter_name'>dapsa</span>
That's....interesting...
</div>

</div>
<div class='comment' id='comment_8206086'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/6978444/tiny.png?1352570417" /></div>
<div class='comment_body'>
<span class='commenter_name'>ArizoJ</span>
it's alright Festus
</div>

</div>
<div class='comment' id='comment_8206849'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7136256/tiny.png?1355783856" /></div>
<div class='comment_body'>
<span class='commenter_name'>heartfeet</span>
GROSS!!!!!!!!!!!!!!!!!!!!!!!!!!
</div>

</div>
<div class='comment' id='comment_8207844'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/6980611/tiny.png?1352593883" /></div>
<div class='comment_body'>
<span class='commenter_name'>oron</span>
grosss
</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/wall_items/3384/comments?comments_page=2&amp;id=festus" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_wall_item_3384'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3384'>
<a href="/wall_items/3384/likes" class="like" target="#likes_wall_item_3384">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3384'>
2,096 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='status_update_1456_asset_actions'>



</div>


</div>
</div>

</div>
<div class='list_item status_update wall_item_item' id='wall_item_3363'>
<div id='status_update_1445'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/festus"><img alt="Festus" src="http://staticassets.www.theslap.com/square_profile_images/3649615/medium.jpg?1311376801" /></a>
</div>
<a href="/profiles/festus">Festus</a>
</div>
<div class='post_container'>
<div class='mood_container'>
<div class='mood_title'>Mood</div>
<div class='cell mood'><div class='mood_icon'><img alt="" src="http://staticassets.www.theslap.com/unprocessed_images/1/original.gif?1269736615" /></div>
<div class='mood_word'>grossed out</div>
</div>
</div>
<div class='cell message'>
You people need to buy more meatloaf! I always eat all of the Grub Truck's leftovers and I HATE meatloaf!
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3363_comments_list_container'>
<div class='comments' id='comments_wall_item_3363'>

<div class='comment' id='comment_8170058'>
<div class='photo'><a href="/profiles/andre-harris"><img alt="Small" src="http://staticassets.www.theslap.com/square_profile_images/33/small.jpg?1330544256" /></a></div>
<div class='comment_body'>
<span class='commenter_name'><a href="/profiles/andre-harris">Andre</a></span>
You could always NOT eat the leftovers.
</div>

</div>
<div class='comment' id='comment_8170062'>
<div class='photo'><a href="/profiles/festus"><img alt="Small" src="http://staticassets.www.theslap.com/square_profile_images/3649615/small.jpg?1311376801" /></a></div>
<div class='comment_body'>
<span class='commenter_name'><a href="/profiles/festus">Festus</a></span>
I don't make the rules here buddy. 
</div>

</div>
<div class='comment' id='comment_8188412'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7340235/tiny.png?1359501042" /></div>
<div class='comment_body'>
<span class='commenter_name'>Anesty</span>
its o.k i don't like it ether 
</div>

</div>
<div class='comment' id='comment_8188643'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7701042/tiny.png?1370960278" /></div>
<div class='comment_body'>
<span class='commenter_name'>11tuka</span>
just ask for something else
</div>

</div>
<div class='comment' id='comment_8188684'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/6957895/tiny.png?1352055856" /></div>
<div class='comment_body'>
<span class='commenter_name'>yasmin898</span>
ok
</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/wall_items/3363/comments?comments_page=2&amp;id=festus" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_wall_item_3363'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3363'>
<a href="/wall_items/3363/likes" class="like" target="#likes_wall_item_3363">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3363'>
2,216 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='status_update_1445_asset_actions'>



</div>


</div>
</div>

</div>
<div class='list_item status_update wall_item_item' id='wall_item_3271'>
<div id='status_update_1409'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/festus"><img alt="Festus" src="http://staticassets.www.theslap.com/square_profile_images/3649615/medium.jpg?1311376801" /></a>
</div>
<a href="/profiles/festus">Festus</a>
</div>
<div class='post_container'>
<div class='mood_container'>
<div class='mood_title'>Mood</div>
<div class='cell mood'><div class='mood_icon'><img alt="" src="http://staticassets.www.theslap.com/unprocessed_images/19/original.gif?1269736619" /></div>
<div class='mood_word'>eaty</div>
</div>
</div>
<div class='cell message'>
It's so hot you could fry an egg on the sidewalk. Which is exactly how I made your breakfasts this morning! Surprise! 
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3271_comments_list_container'>
<div class='comments' id='comments_wall_item_3271'>

<div class='comment' id='comment_8141838'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/6467483/tiny.png?1343924968" /></div>
<div class='comment_body'>
<span class='commenter_name'>bluesean14</span>
that's so gross!
</div>

</div>
<div class='comment' id='comment_8142044'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/6898293/tiny.png?1350820709" /></div>
<div class='comment_body'>
<span class='commenter_name'>capa2k</span>
i wish i was able to do that, but i cant were i live

</div>

</div>
<div class='comment' id='comment_8142075'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/6898369/tiny.png?1350823076" /></div>
<div class='comment_body'>
<span class='commenter_name'>gcvfr</span>
that is a verry funny joke
</div>

</div>
<div class='comment' id='comment_8142113'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/6884657/tiny.png?1350530349" /></div>
<div class='comment_body'>
<span class='commenter_name'>GONC</span>
Ewww good thing I didn't eat there this morning
</div>

</div>
<div class='comment' id='comment_8143506'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/5071390/tiny.png?1327768703" /></div>
<div class='comment_body'>
<span class='commenter_name'>Niajeerah</span>
GROSS DUDE!!!!!!!!! :(
</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/wall_items/3271/comments?comments_page=2&amp;id=festus" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_wall_item_3271'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3271'>
<a href="/wall_items/3271/likes" class="like" target="#likes_wall_item_3271">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3271'>
2,255 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='status_update_1409_asset_actions'>



</div>


</div>
</div>

</div>
<div class='list_item status_update wall_item_item' id='wall_item_3182'>
<div id='status_update_1372'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/festus"><img alt="Festus" src="http://staticassets.www.theslap.com/square_profile_images/3649615/medium.jpg?1311376801" /></a>
</div>
<a href="/profiles/festus">Festus</a>
</div>
<div class='post_container'>
<div class='mood_container'>
<div class='mood_title'>Mood</div>
<div class='cell mood'><div class='mood_icon'><img alt="" src="http://staticassets.www.theslap.com/unprocessed_images/1404966/original.gif?1287003300" /></div>
<div class='mood_word'>butterflies</div>
</div>
</div>
<div class='cell message'>
You haven't lived until you've had my famous butter milkshakes. The secret is the butter.  
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3182_comments_list_container'>
<div class='comments' id='comments_wall_item_3182'>

<div class='comment' id='comment_8025336'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/6757075/tiny.png?1347759746" /></div>
<div class='comment_body'>
<span class='commenter_name'>slokett</span>
uh who puts butter in milk shakes

</div>

</div>
<div class='comment' id='comment_8025546'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/6757766/tiny.png?1347767184" /></div>
<div class='comment_body'>
<span class='commenter_name'>chk</span>
yum?
</div>

</div>
<div class='comment' id='comment_8025698'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/6759010/tiny.png?1347807620" /></div>
<div class='comment_body'>
<span class='commenter_name'>findser</span>
ew
</div>

</div>
<div class='comment' id='comment_8025759'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/6575078/tiny.png?1344999007" /></div>
<div class='comment_body'>
<span class='commenter_name'>val6466</span>
no way...... so awsome

</div>

</div>
<div class='comment' id='comment_8025849'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7314925/tiny.png?1359085148" /></div>
<div class='comment_body'>
<span class='commenter_name'>plug9</span>
hi festus
</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/wall_items/3182/comments?comments_page=2&amp;id=festus" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_wall_item_3182'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3182'>
<a href="/wall_items/3182/likes" class="like" target="#likes_wall_item_3182">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3182'>
2,264 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='status_update_1372_asset_actions'>



</div>


</div>
</div>

</div>
<div class='list_item status_update wall_item_item' id='wall_item_3172'>
<div id='status_update_1364'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/festus"><img alt="Festus" src="http://staticassets.www.theslap.com/square_profile_images/3649615/medium.jpg?1311376801" /></a>
</div>
<a href="/profiles/festus">Festus</a>
</div>
<div class='post_container'>
<div class='mood_container'>
<div class='mood_title'>Mood</div>
<div class='cell mood'><div class='mood_icon'><img alt="" src="http://staticassets.www.theslap.com/unprocessed_images/19/original.gif?1269736619" /></div>
<div class='mood_word'>hungry</div>
</div>
</div>
<div class='cell message'>
There are so many wild cats in the Hollywood Arts parking lot. And cat meat is illegal in the U.S. Such a waste. 
</div>
<div class='cell comments'><div class='comments_container'>
<div class='list_and_footer_container'>
<div class='list_container' id='wall_item_3172_comments_list_container'>
<div class='comments' id='comments_wall_item_3172'>

<div class='comment' id='comment_7992429'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/7240742/tiny.png?1357681699" /></div>
<div class='comment_body'>
<span class='commenter_name'>t34cool</span>
Umm... Festus I think u offended Cat
</div>

</div>
<div class='comment' id='comment_7992880'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/6559337/tiny.png?1344867697" /></div>
<div class='comment_body'>
<span class='commenter_name'>freezepo</span>
FESTUS!!!! THATS TERRIBLE!!!
</div>

</div>
<div class='comment' id='comment_7993458'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/5088693/tiny.png?1327897528" /></div>
<div class='comment_body'>
<span class='commenter_name'>emmy2961</span>
you can't feed that to teenagers 
</div>

</div>
<div class='comment' id='comment_7993536'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/6755543/tiny.png?1347747504" /></div>
<div class='comment_body'>
<span class='commenter_name'>beewho3454</span>
not my cats
</div>

</div>
<div class='comment' id='comment_7994601'>
<div class='photo'><img alt="Tiny" src="http://staticassets.www.theslap.com/avatar_images/6940017/tiny.png?1351687343" /></div>
<div class='comment_body'>
<span class='commenter_name'>Skipito</span>
I never realized!
</div>

</div>

<div class="pagination"><span class="disabled prev_page"><b><b></b></b> previous</span> <a href="/wall_items/3172/comments?comments_page=2&amp;id=festus" class="next_page" rel="next">read more <b><b></b></b></a></div>


<div class='comment_form_container' id='form_container_wall_item_3172'></div>
</div>

</div>
<div class='footer'>
<div class='actions'>
<div class='action_bar'>
<div class='like_action_icon'></div>
<div class='like_action' id='like_action_wall_item_3172'>
<a href="/wall_items/3172/likes" class="like" target="#likes_wall_item_3172">I like this</a>
</div>

<div class='deprecated_comment_action_icon'></div>

</div>
</div>
<div class='likes_container'>
<div id='like_status_wall_item_3172'>
1,884 people like this
</div>

</div>
</div>
</div>

</div>
</div>
<div class='asset_actions' id='status_update_1364_asset_actions'>



</div>


</div>
</div>

</div>
<div class='list_item photo_playlist wall_item_item' id='wall_item_3159'>
<div id='photo_playlist_111'>
<div class='cell poster'>
<div class='photo'>
<a href="/profiles/cat-valentine"><img alt="Cat" src="http://staticassets.www.theslap.com/square_profile_images/63/medium.png?1350689024" /></a>
</div>
<a href="/profiles/cat-valentine">Cat</a>
</div>
<div class='post_container'>
<div class='cell message'>
<a href="/pix?playlist=111">Cat slapped Festus in a photo gallery</a>
</div>
<div class='cell enclosure'>
<div class='cell image'>
<a href="/galleries/111/slideshow#http://staticassets.www.theslap.com/images/6674375/large.jpg"><img alt="Kwakoo's Stately Mole" src="http://staticassets.www.theslap.com/images/6674375/thumb.jpg?1346267984" /></a>
<a href="/galleries/111/slideshow#http://staticassets.www.theslap.com/images/6674379/large.jpg"><img alt="Festus' Bunny Mole" src="http://staticassets.www.theslap.com/images/6674379/thumb.jpg?1346268067" /></a>
<a href="/galleries/111/slideshow#http://staticassets.www.theslap.com/images/6674271/large.jpg"><img alt="Foot Note!  " src="http://staticassets.www.theslap.com/images/6674271/thumb.jpg?1346266953" /></a>
</div>
<div class='meta_data'>
<div class='cell title'>
<a href="/pix?playlist=111">Holy Mole-y!</a>
</div>
<div class='cell description'>
<a href="/pix?playlist=111">We've recently found out that a lot of our Hollywood Arts friends have very weird moles. Who knew Kwakoo had a mole of Texas on his bicep! And there's more...</a>
</div>
</div>
</div>

</div>
</div>

</div>

</div>
<div class='pagination_container'>
<div class="pagination" id="wall_items_pagination"><span class="disabled prev_page">&laquo; Previous</span> <span class="current">1</span> <a href="/profiles/festus?page=2" rel="next">2</a> <a href="/profiles/festus?page=3">3</a> <a href="/profiles/festus?page=4">4</a> <a href="/profiles/festus?page=5">5</a> <a href="/profiles/festus?page=6">6</a> <a href="/profiles/festus?page=2" class="next_page" rel="next">Next &raquo;</a></div>
<div class='loading hidden'></div>
</div>
</div>
</div>

</div>

</div>
<div id='content_footer'></div>
</div>
<div id='sidebar_container'>
<div id='sidebar_header'>
<div class='title'></div>
</div>
<div id='sidebar_content'>
<div class='module_container the_games'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='list_container' id='sidebar_game_container'>
<div class='game_of_months_title_container'></div>
<ul class='list game_of_months jcarousel-skin-tango'>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/7367786/small.png?1360007882')">
<div class='link default_link'><a href="/games/cats-heartbreaker-game" title="Heartbreaker Game"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/7255379/small.png?1358033925')">
<div class='link default_link'><a href="/games/sinjin-sock-hop" title="Sinjin Sock Puppet Game"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/7094958/small.png?1354921421')">
<div class='link default_link'><a href="/games/skate-with-cat-game" title="Skate with Cat promo"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/6890337/small.png?1350691328')">
<div class='link default_link'><a href="/games/jades-zombie-smasher-game" title="Jade's Zombie Smasher"></a></div>
</li>
<li class='item' style="background-image: url('http://staticassets.www.theslap.com/game_of_month_images/6799490/small.png?1348611239')">
<div class='link default_link'><a href="/games/wankos-warehouse-game" title="Wanko's Warehouse"></a></div>
</li>
</ul>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

<div class='module_container the_tunes'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='sidebar_songs_container'>
<a href="/tunes#here-s-to-us" style="background-image: url(http://staticassets.www.theslap.com/images/6938293/sidebar.jpg?1352174971)">Here's 2 Us</a>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

<div class='hottest_pages module_container'>
<div class='module_header'>
<div class='module_title'>

</div>
<div class='module_controls'>
<div class='button_backward'></div>
<div class='button_forward'></div>
</div>
</div>
<div class='module_body_container'>
<div class='module_body'>
<div class='hottest_pages_links_container'>
<a href="/profiles/tori-vega" title="Tori Vega"><img alt="Tori Vega" src="http://staticassets.www.theslap.com/unprocessed_images/146931/original.jpg?1273857395" /></a>
<a href="/profiles/andre-harris" title="Andre Harris"><img alt="Andre Harris" src="http://staticassets.www.theslap.com/unprocessed_images/146930/original.jpg?1273857393" /></a>
<a href="/profiles/trina-vega" title="Trina Vega"><img alt="Trina Vega" src="http://staticassets.www.theslap.com/unprocessed_images/146929/original.jpg?1273857392" /></a>
<a href="/profiles/robbie-shapiro" title="Robbie Shapiro"><img alt="Robbie Shapiro" src="http://staticassets.www.theslap.com/unprocessed_images/146928/original.jpg?1273857391" /></a>
<a href="/profiles/cat-valentine" title="Cat Valentine"><img alt="Cat Valentine" src="http://staticassets.www.theslap.com/unprocessed_images/146927/original.jpg?1273857390" /></a>
<a href="/profiles/beck-oliver" title="Beck Oliver"><img alt="Beck Oliver" src="http://staticassets.www.theslap.com/unprocessed_images/146926/original.jpg?1273857389" /></a>
<a href="/profiles/jade-west" title="Jade West"><img alt="Jade West" src="http://staticassets.www.theslap.com/unprocessed_images/146925/original.jpg?1273857387" /></a>
<a href="/profiles/rex-powers" title="Rex Powers"><img alt="Rex Powers" src="http://staticassets.www.theslap.com/unprocessed_images/146924/original.jpg?1273857386" /></a>
<a href="/profiles/sinjin-van-cleef" title="Sinjin Van Cleef"><img alt="Sinjin Van Cleef" src="http://staticassets.www.theslap.com/unprocessed_images/948376/original.jpg?1281388313" /></a>
<a href="/profiles/erwin-sikowitz" title="Erwin Sikowitz"><img alt="Erwin Sikowitz" src="http://staticassets.www.theslap.com/unprocessed_images/1219697/original.jpg?1284055516" /></a>
<a href="/profiles/lane-alexander" title="Lane Alexander"><img alt="Lane Alexander" src="http://staticassets.www.theslap.com/unprocessed_images/4108536/original.png?1314733249" /></a>
<a href="/profiles/festus" title="Festus"><img alt="Festus" src="http://staticassets.www.theslap.com/unprocessed_images/5635405/original.jpg?1334777370" /></a>
</div>

</div>
<div class='module_body_footer'>

</div>
</div>
<div class='module_footer'></div>
</div>

</div>
<div id='sidebar_footer'></div>

</div>
</div>
<div id='body_shadow_right'></div>
</div>
<div id='body_shadow_bottom'></div>
<div id='footer_container'>
<div id='footer'>
<div id='footer_nav'>
<div class='link_block top_links'>
<a href="/">THE SLAP HOME</a>
<a href="/bump?to=%2Ffaq">FAQ/ABOUT US</a>
</div>
<div class='link_block'>
<a href="/">HOME</a>
<a href="/bump?to=%2Fprofiles">PROFILES</a>
<a href="/bump?to=%2Fclips">CLIPS</a>
<a href="/bump?to=%2Fpix">PIX</a>
<a href="/bump?to=%2Ftunes">TUNES</a>
<a href="/bump?to=%2Fgames">GAMES</a>
</div>
<div class='link_block'>
<a href="http://www.nick.com/legal/nickelodeon-privacy-policy/" rel="external">Privacy Policy/Your California Privacy Rights (updated 2/9/2016)</a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com%2Fclub%2Fparents-terms-of-use.html" rel="external">Terms of Use</a>
</div>
<div class='link_block'>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com%2Finfo%2Fcopyright.html" rel="external">Copyright Compliance Policy</a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com%2Finfo%2Fsafety-guide.html" rel="external">Safety Guide</a>
</div>
<div class='link_block'>
<a href="/bump?to=http%3A%2F%2Fsrp.mtvn.com%2Fsitefaq.html" class="viacom" rel="external">Ad Choices</a>
</div>
<div class='link_block'>
&copy; Copyright 2018 Viacom International Inc. All Rights Reserved
</div>
<div class='link_block'>
<div class='friends_title'>
Friends of Victorious
</div>
<div class='friends_container'>
<a href="/bump?to=http%3A%2F%2Fwww.icarly.com"><img alt="SplashFace" src="/images/friends/logo_splashface.gif?1451922775" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.icarly.com"><img alt="iCarly" src="/images/friends/logo_icarly.png?1451922775" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com"><img alt="Nick" src="/images/friends/logo_nick_com.png?1451922775" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.nick.com"><img alt="Nickelodean Kids &amp; Teens" src="/images/friends/logo_nick_kids_teens.gif?1451922775" /></a>
<a href="/bump?to=http%3A%2F%2Fwww.icarly.com"><img alt="SplashFace" src="/images/friends/logo_zaplook.gif?1451922775" /></a>
</div>
</div>
</div>

</div>
</div>
</div>

</body>
</html>

